<div style="text-align: -webkit-center; padding: 20px 5px;">
	<div style="border: 5px solid #CDDDD7;max-width: 80vw;border-radius: 5px;width: 890px;padding: 25px;">
		<span style="font-family: Allura;
        font-size: 36px;
        font-weight: 400;
        line-height: 52px;
        text-align: center;
        color: #4D5C52;
        padding-bottom: 10px;">
			CONDICIÓN DE VENTA Y SERVICIO
		</span>
		<br>
		<br>
		<div style="text-align: justify;">
			<span style="font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #4D5C52;">
				Estas Condiciones de compra son aplicables a cualquier compra que realice a
				través de nuestra web. No está permitido hacer ninguna compra a través de la
				web a menos que haya confirmado que ha leído y aceptado estas Condiciones y
				nuestra política de privacidad y Aviso legal, mediante la marcación de las
				correspondientes casillas. Las Condiciones de compra estarán a su
				disposición antes de confirmar cualquier compra.
				<br>
				<br>
				Estas Condiciones de venta describen las obligaciones y derechos que se
				generan con nuestros clientes cuando compran o contratan cualquier curso a
				través de nuestra web https://claranutricion.com. El hecho de marcar la
				citada casilla de confirmación supone la plena aceptación de las presentes
				Condiciones por parte del cliente.
				<br>
				<br>
				La información incluida en estas Condiciones de compra se completa, por
				tanto, con la información legal incluida en nuestro Aviso Legal y en
				nuestras Políticas de privacidad.
				<br>
				<br>
				<b>
					1. Objeto y titularidad de la web
				</b>
				<br>
				La web https://claranutricion.com (en adelante la web) es titularidad de
				CLARA FUERTES CAMPRUBI. con domicilio en Paseo del espigol 5, Sitges, NIF
				43559198G, teléfono 678 996 357 y correo electrónico
				info.claranutricion.com. Clara Fuertes Camprubi está colegiada con el número
				de colegiada K-000866.
				<br>
				<br>
				<b>
					2. Información sobre nuestros servicios
				</b>
				<br>
				En nuestra página web se publican los cursos de formación sobre nutrición
				ofrecidos por la empresa en cada momento. No obstante, nos reservamos el
				derecho de hacer modificaciones en cualquier momento, sin embargo, los
				cursos de formación se corresponderán con la descripción publicada en el
				momento en que el cliente realice la compra o contratación a través de la
				web. El precio final será el que conste en la web en el momento de su
				compra.
				<br>
				<br>
				<b>3. Menores de edad</b>
				<br>
				Los cursos de formación publicados y comercializadas a través de nuestra web
				están dirigidos a adultos. En cualquier caso, los menores de edad no están
				autorizados para hacer ninguna compra o contratación online a través de
				nuestra web sin la autorización expresa de un adulto ni, en ningún caso,
				para realizar ningún pago. Al comprar o contratar cualquiera de nuestras
				actividades publicadas en la web el Usuario confirma que es mayor de edad,
				reservándose la empresa la facultad de realizar las comprobaciones oportunas
				si tiene sospechas fundadas en sentido contrario.
				<br>
				<br>
				<b>
					4. Proceso de compra o contratación
				</b>
				<br>
				Para comprar online cualquiera de los servicios o paquetes de servicios que
				comercializamos, deberá entrar en la web https://claranutricion.com y
				seleccionar la sección “Cursos para ti” “Sana tus digestiones” “Perdida de
				grasa” “Único asesoramiento”.
				<br>
				<br>
				Una vez dentro de la sección que hemos nombrado anteriormente podrá
				visualizar todos los cursos, disponibles y contratables online, así como sus
				características, contenido y precio. El usuario podrá pagar mediante la
				pasarela de pago. En caso contrario podrá suprimir cursos si no ha realizado
				el pago introduciendo sus datos bancarios.
				<br>
				<br>
				Una vez realizado el pago de Sana tus digestiones, Perdida de grasa o Único
				asesoramiento, se pondrá en contacto con el usuario en un plazo de
				24/48 horas.
				<br>
				Para los cursos, se le dará acceso inmediato para poder ver todo el
				contenido de dicho curso.
				<br>
				Deberá confirmar que ha leído y aceptado el Aviso Legal y las presentes
				Condiciones de compra online así como nuestra política de privacidad.
				<br>
				<br>
				La forma de pago será en tarjeta aceptadas(VISA, MASTERCARD, AMERCIAN…) a
				los efectos de realizar el pago. En su caso, se le pedirá, por parte de su
				banco, conformidad del mismo mediante el sistema que tengan establecido. La
				plataforma de pagos comprobará que los datos de pago son correctos y le
				confirmará si la autenticación es correcta, habiéndose efectuado en ese
				momento la compra.
				<br>
				Con la confirmación del pago constituye, para el comprador, la confirmación
				y aceptación documental de la compra.
				<br>
				<br>
				<b>
					5. Comprobación y/o subsanación de los datos indicados:
				</b>
				<br>
				Es importante que compruebe los detalles de su pedido. En caso de
				discrepancia entre su pedido y los datos incluidos en la confirmación o
				detecte errores en los datos introducidos para realizar su pedido, póngase
				en contacto con nosotros a través de nuestro correo electrónico
				info&#64;claranutricion.com en el plazo máximo de 48 horas.
				<br>
				<br>
				<b>6. Precios</b>
				<br>
				Los precios de nuestros cursos de formación se indican en la web con todos
				los impuestos (IVA) incluidos
				Nos reservamos el derecho de modificar los precios publicados en la web en
				cualquier momento, sin embargo, el precio a pagar por los cursos de
				formación será el indicado en el momento en que el cliente realiza la compra
				a través de la web.
				<br>
				<br>
				<b>7. Disponibilidad</b>
				<br>
				Si el curso publicado en la web no estuviera disponible temporal o
				definitivamente, se indicará en la web por lo que el sistema no permitirá su
				contratación online.
				<br>
				<br>
				En caso de que, por cualquier motivo, se produzca una indisponibilidad total
				o parcial del curso una vez se haya contratado o adquirido por el cliente,
				se comunicará al comprador y se procederá a la anulación de la venta,
				reembolsando el precio pagado por el mismo.
				<br>
				En cualquier caso, una vez adquiridos los cursos, los mismos estarán
				disponibles en su cuenta privada durante un plazo máximo de dos meses desde
				su adquisición.
				<br>
				<br>
				<b>8. Pago</b>
				<br>
				Una vez indicados los datos requeridos y marcadas las casillas
				correspondientes, al clicar en “realizar el pedido” será redirigido a la
				pasarela de pagos en la que podrá indicar los datos de su tarjeta bancaria
				(Visa, Mastercard) a los efectos de realizar el pago. En su caso, se le
				pedirá, por parte de su banco, conformidad del mismo mediante el sistema que
				tengan establecido. La plataforma de pagos comprobará que los datos de pago
				son correctos y le confirmará si la autenticación es correcta, habiéndose
				efectuado en ese momento la compra.
				<br>
				De acuerdo con la legislación en vigor y para la seguridad y
				confidencialidad de tus datos, la web no almacenará dato bancario o de
				tarjeta de crédito o similar alguno a lo largo del proceso de compra.
				<br>
				<br>
				<b>
					9. Puesta a disposición de los cursos
				</b>
				<br>
				Una vez el cliente haya finalizado la compra del curso elegido, este estará
				disponible para su visualización, inmediatamente después de haber finalizado
				el proceso de contratación, El acceso al curso por parte del cliente
				supondrá su consentimiento al inicio de la ejecución del contrato.
				<br>
				<br>
				<b>
					10. Derecho de desistimiento
				</b>
				<br>
				El derecho de desistimiento es la facultad del consumidor de dejar sin
				efecto el contrato, notificándolo en el plazo legalmente previsto, sin
				necesidad de justificar su decisión ni penalización alguna. No obstante,
				para la prestación de determinados servicios o ejecución de según que
				contratos, el derecho de desistimiento podrá ser exceptuado.
				<br>
				<br>
				En el presente caso, de conformidad con lo indicado en el art. 103 letra m)
				de la LGDCU, el derecho de desistimiento estará exceptuado por la naturaleza
				del ser suministrado, esto es:
				<br>
				<br>
				“m) El suministro de contenido digital que no se preste en un soporte
				material cuando la ejecución haya comenzado con el previo consentimiento
				expreso del consumidor y usuario con el conocimiento por su parte de que en
				consecuencia pierde su derecho de desistimiento”.
				<br>
				<br>
				No obstante lo anterior, el derecho de desistimiento estará vigente
				mientras, dentro de los 14 días siguientes al de la compra del curso, el
				cliente no acceda al contenido del mismo, en cuyo caso perderá su derecho de
				desistimiento. En caso de querer ejercer su derecho de desistimiento el
				cliente deberá enviar un email a info&#64;claranutricion.com o una
				comunicación a Clara Fuertes Camprubi. con domicilio en Paseo del espigol,
				5, antes del vencimiento del indicado plazo, haciendo constar:
				<br>
				<br>
				La información que nos deberá facilitar para ejercer su derecho de
				desistimiento, en caso de que corresponda, será la siguiente:
				<br>
				Modelo de formulario de desistimiento
				<br>
				(sólo debe cumplimentar y enviar el presente formulario si desea desistir
				del contrato)
				<br>
				- A la atención de (aquí se deberá insertar el nombre del empresario, su
				dirección completa y su dirección de correo electrónico):
				<br>
				- Por la presente le comunico/comunicamos (*) que desisto de mi/desistimos
				de nuestro (*) contrato de venta del siguiente bien/prestación del siguiente
				servicio (*)
				<br>
				- Pedido el/recibido el (*)
				<br>
				- Nombre del consumidor y usuario o de los consumidores y usuarios
				<br>
				- Domicilio del consumidor y usuario o de los consumidores y usuarios
				<br>
				- Firma del consumidor y usuario o de los consumidores y usuarios (solo si
				el presente formulario se presenta en papel)
				<br>
				- Fecha
				<br>
				<br>
				En caso de desistimiento por su parte, le devolveremos todos los pagos
				recibidos de usted, incluidos los gastos de entrega (con la excepción de los
				gastos adicionales resultantes de la elección por su parte de una modalidad
				de entrega diferente a la modalidad menos costosa de entrega ordinaria que
				ofrezcamos) sin ninguna demora indebida y, en todo caso, a más tardar 14
				días naturales a partir de la fecha en la que se nos informe de su decisión
				de desistir del presente contrato. Procederemos a efectuar dicho reembolso
				utilizando el mismo medio de pago empleado por usted para la transacción
				inicial, a no ser que haya usted dispuesto expresamente lo contrario; en
				todo caso, no incurrirá en ningún gasto como consecuencia del reembolso.
				<br>
				<br>
				<b>11. Garantía</b>
				<br>
				El consumidor dispone de una garantía legal sobre los contenidos digitales
				suministrados para el caso de que no se consideren conformes con lo
				establecido en el contrato que, si es aplicable, podrá solicitar a la
				empresa de conformidad con lo establecido en el art. 114 y ss. de la LGDCU.
				<br>
				<br>
				<b>12. Idioma</b>
				<br>
				Las presentes condiciones de venta han sido redactadas originalmente en
				castellano.
				<br>
				<br>
				<b>
					13. Modificación de las Condiciones de contratación online.
				</b>
				<br>
				Nos reservamos el derecho de modificar estas Condiciones de venta y
				contratación online en cualquier momento. Las Condiciones válidas serán las
				que aparezcan publicadas en la web en cada momento. En el supuesto de que
				alguno de los apartados de estas Condiciones sea declarado inválido, nulo,
				o, por cualquier causa, ineficaz, dichos términos o condiciones se
				entenderán excluidos sin que dicha declaración pueda afectar a la validez ni
				a la exigibilidad del resto de condiciones.
				<br>
				<br>
				<b>14. Reclamaciones</b>
				<br>
				En caso de que tenga cualquier duda, sugerencia o reclamación, puede ponerse
				en contacto con la empresa remitiendo un email a info&#64;claranutricion.com
				indicando el motivo de la misma. En caso de que considere que su reclamación
				no ha sido atendida, podrá presentar una reclamación en materia de consumo
				en la oficina municipal de consumo más próxima a su domicilio.
				En su caso, también podrá presentar una reclamación ante la plataforma
				europea de resolución de conflictos en línea a la que podrá acceder a través
				del siguiente enlace:
				<br>
				https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=ES
				<br>
				También ponemos a su disposición hojas de reclamaciones a los efectos de
				que, si lo considera conveniente, nos las haga llegar, a las que podrá
				acceder a través del siguiente enlace:
				<br>
				https://www.comunidad.madrid/servicios/consumo/presentar-reclamacion-consumo
				<br>
			</span>
		</div>
	</div>
</div>
