<div class="backscreen">
</div>
<div class="body">
    <div class="row">
        <div class="col">
            <img src="assets/v97_21.png" class="v97" alt>
        </div>
        <div class="col e6">
            Soy especialista en hacer que mujeres como tú,
            recuperen su bienestar.
            <br>
            Mi objetivo es que le digas adiós a la inflamación y que
            vuelvas a disfrutar de las comidas y las reuniones con amigos.
            <br>
            ¡Que la comida y el dolor no te roben toda tu energía!
        </div>
    </div>
    <br>
    <div class="e5">
        ¿Cansada de seguir buscando la fórmula mágica que resuelva tu hinchazón
        abdominal?
    </div>
    <div class="e9">
        ¿No toleras la comida, y no haces más que restringir alimentos?<br>
        ¿Tienes gases e hinchazón?<br>
        ¿Tienes diarrea o estreñimiento?<br>
        ¿Eres dependiente de los antiácidos, los laxantes y otros medicamentos
        que no te hacen el efecto que esperas?<br>
        ¿Tienes problemas de piel?<br>
        ¿Tienes mucha hambre a todas horas, y mucha apetencia por el dulce?<br>
        ¿Sufres de alguna enfermedad autoinmune o problemas crónicas?<br>
        ¿Tu peso cambia y no consigues bajar de peso?<br>
        ¿Tu estado de ánimo es una montaña rusa?
    </div>
    <br>
    <div class="e7">
        ¿Has buscado y buscado información, has probado cientos de productos, y
        aún sigues creyendo que no solucionas el problema porque no has
        encontrado el que va bien?
        <br>
        Déjame decirte que no lo vas a encontrar.
        <br> <br>
        ¡Sabes que ha llegado la hora de probar algo distinto! Darle la vuelta y
        coger realmente las riendas de tu alimentación, entendiendo qué es lo
        que necesitas.
        <br> ¡Sanar tu intestino desde la raíz!
    </div>
    <br>
    <div class="e7">
        Tienes que saber algo:
    </div>
    <br>
    <div class="e7">
        Todas las enfermedades tienen su origen en el intestino
        <br>
        Quédate y te explico cómo puedo ayudarte
    </div>
    <br> <br>
    <button class="Front" type="button">
        QUIERO EMPEZAR
    </button>
    <br>
    <div class="e9" style="position: relative;">
        ¿Cuántas veces te preguntas que no comes tanto para lo hinchada que te
        encuentras?
        <img src="assets/v51_294.png" alt
            style="position: absolute;width: 50%;max-width: 350px; height: auto;left: 70%;top: -100px;z-index: -1;">
    </div>
    <br>
    <div class="e9">
        Intentas controlar lo que comes, haces grandes esfuerzos, lees trucos,
        te restringes mucho la comida, te has quitado ya varios alimentos, pero
        aun así no consigues reconciliarte con tu barriga. <br>
        Te hinchas como un globo después de cada comida, te levantas plana pero
        después por la noche no reconoces tu barriga, algo no va bien.
        <br> No sabes que más hacer. La respuesta es LA INFLAMACIÓN.
    </div>
    <button class="Front"type="button">
        QUIERO EMPEZAR
    </button>
    <br>
    <div class="e9">
        Vamos a controlar los síntomas para que recuperes tu bienestar mientras
        tratamos la causa del problema, con el fin de recuperar tu salud
        digestiva, el origen de todo.
    </div>
    <br>
    <div class="e6" style="position: relative;">
        <br><br><br>
        No concibo mi vida sin ayudar a otras personas a encontrar su bienestar,
        tanto físico como mental. A ser como quieren ser para vivir en
        congruencia con sus valores y contribuir en su felicidad
        <br><br>
        Te alimentas cada día y varias veces al día
        <br>
        ¡Es la actividad que más haces a lo largo de tu vida!
        <br>
        Está claro, para ser feliz, ¡necesitas dominar este aspecto
        de tu vida!
        <br><br>
        Es la manera que tenemos de relacionarnos con los demás, de
        celebrar, y nuestra fuente de energía para la vida.
        <br>
        ¡Sobran motivos para entender la importancia que tiene tanto a nivel
        físico como mental!
        <br> <br>
        Y no
        encuentro mejor satisfacción para mí que poder contribuir a que esta
        parte tan importante de tu vida mejore.
        <img src="assets/v61_309.png" alt
            style="position: absolute;width: 100%;height: 500px;left: 0%;top: 0;z-index: -2;opacity: 0.5;">
    </div>
    <br><br><br>
    <div class="e10">
        ¿Qué conseguirás con mi acompañamiento?
    </div>
    <br>
    <div class="e8" style="position: relative;">
        <img src="assets/v97_19.png" alt
            style="position: absolute;right: -50px;top: 250px;opacity: 0.7;"
            class="computerImg">
        <div>
            <li>
                Tener claro cuál es tu proceso, qué ocurre y qué necesitas para
                recuperar tu bienestar
            </li>
            <li>
                Tener un plan 100% personalizado.
            </li>
            <li>
                Elaboro un menú semanal ejemplo respetando tus gustos y
                preferencias
            </li>
            <li>
                Elaboro un menú semanal ejemplo respetando tus gustos y
                preferencias
            </li>
            <li>
                Te doy alternativas de desayunos
            </li>
            <li>Te doy listado de alimentos
                aconsejados y desaconsejados si así lo requiere tu caso
            </li>
            <li>Te
                recomiendo los mejores suplementos en cada etapa o fase para
                facilitar tu recuperación, si tu caso lo requiere
            </li>
            <li>Te enseño las
                bases de la alimentación antiinflamatoria para que tras este
                proceso
                haya un cambio en tu alimentación
            </li>
            <li>Te propongo cambios de hábitos que
                mejoren tu salud digestiva
            </li>
            <li>Te entrego recomendaciones específicas en
                caso de tener patologías asociadas
            </li>
            <li>Te acompaño en este proceso de
                cambio.
            </li>
            <li>Soy tu guía Estamos en contacto para valorar tu proceso.
            </li>
            <li>Tendremos revisiones cada 15 días
            </li>
            <li>Resuelvo tus dudas e inquietudes
                en tu a día a día, estoy contigo de lunes a viernes
            </li>
            <li>Te explico y te
                formo para que entiendas cómo debes comer, ¡ya no más dudas! Te
                entrego mini-cursos porqué quiero que aprendas! Con un total de
                más
                de 120 minutos de vídeos.
            </li>
            <li>Te doy herramientas basadas en el Coach
                Nutricional para que los cambios que hagas sean duraderos en el
                tiempo. ¡Ya no más dietas! ¡Esta es la definitiva!
            </li>
            <li>Te propongo
                ejercicios para que integres el cambio y lo entiendas. ¡Te va a
                encantar tu nueva mentalidad!
            </li>
        </div>
    </div>
    <br>
    <div class="e10">
        Imagina...
    </div>
    <div>
        <li>
            Imagina mirarte al espejo y estar a gusto con lo que ves y sientes
            Imagina sentirte deshinchada de nuevo </li>
        <li>
            Imagina sentirte con más energía </li>
        <li>
            Imagina conocer las bases de la alimentación antiinflamatoria e
            incorporarlas a tu vida </li>
        <li>
            Imagina aprovechar esto para cambiar tus hábitos y aprender una
            nueva forma de alimentarte que va bien para cualquier tipo de
            patología </li>
        <li>
            Imagina reconciliarte con tu cuerpo y tus digestiones </li>
        <li>
            Imagina aumentar tu autoestima y confianza, estar contenta porque
            por fin estás haciendo aquello que sabes que te hace sentir bien y
            porque por fin
            te priorizas por encima de los demás </li>
        <li>
            Imagina dominar algo que harás toda tu vida, varias veces a lo
            largo del día. ¡Vivir con la tranquilidad de saber que lo estás
            haciendo bien!
        </li>
    </div>
    <br>
    <div class="e10">
        Esto es para ti si...
    </div>
    <div>
        <li>
            Sientes que ha llegado el momento de hacer un cambio distinto, pero
            no sabes cómo enfocarlo, por dónde empezar. Necesitas una persona
            que te guíe
        </li>
        <li>
            Estás cansada de leer infinidad de consejos, recomendaciones, listas
            interminables de alimentos que no sabes cómo incorporarlos a tu vida
        </li>
        <li>
            Quieres una visión integrativa, que permita buscar las causas que te
            han llevado a esta situación. ¡Basta de parchesTe sientes hinchada,
            inflamada, sin energía. El enfoque antiinflamatorio es el que
            necesitas.
        </li>
        <li>
            Sufres alguna patología digestiva o autoinmune. El origen de toda
            enfermedad autoinmune y crónica está en el intestino.
        </li>
        <li>
            Sufres gastritis, diarrea, estreñimiento, pesadez, malas digestiones
        </li>
        <li>
            Quieres dominar tu nutrición de una vez por todas
        </li>
        <li>
            Estas dispuesta a empezar a priorizarte, ¡dejando las excusas a un
            lado!
        </li>
        <li>
            ¡Quieres transformarte y que esta vez sea la definitiva!
        </li>
    </div>
    <br>
    <div class="e10">
        Esto NO es para ti si:
    </div>
    <div>
        <li>
            Estás buscando una mejora rápida y de forma milagrosa
        </li>
        <li>
            Quieres la solución a tu situación digestiva sin hacer ningún cambio
        </li>
        <li>
            Buscas el nombre de un suplemento que resuelva todos tus males
        </li>
    </div>
    <div class="e2">
        ¿Lista para empezar tu transformación?
    </div><br>
    <button class="Front"type="button">
        QUIERO EMPEZAR
    </button>
</div>
<style>

</style>