<div style="padding: 25px;">
    <div class="row page">
        <div style="border: 5px solid #CDDDD7; border-radius: 5px;padding: 2.5%;" class="divider">
            <div style="text-align: center;">
                <span style="font-family: Poppins;
            font-size: 18px;
            font-weight: 700;
            line-height: 26px;
            text-align: center;
            color: #4D5C52;
            ">
                    ¿De qué trata el acompañamiento?
                </span>
            </div>
            <br>
            <span style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        text-align: justified;
        color: #4D5C52;">
                · <b>Entrevista inicial</b> mediante cuestionario, que incluye todas las preguntas que necesito para
                conocer tu
                caso en profundidad. Además, puedes enviarme un email con todas tus inquietudes. <br><br>
                · Reviso mediante un <b>registro alimentario</b> los hábitos actuales, para valorar qué podemos mantener
                y qué
                deberíamos modificar para alcanzar tus objetivos.<br><br>
                · Reviso las últimas analíticas o pruebas complementarias.<br><br>
                · Te elaboro un plan <b>100% personalizado.</b><br><br>
                · Te envío el plan por email con un <b>vídeo explicativo</b> del mismo.
            </span>
        </div>
        <div class="divider img izquierda">
            <img src="assets/asesoramiento/NOTAS.png" alt="">
        </div>
    </div>

    <div class="row page">
        <div class="divider img derecha">
            <img src="assets/asesoramiento/PLAN.png" alt="">
        </div>

        <div style="border: 5px solid #CDDDD7; border-radius: 5px;padding: 2.5%;" class="divider">
            <div style="text-align: center;">
                <span style="font-family: Poppins;
            font-size: 18px;
            font-weight: 700;
            line-height: 26px;
            text-align: center;
            color: #4D5C52;
            ">
                    ¿Qué incluye en plan?
                </span>
            </div>
            <br>
            <span style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        text-align: justified;
        color: #4D5C52;">
                · <b> Calculo tus necesidades</b> y elaboro un plan que se adapte a ti y a tus necesidades al 100% en
                base a la
                entrevista. <br><br>
                · Para elaborarlo tengo en cuenta tus objetivos, tus hábitos, tus obstáculos, tus gustos, tus horarios,
                tus preferencias, patologías asociadas, etc.<br><br>
                · Te entrego un <b> menú tipo con las cantidades necesarias para lograr tu objetivo</b> y elaboro un
                <b>menú
                    ejemplo</b> respetando tus gustos.<br><br>
                · Te explico como hacer modificaciones del menú con equivalencias para que tengas todas las
                combinaciones
                que quieras, no te aburrirás,<b> ¡Hay infinidad de combinaciones!</b><br><br>
                · Te entrego <b>recomendaciones específicas</b> en caso de tener patologías asociadas.<br><br>
                · Tienes 48 horas para hacerme las consultas que necesites vía e-mail para que resolvamos las dudas que
                te
                puedan surgir al recibir las pautas. ¡Aunque te adelanto que está todo bien definido y explicado en el
                vídeo, pocas dudas suelen quedar!
            </span>
        </div>

    </div>


    <div class="row page">


        <div style="border: 5px solid #CDDDD7; border-radius: 5px;padding: 2.5%;" class="divider">
            <div style="text-align: center;">
                <span style="font-family: Poppins;
            font-size: 18px;
            font-weight: 700;
            line-height: 26px;
            text-align: center;
            color: #4D5C52;
            ">
                    ¿Qué NO incluye el plan?
                </span>
            </div>
            <br>
            <span style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        text-align: justified;
        color: #4D5C52;">
                · No incluye un seguimiento del proceso por parte del profesional. <br><br>
                · No se resuelven dudas más allá del tiempo estipulado.
            </span>
        </div>
        <div class="divider img izquierda">
            <img src="assets/asesoramiento/SOFA.png" alt="">
        </div>
    </div>
</div>
<br>
<div>
    <div style="background-color: #F6F5F5; width: 100%;padding: 2.5% 10%;">
        <span style="font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        text-align: center;
        color: #4D5C52;">
            Está opción es para ti si…
        </span><br> <br>
        <span style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        text-align: justified;
        color: #4D5C52;">
            ✔ No quieres un seguimiento.
            <br> <br>
            ✔ Tienes claro que no necesitas un acompañamiento y guía para alcanzar tus objetivos y lo único que te frena
            en tu proceso es no tener calculados tus requerimientos energéticos.
        </span>

    </div>
    <br>
    <div style="text-align: center;">
        <span class="spanhover" style="font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        text-align: center;
       cursor: pointer;
        " (click)="openModal()">
            Precio del asesoramiento personalizado de pérdida de grasa:
            <span style="color: #7DAD9B;">
                67 euros </span>
        </span><br>
        <img src="assets/asesoramiento/Vector 1.png" alt style="width: 100%;">
        <br>
        <div>
            <button (click)="openModal()">
                <span style=" font-family: Reem Kufi Ink; font-size: 11px; font-weight: 700; line-height: 30px;
            text-align: center; color: #6A6056;">
                    ¡EMPECEMOS!
                </span>
            </button>
        </div>
        <br>
        <div>
            <button (click)="openModal()">
                <span style="font-family: Reem Kufi Ink;
                font-size: 11px;
                font-weight: 700;
                line-height: 30px;
                text-align: center;
                color: #6A6056;">
                    ¿TIENES ALGUNA DUDA?
                </span>
            </button>
        </div>
    </div>
    <br><br>
</div>