<div style="padding: 25px;" ngSkipHydration>
	<div class="row page">
		<div class="divider dtext">
			<span style="text-align: -webkit-center;">
				<p style="font-family: Poppins;
				font-size: 18px;
				font-weight: 700;
				line-height: 26px;
				text-align: center;
				color: #4D5C52;
				background-image: url(../../../../../assets/asesoramiento/linea1.png);
				background-position-y: bottom;
				background-size: contain;
				background-repeat: no-repeat;
				padding-bottom: 15px;
				width: fit-content;
				">
					¿De qué trata el acompañamiento?
				</p>
			</span>
			<h2 style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        text-align: justify;
        color: #4D5C52;">
				·
				<b> Entrevista inicial</b> mediante cuestionario, que incluye todas las
				preguntas
				que necesito para conocer tu caso en profundidad. Además, puedes enviarme un
				email con todas tus inquietudes.
				<br>
				<br>
				· Reviso mediante un <b>registro alimentario</b> los hábitos actuales, para
				valorar
				qué podemos mantener y qué deberíamos modificar para alcanzar tus objetivos.
				<br>
				<br>
				· Reviso las últimas analíticas o pruebas complementarias.
				<br>
				<br>
				· Te <b>elaboro un plan 100% personalizado.</b>
				<br>
				<br>
				· Te <b>envío el plan por email con un
					vídeo explicativo</b>
				del mismo.
			</h2>
		</div>
		<div class="divider img izquierda">
			<img src="assets/asesoramiento/perd1.webp"
				alt="Foto fondo Asesoramiento Perdida de grasa 1 Clara Fuertes Nutrición">
		</div>
	</div>

	<div class="row page">
		<div class="divider img derecha">
			<img src="assets/asesoramiento/perd2.webp"
				alt="Foto fondo Asesoramiento Perdida de grasa 2 Clara Fuertes Nutrición">
		</div>
		<div class="divider dtext">
			<span style="text-align: -webkit-center;">
				<p style="font-family: Poppins;
				font-size: 18px;
				font-weight: 700;
				line-height: 26px;
				text-align: center;
				color: #4D5C52;
				background-image: url(../../../../../assets/asesoramiento/linea2.png);
				background-position-y: bottom;
				background-size: contain;
				background-repeat: no-repeat;
				padding-bottom: 15px;
				width: fit-content;
				">
					¿Qué incluye en plan?
				</p>
			</span>
			<span style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        text-align: justify;
        color: #4D5C52;">
				·
				<b>
					Calculo tus necesidades
				</b>
				y elaboro un plan que se adapte a ti y a tus necesidades al 100% en
				base a la
				entrevista.
				<br>
				<br>
				· Para elaborarlo tengo en cuenta tus objetivos, tus hábitos, tus
				obstáculos, tus gustos, tus horarios,
				tus preferencias, patologías asociadas, etc.
				<br>
				<br>
				· Te entrego un
				<b>
					menú tipo con las cantidades necesarias para lograr tu objetivo
				</b>
				y elaboro un
				<b>
					menú
					ejemplo
				</b>
				respetando tus gustos.
				<br>
				<br>
				· Te explico como hacer modificaciones del menú con equivalencias para que
				tengas todas las
				combinaciones
				que quieras, no te aburrirás,
				<b>
					¡Hay infinidad de combinaciones!
				</b>
				<br>
				<br>
				· Te entrego
				<b>
					recomendaciones específicas
				</b>
				en caso de tener patologías asociadas.
				<br>
				<br>
				· Tienes 48 horas para hacerme las consultas que necesites vía e-mail para
				que resolvamos las dudas que
				te
				puedan surgir al recibir las pautas. ¡Aunque te adelanto que está todo bien
				definido y explicado en el
				vídeo, pocas dudas suelen quedar!
			</span>
		</div>

	</div>

	<div class="row page">
		<div class="divider dtext">
			<h2 style="text-align: -webkit-center;">
				<p style="font-family: Poppins;
				font-size: 18px;
				font-weight: 700;
				line-height: 26px;
				text-align: center;
				color: #4D5C52;
				background-image: url(../../../../../assets/asesoramiento/linea3.png);
				background-position-y: bottom;
				background-size: contain;
				background-repeat: no-repeat;
				padding-bottom: 15px;
				width: fit-content;
				">
					¿Qué NO incluye el plan?
				</p>
			</h2>
			<span style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        text-align: justify;
        color: #4D5C52;">
				· No incluye un seguimiento del proceso por parte del profesional.
				<br>
				<br>
				· No se resuelven dudas más allá del tiempo estipulado.
			</span>
		</div>
		<div class="divider img izquierda">
			<img src="assets/asesoramiento/perd3.webp"
				alt="Foto fondo Asesoramiento Perdida de grasa 3 Clara Fuertes Nutrición">
		</div>
	</div>
</div>
<br>
<div>
	<div style="background-color: #F6F5F5; width: 100%;padding: 2.5% 10%;">
		<p style="font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        text-align: center;
        color: #4D5C52;">
			Está opción es para ti si…
		</p>
		<span style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        text-align: justify;
        color: #4D5C52;">
			✔ No quieres un seguimiento.
			<br>
			<br>
			✔ Tienes claro que no necesitas un acompañamiento y guía para alcanzar tus
			objetivos y lo único que te frena
			en tu proceso es no tener calculados tus requerimientos energéticos.
		</span>

	</div>
	<br>
	<div style="text-align: center;">
		<h1 (click)="ComprarCurso()"
			class="spanhover"
			style="font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        text-align: center;
        cursor: pointer;
        padding: 15px;
        ">
			Precio del asesoramiento personalizado de pérdida&nbsp;de&nbsp;grasa:
			<span style="color: #7DAD9B;">67&nbsp;euros</span>
		</h1>
		<br>
		<img src="assets/asesoramiento/Vector 1.png"
			alt="vector"
			style="width: 100%;height: 10px;margin: 20px 0px;">
		<br>
		<div>
			<button (click)="ComprarCurso()">
				<span
					style=" font-family: Reem Kufi Ink; font-size: 12px; font-weight: 700; line-height: 30px;
            text-align: center; color: #6A6056;vertical-align: middle;">¡EMPECEMOS!</span>
			</button>
		</div>
		<br>
		<div>
			<button (click)="openModal()">
				<span style="font-family: Reem Kufi Ink;
                font-size: 12px;
                font-weight: 700;
                line-height: 30px;
                text-align: center;
                color: #6A6056;vertical-align: middle;">
					¿TIENES ALGUNA DUDA?
				</span>
			</button>
		</div>
	</div>
	<br>
	<br>
</div>
