<div class="dialog">
    <mat-dialog-content>
        <ng-container *ngIf="!enviado; else elseTemplate">









            <p mat-dialog-title
                style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                <strong><span style='font-size:21px;font-family:"Bradley Hand ITC";'>&iexcl;Me encantar&iacute;a
                        ayudarte!</span></strong>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                <span style='font-size:16px;line-height:107%;font-family:"Segoe UI",sans-serif;'>Si me dejas tu mensaje
                    me pondr&eacute; en contacte contigo para facilitarte toda la informaci&oacute;n
                    qu&eacute;</span><span
                    style='font-size:19px;line-height:107%;font-family:"Segoe UI",sans-serif;'>&nbsp;</span><span
                    style='font-size:16px;line-height:107%;font-family:"Segoe UI",sans-serif;'>necesitas</span>
            </p>


            <mat-form-field>
                <mat-label> Tu Nombre </mat-label>
                <input matInput [(ngModel)]="name">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label> Tu Correo </mat-label>
                <input matInput [(ngModel)]="email">
            </mat-form-field>

            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'>
                <strong><span style='font-size:16px;font-family:"Segoe UI",sans-serif;'>Necesito ayuda
                        con&hellip;</span></strong><em><span style='font-family:"Segoe UI",sans-serif;'>&nbsp;(y que
                        permita clickar una de las 2 opciones):</span></em>
            </p>
            <div style="text-align: start; padding-left: 25px;">
                <input type="checkbox" (input)="num=1;check()" [checked]="num===1"
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                <strong><em><span style='font-family:"Segoe UI",sans-serif;'>P&eacute;rdida de grasa y
                            alimentaci&oacute;n antiinflamatoria</span></em></strong>
                <br>
                <input type="checkbox" (input)="num=2;check()" [checked]="num===2"
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                <em><span style='font-family:"Segoe UI",sans-serif;'><strong>Patolog&iacute;a
                            digestiva&nbsp;</strong></span></em>
            </div>


            <br>



            <mat-form-field style="width: 100%;">
                <textarea matInput placeholder="Algo que me quieras comentar" [(ngModel)]="ayuda"></textarea>
            </mat-form-field>
            <br>
        </ng-container>
        <ng-template #elseTemplate>
        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;line-height:115%;'><strong><span style='font-size:27px;line-height:115%;font-family:"Bradley Hand ITC";'>&iexcl;Gracias por interesarte por mi trabajo!</span></strong></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;line-height:115%;'><strong><em><span style='font-size:27px;line-height:115%;font-family:"Bradley Hand ITC";'>&nbsp;</span></em></strong></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;line-height:115%;'><em><span style='font-family:"Segoe UI",sans-serif;'>En la mayor brevedad posible contactar&eacute; contigo v&iacute;a email para facilitarte toda la informaci&oacute;n sobre los acompa&ntilde;amientos y que puedas resolver tus dudas</span></em></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:115%;'><em>&nbsp;</em></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;'><em>&nbsp;</em></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'><em><span style='font-size:27px;font-family:"Bradley Hand ITC";color:#F07878;'>&ldquo;Deja de anhelar ser diferente. <strong>SE diferente.</strong></span></em></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'><strong><em><span style='font-size:27px;font-family:"Bradley Hand ITC";color:#F07878;'>Transformar tu vida</span></em></strong><em><span style='font-size:27px;font-family:"Bradley Hand ITC";color:#F07878;'>&nbsp;y vivir como quieres, <strong>solo depende de TI</strong>.&rdquo;</span></em></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;'><em>&nbsp;</em></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;'><em>&nbsp;</em></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;'><em>&nbsp;</em></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;'><em><span style='font-family:"Cambria",serif;color:gray;'>Clara Fuertes Colegiada CAT00866</span></em></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;'><em><span style='font-family:"Cambria",serif;color:gray;'>Especialista en Nutrici&oacute;n Digestiva, Nutrici&oacute;n Antiinflamatoria y P&eacute;rdida de grasa. Coach Nutricional.&nbsp;</span></em></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:200%;'><em><span style='font-family:"Cambria",serif;color:gray;'>&#64;clara_nutricion</span></em></p>
        </ng-template>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="send()" class="form">Enviar</button>
        <button mat-button cdkFocusInitial (click)="close()" class="form">Cancelar</button>
    </mat-dialog-actions>
</div>