<div style="position:fixed;top: 0%;height: 800px;z-index: -1;width: 100%;">
    <div class="row" style="position: relative;">
        <img src="assets/digestion/mango.png" alt style="    height: 50vh;
        object-fit: cover;
        object-position: bottom;
        margin-top: 90px;">
        <p style="font-family: Rajdhani;
        font-size: 42px;
        font-weight: 400;
        line-height: 54px;
        text-align: center;color: #4D5C52;position: absolute;top: 50%;background-color: #D9D9D9CF;left: 50%; transform: translate(-50%, -50%);
        width: fit-content;border-radius: 0px 13px;padding: 5px 15px;
        ">
            Sana tus digestiones
        </p>
    </div>
</div>
<div style="height: 45vh;"></div>

<div
    style="text-align-last: center;padding-top: 100px;padding-bottom: 50px;position: relative;background-color: white;border-radius: 15px 15px 0px 0px;text-align: -webkit-center;">
    <div
        style="position: absolute;background: linear-gradient(360deg, #FFFFFF 0%, #EBB35D 100%) ;
        width: 100%;height: 50px;top: 0%;left: 0%;border-radius: 15px 15px 0px 0px;">
    </div>
    <div>
        <div style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        color: #4D5C52;
        padding: 0px 5vw;
        text-align: -webkit-center;
        ">
            Soy especialista en hacer que recuperes tu bienesta digestivo. Mi
            objetivo es que le digas adiós a la inflamación y que
            vuelvas a disfrutar de las comidas y las reuniones con amigos.
            <br><br>
            <p
                style="padding: 5px 15px;border-radius: 10px;line-height: 22px;position: relative;z-index: 0;width: fit-content;">
                ¡Que la comida y el dolor no te roben toda tu energía!
                <img src="assets/ensalada/pincelada amarilla.png" alt
                    style="position: absolute;
                top: 0%;
                width: 100%;
                height: 115%;
                left: 0%;
                z-index: -1;">
            </p>
            Te acerco la alimentación antinflamatoria para que sanes tu
            intestino de raíz y recuperes tu bienestar, mediante un programa de
            acompañamiento personalizado online de
            <br><br>
            <p
                style="font-size: 19px;font-weight: 700;padding: 5px 15px;border-radius: 10px;line-height: 23px;position: relative;z-index: 0;width: fit-content;">
                12 semanas dividido en 3 fases.
                <img src="assets/ensalada/pincelada amarilla.png" alt
                    style="position: absolute;
            top: 0%;
            width: 100%;
            height: 115%;
            left: 0%;
            z-index: -1;">
            </p>
            ¡No vas a encontrar ninguno igual!
            <br><br>
            Tienes que saber algo:
            <span style="font-size: 19px;font-weight: 700;">
                Todas las enfermedades tienen su origen en el
                intestino.
            </span>
        </div>
    </div>
    <br>
    <div
        style="border: 5px solid #CDDDD7;max-width: 80vw;border-radius: 5px;width: 890px;padding: 25px 15px;">
        <span style="font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 25.78px;
        text-align: center;
        color: #4D5C52;">
            ¿Cansada de seguir buscando la fórmula mágica que resuelva tu
            malestar?
        </span>
        <br><br>
        <p style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 21.87px;
        color: #4D5C52;    text-align-last: start;
        text-align: start;">
            · ¿Te sientes hinchada al terminar de comer o al finalizar el día?
            <br> <br>
            · ¿Sientes falta de energía?
            <br><br>
            · ¿Sientes pesadez, acidez, reflujo en tus digestiones?
            <br><br>
            · ¿No toleras la comida, y no haces más que restringir alimentos?
            <br><br>
            · ¿Tienes gases, diarrea o estreñimiento?
            <br><br>
            · ¿Eres dependiente de los antiácidos, los laxantes y otros
            medicamentos que no te hacen el efecto que esperas?
            <br><br>
            · ¿Tienes problemas de piel?
            <br><br>
            · ¿Tienes mucha hambre a todas horas, y mucha apetencia por el
            dulce?
            <br><br>
            · ¿Sufres de alguna enfermedad autoinmune o problemas crónicas?
            <br><br>
            · ¿Tu peso cambia y no consigues bajar de peso?
            <br><br>
            · ¿Tu estado de ánimo es una montaña rusa?
        </p>
    </div>
    <br>
    <div style="padding: 0px 15px;">
        <span style="font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        line-height: 21.87px;
        text-align: center;
        color: #4D5C52;">
            Déjame resumirlo en una palabra:
            <span style="position: relative;z-index: 0;">
                INFLAMACIÓN
                <img src="assets/ensalada/pincelada amarilla.png" alt
                    style="    position: absolute;
                    top: 5%;
                    height: 105%;
                    width: 110%;
                    left: -5%;
                    z-index: -1;">
            </span>
        </span>
        <br><br>
        <span style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 21.87px;
        text-align: center;
        color: #4D5C52;">
            Síntomas como estos indican que tu intestino no está sano
            <br><br>
            ¡Sabes que ha llegado la hora de probar algo distinto!
            <br>
            Darle la vuelta y coger realmente las riendas de tu alimentación,
            <br>
            entendiendo qué es lo que necesitas.
            <br><br>
            <span style="font-weight: 700;">
                ¡Sanar tu intestino desde la raíz!
            </span>
            <br><br>
            Quédate y te explico cómo puedo ayudarte
        </span>
    </div>
    <br>
    <div
        style="background-image: url('assets/digestion/sandia.png');width: 100%;padding: 25px;background-size: cover;    text-align: -webkit-right;
        text-align-last: center;">
        <div class="sandia">
            <span style="font-family: Poppins;
            font-size: 19px;
            font-weight: 600;
            line-height: 27.34px;
            text-align: left;
            color: #7DAD9B;">
                Este programa tiene lo mejor de un curso y lo mejor de las
                asesorías personalizadas
            </span><br><br>
            <span style="font-family: Poppins;
            font-size: 15px;
            font-weight: 400;
            line-height: 21.87px;
            text-align: justify;
            color: #4D5C52;">
                ¿Por qué?
                <br><br>
                Porque durante <b> 12 semanas </b> te ENSEÑO a alimentarte
                mientras
                te AYUDO a RECUPERARTE<br>
                Pero me ocupo de que después puedas mantenerlo.
                <br><br>
                El programa se divide en <b>3 fases</b> para que sanes tu
                intestino de
                raíz.
                <br><br>
                No se trata de que sigas unas pautas que no sabes a dónde te
                llevan, si no, que me encargo de que entiendas todo el proceso y
                que transformes tu forma de alimentarte
                <br><br>
                <b> Tendrás acceso a una plataforma </b> donde vas a encontrar
                información acerca de TODO lo que necesitas para entender el
                proceso, con descargables, con más de 7 horas de videos,
                checklist, y mucho más.<br>
                Un programa estructurado para que hagas un reset intestinal
                <br><br>
                Pero, además,<b> mi acompañamiento personalizado</b> donde cada
                15 días
                contactaremos para valorar tu evolución y resolveremos tus
                dudas.
            </span>
        </div>
    </div>
    <br>
    <div style="padding: 0px 15px;">
        <span style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 21.87px;
        text-align: center;
        color: #4D5C52;">
            Vamos a controlar los síntomas para que recuperes tu bienestar
            mientras tratamos la causa del problema, <br>
            con el fin de recuperar tu salud digestiva, el origen de todo.
        </span>
    </div>
    <br> <br>
    <div
        style="border: 5px solid #CDDDD7;max-width: 80vw;border-radius: 5px;width: 890px;padding: 25px;background-position: bottom;">
        <span style="font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 25.78px;
    text-align: center;
    color: #4D5C52;">
            ¿Qué conseguirás con mi acompañamiento de 12 semanas?
        </span>
        <br><br>
        <p style="font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 21.87px;
    color: #4D5C52;    text-align-last: left;text-align: justify;">
            ✔ Tener claro cuál es tu proceso, qué ocurre y qué necesitas para
            recuperar tu bienestar
            <br> <br>
            ✔ Tener un plan personalizado
            <br> <br>
            ✔ Acceso a una plataforma donde vas a encontrar información acerca
            de TODO lo que necesitas para entender el proceso, con descargables,
            vídeos, checklist, y mucho más.
            <br> <br>
            ✔ Elaboro un menú base para que conozcas cómo debes estructurar las
            comidas, qué deben incluir, etc.
            <br> <br>
            ✔ Elaboro un menú semanal ejemplo respetando tus gustos y
            preferencias
            <br> <br>
            ✔ Te doy alternativas de desayunos
            <br> <br>
            ✔ Te doy listado de alimentos aconsejados y desaconsejados si así lo
            requiere tu caso
            <br> <br>
            ✔ Te recomiendo los mejores suplementos en cada etapa o fase para
            facilitar tu recuperación, si tu caso lo requiere
            <br> <br>
            ✔ Te enseño las bases de la alimentación antiinflamatoria para que
            tras este proceso haya un cambio en tu alimentación
            <br> <br>
            ✔ Te propongo cambios de hábitos que mejoren tu salud digestiva
            <br> <br>
            ✔ Te entrego recomendaciones específicas en caso de tener patologías
            asociadas
            <br> <br>
            ✔ Te acompaño en este proceso de cambio. Soy tu guía
            <br> <br>
            ✔ Estamos en contacto para valorar tu proceso. Tendremos revisiones
            cada 15 días
            <br> <br>
            ✔ Resuelvo tus dudas e inquietudes en tu a día a día, estoy contigo
            de lunes a viernes
            <br> <br>
            ✔ Te explico y te formo para que entiendas cómo debes comer, con más
            de 5 horas de vídeos sobre nutrición. ¡ya no más dudas!
            <br> <br>
            ✔ Te doy herramientas basadas en el Coaching Nutricional para que
            los cambios que hagas sean duraderos en el tiempo. Con más de 2
            horas de vídeos. ¡Ya no más dietas! ¡Esta es la definitiva!
            <br> <br>
            ✔ Te propongo ejercicios para que integres el cambio y lo entiendas.
            ¡Te va a encantar tu nueva mentalidad!
        </p> <br>
        <div>
            <button (click)="openModal()">
                <span style="font-family: Reem Kufi Ink;
                font-size: 11px;
                font-weight: 700;
                line-height: 15.62px;
                text-align: center;
                color: #6A6056;">
                    QUIERO EMPEZAR
                </span>
            </button>
        </div>
    </div>
    <br>
    <div
        style="background-image: url('assets/digestion/cactus.png');width: 100%;padding: 25px;background-size: cover;text-align: -webkit-right;background-position: 35%;">
        <div class="cactus">
            <span style="font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 21.87px;
    text-align: justify;
    color: #4D5C52;">
                Imagina mirarte al espejo y estar a gusto con lo que ves y
                sientes.
                <br> <br>
                Imagina sentirte con más energía
                <br> <br>
                Imagina recuperar tu bienestar digestivo
                <br> <br>
                Imagina poder volver a enfocarte en lo que realmente te importa
                porqué esto ya no roba toda tu energía.
                <br> <br>
                Imagina sentirte bien al terminar de comer y al terminar el día.
                <br> <br>
                Imagina conocer las bases de la alimentación antiinflamatoria e
                incorporarlas a tu vida.
                <br> <br>
                Imagina aumentar tu autoestima y confianza, estar contenta
                porque por fin estás haciendo aquello que sabes que te hace
                sentir bien y porque por fin te priorizas por encima de los
                demás.
                <br> <br>
                Imagina recuperar tu salud física y emocional.
                <br> <br>
                Imagina dominar algo que harás toda tu vida, varias veces a lo
                largo del día.
                <br> <br>
                <span style="font-family: Poppins;
                font-size: 15px;
                font-weight: 600;
                line-height: 21.87px;
                text-align: justify;
                color: #85958F;
                ">
                    ¡Vivir con la tranquilidad de saber que lo estás haciendo
                    bien!

                </span>
            </span>
        </div>
    </div>
    <div style="padding: 20px;">
        <img src="assets/digestion/image.png"
            style="width: 100%; max-width: 1024px;" alt>
    </div>
    <br>
    <div style="padding: 0px 20px; margin-bottom: 5%;">
        <span style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 21.87px;
        text-align: justify;
        color: #4D5C52;">
            No concibo mi vida sin ayudar a otras personas a encontrar su
            bienestar, tanto físico como mental.
            <br> A ser como quieren ser para
            vivir en congruencia con sus valores y contribuir en su felicidad
        </span>
        <br><br>
        <span style="font-family: Poppins;
        font-size: 15px;
        font-style: italic;
        font-weight: 400;
        line-height: 21.87px;
        text-align: center;
        color: #7DAD9B;">
            Te alimentas cada día y varias veces al día<br>
            ¡Es la actividad que más haces a lo largo de tu vida!<br>
            Está claro, para ser feliz, ¡necesitas dominar este aspecto de tu
            vida!<br>
        </span><br><br>
        <span style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 21.87px;
        text-align: justify;
        color: #4D5C52;">
            Es la manera que tenemos de relacionarnos con los demás, de
            celebrar, y nuestra fuente de energía para la vida.<br>
            ¡Sobran motivos para entender la importancia que tiene tanto a nivel
            físico como mental!
        </span><br><br>
        <span style="font-family: Poppins;
        font-size: 15px;
        font-weight: 700;
        line-height: 21.87px;
        text-align: justify;
        color: #7DAD9B;">
            Y no encuentro mejor satisfacción para mí que poder contribuir a que
            esta parte tan importante de tu vida mejore.
        </span><br><br>
        <span style="font-family: Handlee;
        font-size: 19px;
        font-weight: 400;
        line-height: 24.34px;
        text-align: center;
        color: #4D5C52;">
            ¿Lista para empezar tu transformación?
        </span><br><br>
        <div>
            <button (click)="openModal()"
                style="height: 70px; background-color: #B4C7C0; border-radius: 15px;">
                <span style="font-family: Reem Kufi Ink;
                font-size: 11px;
                font-weight: 700;
                text-align: center;
                color: #6A6056;">
                    QUIERO EMPEZAR <br>
                    MI TRANSFORMACIÓN
                </span>
            </button>
        </div>
    </div>
    <div class="row" style="height: 100%; margin-bottom: 50px;"
        *ngIf="comentario">
        <div
            style="position: absolute;width: 80%; left: 10%; background-color: #EEEEEE; border: #C1E4D6 3px solid;height: 40px;border-radius: 10px;margin-top: -20px;align-content: space-evenly;">
            <span style="font-family: Poppins;
            font-size: 13.5px;
            font-weight: 700;
        line-height: 21.87px;
        text-align: center;
        ">
                Mira lo que dicen de este programa
            </span>
        </div>
        <app-component-carouselgroup
            style="background-image: url(../../../../assets/main/backComentario.png);background-size: cover;padding: 100px 0px;background-position: bottom;"
            [data]="comentario.data">
        </app-component-carouselgroup>
    </div>
    <div style="position: absolute;
bottom: 0;
height: 30vh;
background-color: white;
width: 100%;
transform: translateY(50%);
z-index: -1;">
    </div>
</div>