.picture {
  width: 45%;
  max-width: 450px;
  z-index: -2;

  @media only screen and (max-width: 670px) {
    width: 90%;
  }
}

.picturediv {
  animation: fadeIn 3s;
}

.textdiv1 {
  animation: fadeOut 3s;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 55%;
}

.textdiv2 {
  animation: fadeOut 3s;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50vw;

  @media only screen and (max-width: 670px) {
    width: 100%;
  }
}

.especializado {
  padding: 0px 100px;

  @media only screen and (max-width: 670px) {
    padding: 0px;
  }


}

.xhidden {
  @media only screen and (max-width: 670px) {
    display: none;
  }
}

.xhidden2 {
  @media only screen and (min-width: 670px) {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateX(-30rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    transform: translateX(30rem);
  }

  100% {
    transform: translateX(0);
  }
}

.textflow {
  animation: textf 6s;
  bottom: 10%;
  left: 100%;
  position: absolute;
  background-color: #efefef;
  height: 80%;
  border-radius: 15px;
  width: 100%;
  transform: translateX(-100%);
  z-index: -1;
}

@keyframes textf {
  0% {
    width: 0%;
  }

  50% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.textflow1 {
  animation: textf2 6s;
  bottom: 10%;
  left: 100%;
  position: absolute;
  background-color: #cff2e4;
  height: 25%;
  border-radius: 15px;
  width: 100%;
  transform: translateX(-100%);
  z-index: -1;
}

@keyframes textf2 {
  0% {
    width: 0%;
  }

  50% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.aconpanamiento {
  background-image: url("../../../../assets/main/aconpanamiento0.png");
  background-size: cover;
  height: 115px;
  width: 240px;
  margin-bottom: 10px;
  position: absolute;
  right: 5vw;
  cursor: pointer;
  animation: changeIMGaconp 1s infinite;

  @media only screen and (max-width: 800px) {
    position: relative;
    right: 0;
    margin-bottom: 15px;
  }
}

.aconpanamiento:hover {
  background-image: url("../../../../assets/main/aconpanamiento2.png");
  animation: none;
}

@keyframes changeIMGaconp {
  0% {
    transform: scale(100%);
    background-image: url("../../../../assets/main/aconpanamiento0.png");
  }

  50% {
    transform: scale(110%);
    background-image: url("../../../../assets/main/aconpanamiento1.png");
  }

  100% {
    transform: scale(100%);
    background-image: url("../../../../assets/main/aconpanamiento0.png");
  }
}