<div class="row" style="padding: 25px; overflow-x:hidden;align-items: center;justify-content: space-around;">
    <img src="assets/main/foto.png" class="picture picturediv">
    <div class="textdiv1">
        <div style="font-family: Allura;
            font-size: 36.44px;
            font-weight: 400;
            line-height: 45.55px;
            text-align: center;
            color: #4D5C52;
            ">
            <span>
                ¡Hola!
            </span>
            <br class="xhidden2">
            <span> Soy </span>
            <span style="position: relative;">
                Clara
                <div class="textflow1"> </div>
            </span>
        </div>
        <div style="position: relative;margin-bottom: 10px;">
            <div style="font-family: Handlee;
                font-size: 20.82px;
                font-weight: 400;
                line-height: 27.8px;
                text-align: center;
                color: #82BDA5;
                ">
                Dietista-Nutricionista Colegiada
            </div>
            <div class="textflow"></div>
        </div>
        <div style="font-family: Handlee;
            font-size: 20.82px;
            font-weight: 400;
            line-height: 27.8px;
            text-align: center;
            color: #9BABA4;
            margin-bottom: 15px;
            ">
            Especializada en inflamación, patología digestiva y pérdida de
            grasa
        </div>
        <div class="xhidden" style="padding: 0px 25px;">
            <div style="font-family: Poppins;
            font-size: 14.58px;
            font-weight: 400;
            line-height: 21.86px;
            text-align: justified;
            color: #4D5C52;
            margin-bottom: 10px;
            ">
                Estoy aquí para ayudarte a reconciliarte con tus digestiones y
                tu
                cuerpo, y que recuperes tu bienestar mediante una alimentación
                antiinflamatoria personalizada.
            </div>
            <div style="font-family: Poppins;
            font-size: 14.58px;
            font-weight: 400;
            line-height: 21.86px;
            text-align: justified;
            color: #4D5C52;
            ">
                Mi objetivo es que domines tu alimentación, que por fin la
                entiendas, y
                que te sientas feliz y agusto en tu cuerpo. Me encantaría
                acompañarte
                para que estos cambios los integres para siempre.
            </div>
        </div>
    </div>
    <div class="textdiv2 xhidden2">
        <div style="font-family: Poppins;
        font-size: 14.58px;
        font-weight: 400;
        line-height: 21.86px;
        text-align: justified;
        color: #4D5C52;
        margin-bottom: 10px;
        ">
            Estoy aquí para ayudarte a reconciliarte con tus digestiones y tu
            cuerpo, y que recuperes tu bienestar mediante una alimentación
            antiinflamatoria personalizada.
        </div>
        <div style="font-family: Poppins;
        font-size: 14.58px;
        font-weight: 400;
        line-height: 21.86px;
        text-align: justified;
        color: #4D5C52;
        ">
            Mi objetivo es que domines tu alimentación, que por fin la
            entiendas, y
            que te sientas feliz y agusto en tu cuerpo. Me encantaría
            acompañarte
            para que estos cambios los integres para siempre.
        </div>
    </div>
</div>
<div class="row"
    style="justify-content: center;flex-direction: column;align-items: center;margin: 50px 15px;text-align: -webkit-center;">
    <app-component-button text1="RECURSO GRATUITO ENSALADAS" text2="LA GUÍA INFALIBLE QUE RESUELVE TODAS TUS DUDAS"
        ref="recursos">
    </app-component-button> <br>
    <app-component-button text1="CURSOS PARA TI" ref="compra">
    </app-component-button> <br>
    <app-component-button text1="SANA TUS DIGESTIONES" text2="Acompañamiento 1:1" ref="recursos">
    </app-component-button> <br>
    <app-component-button text1="PÉRDIDA DE GRASA" text2="Acompañamiento 1:1" ref="recursos">
    </app-component-button> <br>
    <app-component-button text1="ÚNICO ASESORAMIENTO" ref="recursos">
    </app-component-button>
</div>
<div class="row" style="width: 100%;    justify-content: center;">
    <div class="col-11" style="width: 80%;  background-color: #eeeeee;
    border-radius: 13px; padding: 25px;text-align-last: center;">
        <span style="font-family: Poppins;
        font-size: 14.58px;
        font-weight: 400;
        line-height: 21.87px;
        text-align: center;
        ">
            Te alimentas cada día y varias veces al día. ¡Es la actividad que
            más
            haces a lo largo de tu vida!
            <br>
            Está claro, para ser feliz necesitas dominar este aspecto de tu
            vida.
        </span>
        <br>
        <span style="font-family: Poppins;
        font-size: 14.58px;
        font-weight: 600;
        line-height: 21.87px;
        text-align: center;
        ">
            ¡Y yo estoy aquí para que lo logres!
        </span>
    </div>
</div>
<div class="row" style="position: relative;" *ngIf="comentario">
    <app-component-carouselgroup [data]="comentario.data"></app-component-carouselgroup>
    <img src="assets/main/band.jpg" alt
        style="position: absolute; top: -10%;z-index: -1;height: 150%;max-height: 500px;">
</div>