<div class="row" ngSkipHydration
    style="padding: 25px; overflow-x:hidden;align-items: center;justify-content: space-around;">

    <img src="assets/main/Clara v2.webp" class="picture picturediv"
        title="logo foto clara"
        style="z-index: -1;"
        alt="Logo Clara Fuertes Nutrición">
    <img src="assets/main/fondoHoja.png" alt="hoja"
        style="position: fixed;z-index: -2; bottom: 10%;" title="fondo hoja">
    <div class="textdiv1 xhidden">
        <h1 style="
        font-family: Sedan SC;
        font-size: 30px;
        font-weight: 400;
        line-height: 41.55px;
        text-align: center;
        color: #4D5C52;
        padding-bottom: 10px;
            ">
            <span>
                ¿Te sientes
            </span>
            <br class="xhidden2">
            <span style="position: relative;">
                hinchada y sin energía?
                <div class="textflow1"> </div>
            </span>
        </h1>
        <div style="position: relative;margin-bottom: 10px;">
            <h2 style="
                font-family: Handlee;
                font-size: 20.82px;
                font-weight: 400;
                line-height: 27.8px;
                text-align: center;
                color: #E0B167;
                ">
                <span>
                    Reconcíliate con tus digestiones y recupera tu vida
                </span>
                <br>
                <span style="font-family: Sedan SC;">
                    Mediante la
                </span>
                <br class="xhidden2">
                <span style="position: relative;font-family: Sedan SC;">
                    ALIMENTACIÓN ANTIINFLAMATORIA
                    <div class="textflow"> </div>
                </span>
            </h2>
        </div>
        <h3 style="padding: 0px 25px;">
            <div style="
            font-family: Poppins;
            font-size: 14.58px;
            font-weight: 400;
            line-height: 21.86px;
            text-align: center;
            color: #4D5C52;
            margin-bottom: 10px;
            ">
                ¡Que tu malestar no te robe más energía!
                Domina tu alimentación, entiéndela y vuelve a sonreír
                ¡Yo te acompaño para que estos cambios los integres para
                siempre!
            </div>
        </h3>
    </div>
    <div class="xhidden2 textdiv2">
        <h2 style="
        font-family: Sedan SC;
        font-size: 30px;
        font-weight: 400;
        line-height: 41.55px;
        text-align: center;
        color: #4D5C52;
        padding-bottom: 10px;
        ">
            <span>
                ¿Te sientes
            </span>
            <br class="xhidden2">
            <span style="position: relative;">
                hinchada
                <div class="textflow1"> </div>
            </span>
            <br>
            <span style="position: relative;">
                y sin energía?
                <div class="textflow1"> </div>
            </span>
        </h2>
        <h2 style="position: relative;margin-bottom: 10px;">
            <div style="
                font-family: Handlee;
                font-size: 20.82px;
                font-weight: 400;
                line-height: 27.8px;
                text-align: center;
                color: #E0B167;
                ">
                <span>
                    Reconcíliate con tus digestiones y recupera tu vida
                </span>
                <br>
                <span style="font-family: Sedan SC;">
                    Mediante la
                </span>
                <br class="xhidden2">
                <span style="position: relative;font-family: Sedan SC;">
                    ALIMENTACIÓN
                    <div class="textflow"> </div>
                </span>
                <br>
                <span style="position: relative;font-family: Sedan SC;">
                    ANTIINFLAMATORIA
                    <div class="textflow"> </div>
                </span>
            </div>
        </h2>
        <h3 style="padding: 0px 25px;">
            <div style="
            font-family: Poppins;
            font-size: 14.58px;
            font-weight: 400;
            line-height: 21.86px;
            text-align: center;
            color: #4D5C52;
            margin-bottom: 10px;
            ">
                ¡Que tu malestar no te robe más energía!
                Domina tu alimentación, entiéndela y vuelve a sonreír
                ¡Yo te acompaño para que estos cambios los integres para
                siempre!
            </div>
        </h3>
    </div>
</div>
<div class="row" ngSkipHydration
    style="justify-content: center;flex-direction: column;align-items: center;margin: 25px 15px 50px 15px;text-align: -webkit-center;">
    <img
        src="assets/main/ayudarte.png" alt="foto ayudarte" title="ayudarte"
        style="width: 245px; max-width: 90vw; margin-bottom: 10px;">
    <div class="aconpanamiento" (click)="router.navigate(['listadoEspera'])">
        <div
            style="border: 2px #3F3F3F dashed; position: absolute;width: 100%;height: 100%;top: -10px; left: 10px;">
        </div>
        <p style="color: #605E5E;">
            Acompañamiento 1:1
        </p>
        <p style="color: #FCEDEA;">
            {{plaza}}
        </p>
        <p style="color: #333333;" class="undercasse">
            APUNTATE A LA LISTA DE ESPERA
        </p>
        <p style="color: #605E5E;">
            para ser la primera en enterarte y puedas reservar la tuya
        </p>
    </div>
    <app-component-button text1="CURSOS PARA TI" (click)="openModal()">
    </app-component-button> <br>
    <app-component-button text1="SANA TUS DIGESTIONES"
        text2="Acompañamiento 1:1" ref="digestion">
    </app-component-button> <br>
    <app-component-button text1="PÉRDIDA DE GRASA" text2="Acompañamiento 1:1"
        ref="perdidagrasa">
    </app-component-button> <br>
    <app-component-button text1="ÚNICO ASESORAMIENTO" ref="asesoramiento">
    </app-component-button><br>
    <app-component-button text1="RECURSOS GRATUITOS" ref="recursos">
    </app-component-button> <br>
</div>
<div class="row" ngSkipHydration
    style="width: 100%;background-color: #E5E5E55C;padding: 50px 1vw;border-bottom: 15px solid #C1E4D6;justify-content: center;">
    <div style="max-width: 500px;justify-content: center;text-align: center;">
        <h2 style="
    font-family: Allura;
    font-size: 36.44px;
    font-weight: 400;
    line-height: 45.55px;
    text-align: center;
    color: #4D5C52;
    padding-bottom: 20px;
    ">
            ¡Hola! Soy Clara
        </h2>
        <h3 style="
    font-family: Handlee;
    font-size: 20.82px;
    font-weight: 400;
    line-height: 27.8px;
    text-align: center;
    color: #82BDA5;
    ">
            Dietista-Nutricionista Colegiada
        </h3>
        <h3 style="
    font-family: Handlee;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.03px;
    text-align: center;
    color: #E08F67;
    ">
            Especializada en inflamación, patología digestiva y pérdida de grasa
        </h3>
        <h3 style="
    font-family: Poppins;
    font-size: 14.58px;
    font-weight: 400;
    line-height: 21.86px;
    text-align: center;
    color: #4D5C52;
    padding-top: 25px;
    ">
            Y mi <b> propósito es muy claro</b>:
            Mejorar tu vida y que te sientas a
            gusto con tu cuerpo y tus digestiones.
        </h3>
        <h3 style="
    font-family: Poppins;
    font-size: 14.58px;
    font-weight: 400;
    line-height: 21.86px;
    text-align: center;
    color: #4D5C52;
    padding-top: 25px;
    ">
            Te alimentas cada día y varias veces al día.
            <br>
            ¡Es la actividad que más
            haces a lo largo de tu vida!
            <br>
            Está claro, para ser feliz necesitas
            dominar este aspecto de tu vida.
        </h3>
        <div style="
    font-family: Poppins;
    font-size: 14.58px;
    font-weight: 600;
    line-height: 21.86px;
    text-align: center;
    color: #4D5C52;
    padding-top: 25px;
    ">
            ¡Y yo estoy aquí para que lo logres!
        </div>
    </div>
</div>

<app-component-carouselgroup [data]="comentario" *ngIf="comentario">
</app-component-carouselgroup>
