.picture {
  width: 50%;
  max-width: 500px;
  z-index: -2;
}

.picturediv {
  animation: fadeIn 3s;
}
.textdiv1 {
  animation: fadeOut 3s;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.textdiv2 {
  animation: fadeOut 3s;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  @media only screen and (max-width: 670px) {
    width: 100%;
  }
}
.xhidden {
  @media only screen and (max-width: 670px) {
    display: none;
  }
}
.xhidden2 {
  @media only screen and (min-width: 670px) {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateX(-30rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    transform: translateX(30rem);
  }
  100% {
    transform: translateX(0);
  }
}

.textflow {
  animation: textf 6s;
  top: 0;
  left: 100%;
  position: absolute;
  background-color: #efefef;
  height: 100%;
  border-radius: 15px;
  width: 110%;
  transform: translateX(-95%);
  z-index: -1;
}

@keyframes textf {
  0% {
    width: 0%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 110%;
  }
}

.textflow1 {
  animation: textf2 6s;
  bottom: 25%;
  left: 100%;
  position: absolute;
  background-color: #cff2e4;
  height: 20%;
  border-radius: 15px;
  width: 110%;
  transform: translateX(-95%);
  z-index: -1;
}

@keyframes textf2 {
  0% {
    width: 0%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 110%;
  }
}
