<div class="row">
    <div class="col">
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
            <strong><span style="font-size:19px;line-height:107%;">Soy Clara</span></strong><span
                style="font-size:19px;line-height:107%;">, Nutricionista Colegiada</span>.
        </p>

        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
            A lo largo de estos a&ntilde;os me he <strong>formado regladamente en</strong> Nutrici&oacute;n
            Cl&iacute;nica, Nutrici&oacute;n Deportiva, Coaching Nutricional y <strong><span
                    style="color:#0070C0;">Patolog&iacute;a Digestiva</span></strong></p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
            <span style="color:#C45911;">&nbsp;</span>
        </p>
        <p
            style='margin-top:0cm;margin-right:70.8pt;margin-bottom:8.0pt;margin-left:42.55pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;'>
            En los &uacute;ltimos a&ntilde;os en consulta he visto la necesidad de especializarme en
            <strong>Nutrici&oacute;n Digestiva</strong>, dado el crecimiento exponencial que han tenido estos casos en
            la poblaci&oacute;n. Esto ha hecho que mis 4 formaciones m&aacute;s recientes hayan sido en este campo, y
            sigo leyendo y aprendiendo de este mundo tan complejo y apasionante, que requiere una actualizaci&oacute;n
            constante. Especialmente el SIBO/IMO es el trastorno que m&aacute;s he tratado en estos &uacute;ltimos
            a&ntilde;os.&nbsp;
        </p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;'>
            No concibo mi vida sin ayudar a otras personas a encontrar su bienestar, tanto f&iacute;sico como mental. A
            ser como quieren ser para vivir en congruencia con sus valores y contribuir en su felicidad. Nos alimentamos
            cada d&iacute;a y varias veces al d&iacute;a, es la actividad que m&aacute;s hacemos a lo largo de nuestra
            vida, es la manera que tenemos de relacionarnos con los dem&aacute;s, de celebrar, y nuestra fuente de
            energ&iacute;a para la vida.&nbsp;</p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;'>
            <strong>&iexcl;Sobran motivos para entender la importancia que tiene tanto a nivel f&iacute;sico como
                mental!</strong> Y no encuentro mejor satisfacci&oacute;n para m&iacute; que poder contribuir a que esta
            parte tan importante de tu vida mejore.
        </p>

    </div>
    <div class="col" style="text-align: -webkit-center;">
        <img src="assets/ClaraFuertes3.png">
    </div>
    <div class="row">
        <div style="text-align: center;">
            <button mat-raised-button style="color: black;background-color: #ADD1C5; margin: 10px;padding: 30px;"
                (click)="modal=true">
                CLARA, ¡NECESITO TU AYUDA!
            </button>
        </div>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;background:white;'>
            <strong><span style="font-size:19px;color:#C45911;">&iquest;Qu&eacute; conseguir&aacute;s con este
                    acompa&ntilde;amiento?</span></strong>
        </p>
        <ul style="list-style-type: undefined;">
            <li><span style="font-family:Calibri;color:black;">Tener un <strong>plan 100% personalizado</strong>
                    para
                    tratar tu patolog&iacute;a.&nbsp;</span></li>
            <li><strong><span style="color:black;">Tener claro cu&aacute;l es tu proceso</span></strong><span
                    style="color:black;">, qu&eacute; ocurre y que necesitas para recuperar la salud.</span></li>
            <li><span style="font-family:Calibri;color:black;">Te doy cuadros de <strong>alimentos aconsejados y
                        desaconsejados</strong>.</span></li>
            <li><span style="font-family:Calibri;color:black;">Elaboro un <strong>men&uacute;</strong> semanal
                    respetando tus gustos en base a las necesidades.</span></li>
            <li><span style="font-family:Calibri;color:black;">En cada visita te modifico el men&uacute; para ir
                    avanzando en el tratamiento y reincorporaci&oacute;n de alimentos de forma
                    individualizada.</span>
            </li>
            <li><span style="font-family:Calibri;color:black;">Te recomiendo los mejores
                    <strong>suplementos</strong> en
                    cada etapa o fase para facilitar tu recuperaci&oacute;n.</span></li>
            <li><span style="font-family:Calibri;color:black;">Te entrego <strong>recomendaciones</strong>
                    espec&iacute;ficas en caso de tener otras patolog&iacute;as.</span></li>
            <li><span style="font-family:Calibri;color:black;">Te ense&ntilde;o las bases de la
                    <strong>alimentaci&oacute;n antiinflamatoria</strong> para que tras este proceso haya un cambio
                    en
                    tu alimentaci&oacute;n.&nbsp;</span></li>
            <li><span style="font-family:Calibri;color:black;">Te propongo <strong>cambios de
                        h&aacute;bitos</strong>
                    que mejoren tu salud digestiva.</span></li>
            <li><span style="font-family:Calibri;color:#222222;">Te <strong>acompa&ntilde;o</strong> en este
                    proceso.
                    <strong>Soy tu gu&iacute;a</strong>.&nbsp;</span></li>
            <li><strong><span style="font-family:Calibri;color:#222222;">Resuelvo tus dudas</span></strong><span
                    style="font-family:Calibri;color:#222222;">&nbsp;e inquietudes en un plazo m&aacute;ximo de 24h
                    mediante email, <strong>estoy contigo.&nbsp;</strong></span></li>
        </ul>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;line-height:11.75pt;background:white;'>
            <span style="color:#222222;">&nbsp;</span>
        </p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;background:white;'>
            <strong><span style="font-size:21px;color:#C45911;">Esto es para ti si&hellip;</span></strong>
        </p>
        <ul style="list-style-type: undefined;">
            <li><span style="font-family:Calibri;color:black;">Estas cansada de leer infinidad de consejos,
                    recomendaciones, listas interminables de alimentos que no sabes c&oacute;mo incorporarlos a tu
                    vida.</span></li>
            <li><span style="font-family:Calibri;color:black;">Quieres una visi&oacute;n integrativa, que permita
                    buscar
                    las causas que te han llevado a esta situaci&oacute;n. &iexcl;Basta de parches!&nbsp;</span>
            </li>
            <li><span style="font-family:Calibri;color:black;">Sientes que ha llegado el momento de hacer un cambio
                    distinto, pero no sabes c&oacute;mo enfocarlo, por d&oacute;nde empezar. Necesitas una persona
                    que
                    te gu&iacute;e.&nbsp;</span></li>
            <li><span style="font-family:Calibri;color:black;">Te sientes hinchada, inflamada, sin energ&iacute;a.
                    El
                    enfoque antiinflamatorio es el que necesitas.</span></li>
            <li><span style="font-family:Calibri;color:black;">Estas dispuesta a empezar a priorizarte,
                    &iexcl;dejando
                    las excusas a un lado!</span></li>
        </ul>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;line-height:11.75pt;background:white;'>
            &nbsp;</p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;line-height:11.75pt;background:white;'>
            &nbsp;</p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;line-height:150%;background:white;'>
            <strong><span style="font-size:19px;line-height:150%;color:#C45911;">Esto <u>no</u> es para ti
                    si&hellip;</span></strong>
        </p>
        <ul style="list-style-type: undefined;">
            <li><span style="font-family:Calibri;color:black;">Est&aacute;s buscando una mejora r&aacute;pida y de
                    forma
                    milagrosa.</span></li>
            <li><span style="font-family:Calibri;color:black;">Quieres la soluci&oacute;n a tu situaci&oacute;n
                    digestiva sin hacer ning&uacute;n cambio.</span></li>
        </ul>

        <app-patologia-form (modal)="modal=$event" *ngIf="modal"></app-patologia-form>
    </div>
</div>