
<div class="container card-group">
    <ng-container *ngIf="level1 && !slevel1">
        <ng-container *ngFor="let i1 of level1.data;index as i">
            <div class="card">
                <img [src]="i1.Img" class="card-img-top" alt>
                <div class="card-body">
                    <h5 class="card-title"> {{i1.Name}} </h5>
                    <p class="card-text"> {{i1.Description}} </p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" (click)="slevel1=i1"> Seleccionar
                        curso </a>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="slevel1 && !slevel2">
        <ng-container *ngFor="let i2 of level2.data;index as j">
            <ng-container *ngIf="slevel1.id===i2.level1">
                <div class="card">
                    <img [src]="i2.Img" class="card-img-top" alt>
                    <div class="card-body">
                        <h5 class="card-title"> {{i2.Name}} </h5>
                        <p class="card-text"> {{i2.Description}} </p>
                        <a (click)="slevel2=i2" class="btn btn-primary">
                            Seleccionar fase
                        </a>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="slevel2 && !svideo">
        <ng-container *ngFor="let v of video.data;index as j">
            <ng-container *ngIf="slevel2.id===v.level2">
                <div class="card">
                    <img [src]="v.Img" class="card-img-top" alt>
                    <div class="card-body">
                        <h5 class="card-title"> {{v.Name}} </h5>
                        <p class="card-text"> {{v.Description}} </p>
                        <a (click)="svideo=v" class="btn btn-primary">
                            Seleccionar fase
                        </a>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
</div>

<div class="container" *ngIf="svideo">
    <div
        style="position: relative; padding-bottom: 56.22254758418741%; height: 0;">
        <iframe
            [src]="photoURL(svideo.Src)"
            frameborder="0" webkitallowfullscreen mozallowfullscreen
            allowfullscreen
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
        </iframe>
    </div>
</div>
