a {
  padding: 25px 5px 25px 15px;
  cursor: pointer;
}


a:hover {
  background-color: #9ce9ca;
}

.level1 {
  background-color: #dae4e0;
  color: black;
  border-color: gray;
  align-self: self-end;
  animation: list .5s;
  z-index: 10;
  border-radius: 10px 0px 0px 10px;
}

.level2 {
  background-color: #a3b3ac;
  color: black;
  border-color: gray;
  width: 95%;
  align-self: self-end;
  animation: list .5s;
  z-index: 9;
  border-radius: 10px 0px 0px 10px;
}

@keyframes list {
  0% {
    transform: translateY(-50rem);
  }

  100% {
    transform: translateX(0);
  }
}

.video {
  background-color: #79978b;
  color: black;
  border-color: gray;
  width: 90%;
  align-self: self-end;
  animation: list .5s;
  z-index: 8;
  border-radius: 10px 0px 0px 10px;
}

strong {
  padding-left: 10px;
}

.titulo {
  font-family: Allura;
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
}

.subtitulo {
  font-family: Handlee;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;

}

.cuerpo {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: justify;

}

p {
  margin: 0;
  text-align: left;
  text-align-last: left;
  padding-left: 10px;
}

button.session {
  width: 200px;
  height: 35px;
  border-radius: 40px;
  background-color: #c1e4d6;
  border-color: transparent;
  box-shadow: 7px 6px 16px 1px #c1e4d6;

  span {
    font-family: Reem Kufi Ink;
    font-size: 10px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: #6A6056;
  }
}

button.session:hover {
  background-color: #8cd2a3;
  animation: buttonn 500ms;
}

@keyframes buttonn {
  0% {
    background-color: #c1e4d6;
  }

  100% {
    background-color: #8cd2a3;
  }
}

.active {
  background-color: #9ce9ca;
}


.contain {
  width: calc(100% - 400px);
  padding: 0;

  .container {
    padding: 0
  }
}

.labex {
  width: 400px;
  border: 1px solid #9ce9ca;
  min-height: 70vh;
}

@media only screen and (max-width: 1200px) {

  .labex {
    display: none;
  }

  .contain {
    width: 100%;
  }

  .rowx {
    flex-wrap: nowrap;
  }
}

.iframeDiv {
  max-height: 70vh;
  width: 85%;
  height: 600px;
  border: 2px solid black;
  background: url(../../../../assets/200w.gif) center center no-repeat;
  background-color: black;
}