.card-img-top {
  width: 25vw;
  min-width: 250px;
  align-self: center;
}

.card,
.card-body {
  width: 30vw;
  min-width: 300px;
  align-self: center;
  text-align: -webkit-center;
  height: 500px;
  margin: 5px;
}

.card {
  padding: 5px;
}

p {
  overflow-wrap: break-word;
}

.naver {
  background-color: white;
  cursor: pointer;

  a {
    padding: 25px 5px 25px 15px;
  }

  a:hover {
    background-color: #9ce9ca;
  }
}

.level1 {
  background-color: #dae4e0;
  color: black;
  border-color: gray;
}

.level2 {
  background-color: #a3b3ac;
  color: black;
  border-color: gray;
}

.video {
  background-color: #79978b;
  color: black;
  border-color: gray;
}

strong {
  padding-left: 10px;
}