<div class="body">
    <div class="e0">
        ¡Hola! Soy Clara
    </div>
    <div class="e1">
        Dietista-Nutricionista Colegiada,
    </div>
    <div class="e2">
        Especializada en inflamación, patología digestiva y pérdida de grasa
    </div>
    <br>
    <div class="e3">
        Estoy aquí para ayudarte a reconciliarte con tus digestiones y tu
        cuerpo, y que recuperes tu bienestar mediante una alimentación
        antiinflamatoria personalizada.
        <br>
        Mi objetivo es que domines tu alimentación, que por fin la entiendas, y
        que te sientas feliz y agusto en tu cuerpo. Me encantaría acompañarte
        para que estos cambios los integres para siempre.
    </div>
    <br>
    <div class="e4">
        Te alimentas cada día y varias veces al día
        <br>
        ¡Es la actividad que más haces a lo largo de tu vida!
        <br>
        Está claro, para ser feliz necesitas dominar este aspecto de tu vida.
        <br>
        ¡Y yo estoy aquí para que lo logres!
    </div>
    <img src="./Foto Clara OK 1.png">
    <br><br>
    <button class="button" onclick="location.href='/ensalada'">
        RECURSO GRATUITO ENSALADAS
        <br>
        LA GUÍA INFALIBLE QUE RESUELVE TODAS TUS DUDAS
    </button>
    <br>
    <button class="button" type="button" data-bs-toggle="modal"
        data-bs-target="#curso">
        CURSOS PARA TI
    </button>
    <div class="modal fade" id="curso" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <span class="modal-span">
                    ¡PROXIMAMENTE!
                </span>
            </div>
        </div>
    </div>
    <br>
    <button class="button" onclick="location.href='/patologia'">
        PATOLOGIA DIGESTIVA Y DIETA ANTIINFLAMATORIA PARA OTROS PROCESOS
        ACOMPAÑAMIENTO NUTRICIONAL 1:1
    </button>
    <br>
    <button class="button">
        PÉRDIDA DE GRASA ACOMPAÑAMIENTO NUTRICIONAL 1:1
    </button>
</div>

<style>
.body{
    text-align: -webkit-center; 
    margin: 5%;
}
.modal-content{
    min-width: 400px;
    min-height: 175px;
    background: rgba(243, 243, 243, 1);
    padding: 14px 24px;
    margin: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
    overflow: hidden;
}
.modal-span{
    color: rgba(0, 0, 0, 1);
    height: 100%;
    font-family: Bad Script;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}
.e0{
    font-family: Allura;
    font-size: 45px;
    letter-spacing: 0px;
    font-weight: 800;
}
.e1{
    font-family: "Bad Script";
    font-size: 15px;
    letter-spacing: 0px;
}
.e2{
    font-family: Bad Script;
    font-weight: 800;
    font-size: 20px;
}
.e3{
    font-family: Asap;
    font-weight: 800;
    font-size: 14px;
}
.e4{
    font-family: Handlee;
    font-weight: Regular;
    font-size: 16px;
}
.button{
    width: 300px;
    height: 100px;
    background: rgba(245, 206, 199, 1);
    padding: 14px 0px;
    margin: 8px;
    opacity: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
    border-color: white;
    overflow: hidden;
    color: rgba(96, 94, 94, 1);
    font-family: Asap Condensed;
    font-weight: Medium;
    opacity: 1;
    text-align: center;
}
</style>