.footer {
  width: 100%;
  height: 205px;
  background-color: #cdddd7;
}
.contact {
  width: 95%;
  height: 114px;
  background-color: #f6f5f5;
}
img{
  width: 50px;
  height: 50px;
}
a.contaco{
  margin:0px 50px;
}