<footer>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-2">
            <a href>
                <i class="bi bi-instagram">
                </i>
            </a>
        </div>
        <div class="col-2">
            <a href>
                <i class="bi bi-whatsapp">
                </i>
            </a>
        </div>
        <div class="col-2">
            <a href>
                <i class="bi bi-envelope">
                </i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-3"><a href="#curso/login"> Cursos </a></div>
        <div class="col-3"><a href> Aviso legal </a></div>
        <div class="col-3"><a href> Política de privacidad </a></div>
        <div class="col-3"><a href> Política de cookies </a></div>
    </div>
    <div class="row">
        <div class="col">Copyright c 2023 Clara Fuertes</div>
    </div>
</footer>