<div style="text-align: -webkit-center;">
	<div class="row contact"
		*ngIf="!router.url.startsWith('/curso/') && !router.url.startsWith('/admin/')"
		style="border-radius: 25px 25px 0px 0px;">
		<div class="col contacticon">
			<a
				href="https://api.whatsapp.com/send?phone=34678996357&text=Hola Clara, estoy interesado en tu asesoramiento!"
				class="contaco">
				<img src="assets/whatsapp.png"
					alt="whatsapp"
					title="Contactanos por Whatsapp!">
			</a>
			<a href="mailto:clarafuertes.nutricion@gmail.com"
				class="contaco">
				<img src="assets/correo.png"
					alt="correo electronico"
					title="Escribenos un correo electrónico">
			</a>
			<a href="https://www.instagram.com/clara_nutricion/"
				class="contaco">
				<img src="assets/instagram.png"
					alt="instagram"
					title="Siguenos por Instagram!">
			</a>
			<a href="https://g.page/r/CdL2nMYvKoZ1EB0/review"
				class="contaco">
				<img src="assets/google.png"
					alt="Escribe una reseña sobre nosotros en google!"
					title="Escribe una reseña sobre nosotros en google!">
			</a>
		</div>
	</div>
	<div class="row footer"
		style="align-items:center">
		<div class="col-6 col-md-4">
			<div class="row">
				<a href="/privacidad"
					class="link"
					title="Política de privacidad">
					Política de Privacidad
				</a>
				<a href="/cookie"
					class="link"
					title="Política de cookies">
					Política de Cookies
				</a>
				<p class="link">
					Copyright&nbsp;©&nbsp;Clara&nbsp;Fuertes
				</p>
			</div>
		</div>
		<div class="col-4 d-none d-md-block">
			<span class="text">
				Clara Fuertes Colegiada CAT00866
			</span>
			<br>
			<span class="text">
				Especialista en Nutrición.
				<br>
				Coach Nutricional.
			</span>
		</div>
		<div class="col-6 col-md-4">
			<div class="row">
				<a href="/legal"
					class="link"
					title="Aviso legal">
					Aviso legal
				</a>
				<a href="/condicion"
					class="link"
					title="Condicion de venta">
					Condición de Venta
				</a>
				<a href="https://hu1a1a.github.io/Ye_Studio"
					class="link"
					title="El autor de la web">
					Powered&nbsp;by&nbsp;Ye&nbsp;Studio
				</a>
			</div>
		</div>
		<div class="col-12 col-md-4 d-md-none">
			<span class="text">
				Clara Fuertes Colegiada CAT00866
			</span>
			<br>
			<span class="text">
				Especialista en Nutrición.
				<br>
				Coach Nutricional.
			</span>
		</div>
	</div>
</div>
