.page {
    margin-top: 15px;

    @media only screen and (max-width: 1000px) {
        position: relative;
        width: 100%;

    }
}

.divider {
    width: 50%;
    min-width: 400px;

    @media only screen and (max-width: 1000px) {
        width: 100%;
        background-color: #ffffff99;
        min-width: 0px;
    }

    img {
        width: 100%;
        height: auto;
        max-height: 90%;

        @media only screen and (max-width: 1000px) {
            max-height: 100%;
        }
    }
}

.dtext {
    background-color: white;
    text-align: justify;
    border: 5px solid #CDDDD7;
    border-radius: 5px;
    padding: 3.5%;
}

.izquierda {
    animation: fadeIn 3s;
    z-index: -1;
}

.derecha {
    animation: fadeOut 3s;
    z-index: -1;
}

@keyframes fadeIn {
    0% {
        transform: translateX(-30rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    0% {
        transform: translateX(30rem);
    }

    100% {
        transform: translateX(0);
    }
}



.divider.img {
    align-content: space-around;

    @media only screen and (max-width: 1000px) {
        position: absolute;
        background-color: #ffffff99;
        z-index: -1;
        height: 100%;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: bottom;
        }
    }

}


button {
    width: 170px;
    height: 30px;
    border-radius: 40px;
    background-color: #c1e4d6;
    border-color: transparent;
    box-shadow: 7px 6px 16px 1px #c1e4d6;
}

button:hover {
    background-color: #8cd2a3;
    animation: buttonn 500ms;
}

@keyframes buttonn {
    0% {
        background-color: #c1e4d6;
    }

    100% {
        background-color: #8cd2a3;
    }
}


.spanhover {
    color: #4D5C52
}

.spanhover:hover {
    color: black;
}

input,
textarea {
    width: 90%;
    font-family: Rajdhani;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.94px;
    text-align: left;
    color: #4D5C52;
    margin: 10px 0px;
    border: 1px solid #4D5C52;
    border-radius: 15px;
    padding: 0px 15px;
}

textarea {
    padding-top: 10px;
    resize: none;
}