<div style="padding: 25px">
	<div class="row page">
		<div class="divider dtext">
			<div style="text-align: -webkit-center;">
				<p style="font-family: Poppins;
				font-size: 18px;
				font-weight: 700;
				line-height: 26px;
				text-align: center;
				color: #4D5C52;
				background-image: url(../../../../../assets/asesoramiento/linea1.png);
				background-position-y: bottom;
				background-size: contain;
				background-repeat: no-repeat;
				padding-bottom: 15px;
				width: fit-content;
				">
					¿De qué trata el acompañamiento?
				</p>
			</div>
			<span style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        text-align: justify;
        color: #4D5C52;">
				·
				<b>Entrevista inicial mediante cuestionario</b>
				que te envío que incluye todas las
				preguntas que necesito para conocer tu caso en profundidad.
				<br>
				<br>
				·
				<b>Test de síntomas </b>
				para que rellenes para hacer una valoración más profunda
				<br>
				<br>
				· Además, puedes enviarme un email con todas tus inquietudes.
				<br>
				<br>
				·
				Reviso mediante un registro alimentario los hábitos actuales, para valorar
				qué podemos mantener y qué deberíamos modificar para alcanzar tus objetivos.
				<br>
				<br>
				·
				Reviso las últimas analíticas o pruebas complementarias de las que
				dispongas.
				<br>
				<br>
				·
				Te <b>elaboro una ruta personalizada:</b> te asesoro de lo que deberías
				hacer en
				este momento para mejorar tu situación, y de los pasos posteriores a seguir.
				<br>
				<br>
				·
				Te <b>envío el plan junto con un vídeo explicativo personalizado</b> de tu
				proceso
				y de las pautas que te envío, para que te sea muy sencillo entenderlo.
			</span>
		</div>
		<div class="divider img izquierda">
			<img src="assets/asesoramiento/pato1.webp"
				alt="patologia1">
		</div>
	</div>
	<div class="row page">
		<div class="divider img derecha">
			<img src="assets/asesoramiento/pato2.webp"
				alt="patologia2">
		</div>
		<div class="divider dtext">
			<div style="text-align: -webkit-center;">
				<p style="font-family: Poppins;
				font-size: 18px;
				font-weight: 700;
				line-height: 26px;
				text-align: center;
				color: #4D5C52;
				background-image: url(../../../../../assets/asesoramiento/linea2.png);
				background-position-y: bottom;
				background-size: contain;
				background-repeat: no-repeat;
				padding-bottom: 15px;
				width: fit-content;
				">
					¿Qué incluye en plan?
				</p>
			</div>
			<span style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        text-align: justify;
        color: #4D5C52;">
				·
				En base a la patología diagnosticada y sobre todo en base a tu
				sintomatología elaboro unas pautas personalizadas 100% para ti.
				<br>
				<br>
				· Con estas pautas se pretende tratar la patología, pero sobre todo la causa
				de base y las disfunciones asociadas, para tratar el problema de raíz y
				evitar recidivas.
				<br>
				<br>
				· En el plan se incluyen recomendaciones a nivel nutricional y de
				suplementación, en caso de considerarse necesarias.
				<br>
				<br>
				· Elaboro una hoja de ruta explicándote cómo debería ser la continuidad de
				tu tratamiento con la patología y sintomatología actual.
				<br>
				<br>
				· Resuelvo las <b>posibles dudas </b>que te puedan surgir durante las 48
				horas
				posteriores al envío de las pautas.
			</span>
		</div>
	</div>
	<div class="row page">
		<div class="divider dtext">
			<div style="text-align: -webkit-center;">
				<p style="font-family: Poppins;
				font-size: 18px;
				font-weight: 700;
				line-height: 26px;
				text-align: center;
				color: #4D5C52;
				background-image: url(../../../../../assets/asesoramiento/linea3.png);
				background-position-y: bottom;
				background-size: contain;
				background-repeat: no-repeat;
				padding-bottom: 15px;
				width: fit-content;
				">
					¿Qué NO incluye el plan?
				</p>
			</div>
			<span style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        text-align: justify;
        color: #4D5C52;">
				· Este plan se elabora en base a un estudio de la situación actual, si la
				situación cambia en las próximas semanas o días, porque hay un nuevo
				diagnóstico no se hacen modificaciones del mismo.
				<br>
				<br>
				· No incluye un seguimiento del proceso por parte del profesional.
			</span>
		</div>
		<div class="divider img izquierda">
			<img src="assets/asesoramiento/pato3.webp"
				alt="patologia3">
		</div>
	</div>
	<br>
	<div style="text-align: center;">
		<span (click)="ComprarCurso()"
			class="spanhover"
			style="font-family: Poppins;
	font-size: 18px;
	font-weight: 600;
	line-height: 26px;
	text-align: center;
	cursor: pointer;
	padding: 15px;
	">
			Precio del asesoramiento personalizado de patología&nbsp;digestiva:
			<span style="color: #7DAD9B;">77&nbsp;euros</span>
		</span>
		<br>
		<img src="assets/asesoramiento/Vector 1.png"
			alt="vector"
			style="width: 100%;height: 10px;margin: 20px 0px;">
		<br>
		<div>
			<button (click)="ComprarCurso()">
				<span
					style=" font-family: Reem Kufi Ink; font-size: 12px; font-weight: 700; line-height: 30px;
            text-align: center; color: #6A6056;">EMPECEMOS!</span>
			</button>
		</div>
		<br>
		<div>
			<button (click)="openModal()">
				<span style="font-family: Reem Kufi Ink;
                font-size: 12px;
                font-weight: 700;
                line-height: 30px;
                text-align: center;
                color: #6A6056;">
					¿TIENES ALGUNA DUDA?
				</span>
			</button>
		</div>
	</div>
</div>
