<div style="text-align: -webkit-center; padding: 20px 5px;">
    <div
        style="border: 5px solid #CDDDD7;max-width: 80vw;border-radius: 5px;width: 890px;padding: 25px;">
        <span style="font-family: Allura;
        font-size: 36px;
        font-weight: 400;
        line-height: 52px;
        text-align: center;
        color: #4D5C52;
        padding-bottom: 10px;">
            POLÍTICA DE PRIVACIDAD
        </span>
        <br><br>
        <div style="text-align: justify;">
            <span style="font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #4D5C52;">
                La confidencialidad y la seguridad son valores primordiales de
                <b> Claranutricion </b> y, en consecuencia, asumimos el
                compromiso
                de
                garantizar la privacidad
                del
                Usuario
                en todo momento y de no recabar información innecesaria. A
                continuación,
                le
                proporcionamos toda la información necesaria sobre nuestra
                Política
                de
                Privacidad en relación con los datos personales que recabamos,
                explicándole:
                <br> <br>
                Quién es el responsable del tratamiento de sus datos.<br>
                Para qué finalidades recabamos los datos que le solicitamos.<br>
                Cuál es la legitimación para su tratamiento.<br>
                Durante cuánto tiempo los conservamos.<br>
                A qué destinatarios se comunican sus datos.<br>
                Cuáles son sus derechos.<br><br>
                <b> Responsable: </b>Clara Fuertes Camprubí<br>
                <b>CIF:</b> 43559198G<br>
                <b>Dirección:</b> Paseo del espigol, 5<br>
                <b> Teléfono:</b> (+34) 678 996 357<br>
                <b> Mail: </b>info&#64;claranutricion.com<br>
                Finalidades, legitimación y conservación de los tratamientos de
                los
                datos enviados a través de:<br><br>
                <b>FORMULARIO DE CONTACTO.</b><br><br>
                Finalidad: Facilitarle un medio para que pueda ponerse en
                contacto
                con
                nosotros
                y contestar a sus solicitudes de información, así como enviarle
                comunicaciones
                de nuestros productos, servicios y actividades, inclusive por
                medios
                electrónicos (Correo electrónico, SMS, WhatsApp), si marca la
                casilla de
                aceptación.<br><br>
                Legitimación: El consentimiento del usuario al solicitarnos
                información
                a través
                de nuestro formulario de contactos y al marcar la casilla de
                aceptación
                de envío
                de información.<br><br>
                Conservación: Una vez resulta su solicitud por medio de nuestro
                formulario o
                contestada por correo electrónico, si no ha generado un nuevo
                tratamiento, y en
                caso de haber aceptado recibir envíos comerciales, hasta que
                solicite la
                baja de
                los mismos.<br><br>
                <b> ENVÍO DE CORREOS ELECTRÓNICOS.</b><br><br>
                Finalidad: Contestar a sus solicitudes de información, atender
                sus
                peticiones y
                responder sus consultas o dudas.<br><br>
                Legitimación: El consentimiento del usuario al solicitarnos
                información
                a través
                de la dirección de correo electrónico.<br><br>
                Conservación: Una vez resulta contestada su petición por correo
                electrónico, si
                no ha generado un nuevo tratamiento.<br><br>
                <b> ENVÍO DEL CURRÍCULUM VITAE POR CORREO
                    ELECTRÓNICO</b><br><br>
                Finalidad: Disponer de su currículum para participar en nuestros
                procesos de
                selección de personal.<br><br>
                Legitimación: El consentimiento del usuario al remitirnos su
                información
                personal y currículum para nuestros procesos de selección de
                personal.<br><br>
                Conservación: Durante el desarrollo de los procesos de selección
                de
                personal
                abiertos y durante 1 año para futuros procesos.<br><br>
                <b> SUSCRIPCIÓN A NUESTRA NEWSLETTER</b><br><br>
                Finalidad: Envío de nuestro boletín comercial y de
                comunicaciones
                informativas y
                publicitarias sobre nuestros productos o servicios que sean de
                su
                interés,
                incluso por medios electrónicos (Correo electrónico, SMS,
                WhatsApp).
                Legitimación: El consentimiento del usuario al suscribirse a
                nuestros
                envíos
                comerciales y/o newsletters.<br><br>
                Conservación: Hasta que el interesado revoque el consentimiento
                y
                solicite la
                baja del servicio.<br><br>
                Obligación de facilitarnos sus datos personales y consecuencias
                de
                no
                hacerlo.<br><br>
                El suministro de datos personales requiere una edad mínima de 14
                años, o
                en su
                caso, disponer de capacidad jurídica suficiente para
                contratar.<br><br>
                Los datos personales solicitados son necesarios para gestionar
                sus
                solicitudes
                y/o prestarle los servicios que pueda contratar, por lo que, si
                no
                nos
                los
                facilita, no podremos atenderle correctamente ni prestarle el
                servicio
                que ha
                solicitado.<br><br>
                Destinatarios de sus datos
                Sus datos son confidenciales y no se cederán a terceros, salvo
                que
                exista
                obligación legal.<br><br>
                Derechos en relación con sus datos personales
                Cualquier persona puede retirar su consentimiento en cualquier
                momento,
                cuando
                el mismo se haya otorgado para el tratamiento de sus datos. En
                ningún
                caso, la
                retirada de este consentimiento condiciona la ejecución del
                contrato
                de
                suscripción o las relaciones generadas con anterioridad.<br><br>
                Igualmente, puede ejercer los siguientes derechos:<br><br>
                Solicitar el acceso a sus datos personales o su rectificación
                cuando
                sean
                inexactos.<br><br>
                Solicitar su supresión cuando, entre otros motivos, los datos ya
                no
                sean
                necesarios para los fines para los que fueron recogidos.<br><br>
                Solicitar la limitación de su tratamiento en determinadas
                circunstancias.<br><br>
                Solicitar la oposición al tratamiento de sus datos por motivos
                relacionados con
                su situación particular.<br><br>
                Solicitar la portabilidad de los datos en los casos previstos en
                la
                normativa.
                Otros derechos reconocidos en las normativas aplicables.<br><br>
                Dónde y cómo solicitar sus Derechos:<br><br>
                Mediante un escrito dirigido al responsable a su dirección
                postal o
                electrónica
                (indicadas en el apartado “Responsable”), indicando la
                referencia
                “Datos
                Personales”, especificando el derecho que se quiere ejercer y
                respecto a
                qué
                datos personales.<br><br>
                En caso de divergencias con la empresa en relación con el
                tratamiento de
                sus
                datos, puede presentar una reclamación ante la Autoridad de
                Protección
                de Datos
                (www.agpd.es).<br><br>
                Cookies
                Esta página web, únicamente utiliza cookies técnicas, de
                personalización
                y
                análisis, propias y de terceros (Google Analytics), que en
                ningún
                caso
                tratan
                datos de carácter personal ni captan hábitos de navegación para
                fines
                publicitarios.
                Por ello, al acceder a nuestra web, en cumplimiento del artículo
                22
                de
                la Ley de
                Servicios de la Sociedad de la Información, al tratar cookies de
                análisis, le
                hemos solicitado su consentimiento para su uso y facilitada
                información
                de las
                mismas, que en todo caso se instalarán pasado un plazo de tiempo
                prudencial para
                que el usuario tenga tiempo de decidir prestar su consentimiento
                o
                no.<br><br>
                Seguridad de sus datos personales
                Con el objetivo de salvaguardar la seguridad de sus datos
                personales, le
                informamos que hemos adoptado todas las medidas de índole
                técnica y
                organizativa
                necesarias para garantizar la seguridad de los datos personales
                suministrados de
                su alteración, pérdida, y tratamientos o accesos no autorizados.
                Actualización de sus datos
                Es importante que para que podamos mantener sus datos personales
                actualizados,
                nos informe siempre que haya habido alguna modificación en
                ellos, en
                caso
                contrario, no respondemos de la veracidad de los mismos.<br><br>
                No nos hacemos responsables de la política de privacidad
                respecto a
                los
                datos
                personales que pueda facilitar a terceros por medio de los
                enlaces
                disponibles
                en nuestra página web.<br><br>
                La presente Política de Privacidad puede ser modificada para
                adaptarlas
                a los
                cambios que se produzca en nuestra web, así como modificaciones
                legislativas o
                jurisprudenciales sobre datos personales que vayan apareciendo,
                por
                lo
                que exige
                su lectura, cada vez que nos facilite sus datos a través de esta
                Web.
            </span>
        </div>
    </div>
</div>