.body {
  text-align: -webkit-center;
  margin: 10%;
  position: relative;
  z-index: 2000;
}
.modal-content {
  min-width: 400px;
  min-height: 175px;
  background: rgba(243, 243, 243, 1);
  padding: 14px 24px;
  margin: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.modal-span {
  color: rgba(0, 0, 0, 1);
  height: 100%;
  font-family: Bad Script;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
}
button {
  width: 300px;
  height: 100px;
  background: rgba(245, 206, 199, 1);
  padding: 14px 0px;
  margin: 8px;
  opacity: 1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  border-color: white;
  overflow: hidden;
  color: rgba(96, 94, 94, 1);
  font-family: Asap Condensed;
  font-weight: Medium;
  opacity: 1;
  text-align: center;
}
input {
  width: 80%;
  max-width: 500px;
  background: rgba(245, 206, 199, 1);
  padding: 8px 16px;
  margin: 8px;
  opacity: 1;
  border-color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  color: rgba(0, 0, 0, 1);
  font-family: Kite One;
  font-weight: 600;
  font-size: 14px;
  text-align: left;
}
.backscreen {
  width: 100%;
  height: 550px;
  background: rgba(217, 217, 217, 0.3100000023841858);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1900;
}
.backimg {
  width: 200px;
  height: 200px;
  position: relative;
  bottom: -450px;
  left: 70%;
}
li {
  list-style: none;
  color: rgba(0, 0, 0, 1);
  font-family: Handlee;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  margin: 5%;
}
li:before {
  content: "✓";
}

.e0 {
  font-family: Allura;
  font-size: 45px;
  letter-spacing: 0px;
  font-weight: 800;
}
.e1 {
  font-family: "Bad Script";
  font-size: 15px;
  letter-spacing: 0px;
}
.e2 {
  font-family: Bad Script;
  color: black;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin: 7%;
}
.e3 {
  font-family: Asap;
  font-weight: 800;
  font-size: 14px;
}
.e4 {
  font-family: Handlee;
  font-weight: Regular;
  font-size: 16px;
}

.e5 {
  font-family: Bad Script;
  color: black;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
}
.e6 {
  color: rgba(0, 0, 0, 1);
  font-family: Artifika;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.e7 {
  color: rgba(0, 0, 0, 1);
  font-family: Asap Condensed;
  font-weight: 400;
  opacity: 1;
  text-align: left;
  font-size: 15px;
}
.e8 {
  width: 100%;
  background: url("../../assets/v89_162.png");
  opacity: 1;
  border: 3px solid rgba(245, 206, 199, 1);
}
.v97 {
  width: 244px;
  height: 241px;
  opacity: 1;
  border-top-left-radius: 171px;
  border-top-right-radius: 171px;
  border-bottom-left-radius: 171px;
  border-bottom-right-radius: 171px;
  overflow: hidden;
}

.computerImg {
  width: 434px;
  height: 416px;
  opacity: 1;
  border-top-left-radius: 279px;
  border-top-right-radius: 279px;
  border-bottom-left-radius: 279px;
  border-bottom-right-radius: 279px;
  overflow: hidden;
}
.backscreen {
  width: 100%;
  height: 1000px;
  background: rgba(217, 217, 217, 0.3100000023841858);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
}
