.cuerpo {
  z-index: 1;
  min-height: 100vh;
  max-width: 100%;
  .row {
    padding: 10px;
  }
}

.dialog {
  position: fixed;
  top: 5%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  height: auto;
  width: fit-content;
  background-color: #f5cec7;
  border-radius: 25px;
  padding: 25px;
  z-index: 99;
}

b {
  color: black;
}

a {
  color: black;
}

button {
  height: 50px;
  z-index: 0;
  border: 2px solid gray;
  border-radius: 15px;
  font-weight: 800;
}

button.form {
  margin: 5px;
  background-color: green;
  border: 1px black solid;
}
