.v97 {
  width: 244px;
  height: 241px;
  opacity: 1;
  border-top-left-radius: 171px;
  border-top-right-radius: 171px;
  border-bottom-left-radius: 171px;
  border-bottom-right-radius: 171px;
  overflow: hidden;
}
