<div class="cuerpo row">
    <div class="dialog" *ngIf="modal" style="background-color: gray;">
        <mat-dialog-content>
            <h4>
                <b style="color: pink;">
                    Tienes Tu Guía de ensaladas al email <br>
                    Espero de corazón que te sirva de ayuda
                </b>
            </h4>
        </mat-dialog-content>
        <button mat-button cdkFocusInitial (click)="modal=false" style="background-color: pink;">
            <b> Cerrar </b>
        </button>
    </div>



    <div class="col">
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            <span style='font-size:19px;font-family:"Segoe UI",sans-serif;'>&nbsp;</span>
        </p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            <span style='font-size:16px;font-family:"Segoe UI",sans-serif;'>Soy especialista en hacer que
                <strong>mujeres como t&uacute;</strong>, con una vida real, que no tienen demasiado tiempo para la
                cocina pero que quieren empezar a <strong>cuidarse, reducir inflamaci&oacute;n y grasa puedan conseguir
                    sus objetivos de forma sencilla</strong></span>
        </p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
            <span style='font-family:"Segoe UI",sans-serif;'>&nbsp;</span>
        </p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;line-height:150%;'>
            <strong><span
                    style='font-size:21px;line-height:150%;font-family:"Footlight MT Light",serif;'>&iquest;Cansada de
                    seguir buscando la f&oacute;rmula m&aacute;gica que te haga estar a gusto con tu
                    cuerpo?</span></strong>
        </p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;line-height:normal;'>
            <strong><span style='font-family:"Cambria",serif;color:#2E74B5;'>(letra Footlight MT Light)</span></strong>
        </p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;line-height:normal;'>
            <strong><span style='font-family:"Cambria",serif;color:#2E74B5;'>&nbsp;</span></strong>
        </p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;line-height:150%;'>
            <span style='font-family:"Segoe UI",sans-serif;'>Es un HECHO, la mayor&iacute;a de las mujeres se pasan
                <strong>toda la vida intentando lograr el cuerpo que desean sin conseguirlo</strong>.&nbsp;</span>
        </p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;line-height:150%;'>
            <strong><span style='font-family:"Segoe UI",sans-serif;'>&iquest;Por qu&eacute;? &iexcl;Porque no entienden
                    lo que necesitan!&nbsp;</span></strong><span style='font-family:"Segoe UI",sans-serif;'>Porque creen
                que lo lograr&aacute;n con X cosa m&aacute;gica.</span>
        </p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;line-height:150%;'>
            <strong><span style='font-family:"Segoe UI",sans-serif;'>&iquest;Has buscado y buscado informaci&oacute;n,
                    has probado cientos de productos, y a&uacute;n sigues creyendo que no solucionas el problema porque
                    no has encontrado el que va bien?</span></strong><span
                style='font-family:"Segoe UI",sans-serif;'>&nbsp;D&eacute;jame decirte que <strong>no lo vas a
                    encontrar.</strong></span>
        </p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;line-height:150%;'>
            <strong><span style='font-family:"Segoe UI",sans-serif;'>&iexcl;Sabes que ha llegado la hora de probar algo
                    distinto!</span></strong><span style='font-family:"Segoe UI",sans-serif;'>&nbsp;Darle la vuelta y
                coger realmente las riendas de tu alimentaci&oacute;n, entendiendo qu&eacute; es lo que
                necesitas.</span>
        </p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            <strong><span style='font-size:19px;font-family:"Footlight MT Light",serif;color:#F07878;'>Qu&eacute;date y
                    te explico c&oacute;mo</span></strong><span
                style='font-size:19px;font-family:"Footlight MT Light",serif;'>&nbsp;puedo ayudarte a conseguirlo</span>
        </p>

        <div style="text-align: center;">
            <button mat-raised-button style="color: black;background-color: #ADD1C5;" (click)="send()">
                <b> QUIERO EMPEZAR MI TRANSFORMACION </b>
            </button>
        </div>
        <br>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;line-height:115%;'>
            <strong><span
                    style='font-size:19px;line-height:115%;font-family:"Footlight MT Light",serif;'>&iquest;Cu&aacute;ntas
                    veces te preguntas que no comes tanto&nbsp;</span></strong></p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;line-height:115%;'>
            <strong><span style='font-size:19px;line-height:115%;font-family:"Footlight MT Light",serif;'>para lo
                    hinchada que te encuentras?</span></strong></p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;line-height:115%;'>
            <strong><span
                    style='font-size:19px;line-height:115%;font-family:"Footlight MT Light",serif;'>&nbsp;</span></strong>
        </p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;'>
            <span style='font-family:"Segoe UI",sans-serif;'>Intentas controlar lo que comes, haces grandes esfuerzos,
                lees trucos, te restringes mucho la comida, pero aun as&iacute; no consigues reconciliarte con tu
                barriga.&nbsp;</span></p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;'>
            <span style='font-family:"Segoe UI",sans-serif;'>Sabes que algo no va bien, pero no sabes que m&aacute;s
                hacer. <strong>La respuesta es <span style="color:#F07878;">LA
                        INFLAMACI&Oacute;N.</span></strong></span></p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;'>
            <span style='font-family:"Segoe UI",sans-serif;'>A lo largo de mi trayectoria profesional he visto como
                cientos de mujeres han perdido tiempo, energ&iacute;a y dinero enfoc&aacute;ndose en soluciones que nos
                las llevaba a ning&uacute;n lado.&nbsp;</span></p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;'>
            <span style='font-family:"Segoe UI",sans-serif;'>&nbsp;</span></p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;'>
            <span style='font-family:"Segoe UI",sans-serif;'>Muchas mujeres quieren empezar un <strong><span
                        style="color:#F07878;">m&eacute;todo antiinflamatorio</span></strong>, pero no dan el paso
                porqu&eacute; les parece complicado y extremista.&nbsp;</span></p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;'>
            <span style='font-family:"Segoe UI",sans-serif;'>Tras m&aacute;s de 14 a&ntilde;os de experiencia,
                <strong>te acerco a la Nutrici&oacute;n Antiinflamatoria&nbsp;</strong>sin radicalismos, para que
                <strong>transformarte te resulte de lo m&aacute;s sencillo</strong>.</span></p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;'>
            <span style='font-family:"Segoe UI",sans-serif;'>Sin f&oacute;rmulas complicadas e imposibles. Para que
                conozcas qu&eacute; es lo que<strong>&nbsp;beneficia a tus digestiones y vuelvas a sentir tuya tu
                    barriga.</strong></span></p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;'>
            <span style='font-family:"Segoe UI",sans-serif;'>Adem&aacute;s, mediante el <strong>Coaching
                    Nutricional</strong></span><strong><span
                    style='font-size:16px;font-family:"Segoe UI",sans-serif;color:#2E74B5;'>&nbsp;</span></strong><span
                style='font-family:"Segoe UI",sans-serif;'>trabajamos la mentalidad para que tu cambio sea para
                siempre.</span></p>

        <div style="text-align: center;">
            <button mat-raised-button style="color: black;background-color: #ADD1C5;" (click)="send()">
                QUIERO EMPEZAR MI TRANSFORMACION
            </button>
        </div>

        <br>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            <span style='font-family:"Segoe UI",sans-serif;'>No concibo mi vida sin ayudar a otras personas a encontrar
                su bienestar, tanto f&iacute;sico como mental. A ser como quieren ser para vivir en congruencia con sus
                valores y contribuir en su felicidad</span></p>
        <p
            style='margin-top:0cm;margin-right:28.3pt;margin-bottom:0cm;margin-left:1.0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            <strong><span style='font-size:19px;font-family:"Footlight MT Light",serif;color:#F07878;'>Te alimentas cada
                    d&iacute;a y varias veces al d&iacute;a,&nbsp;</span></strong></p>
        <p
            style='margin-top:0cm;margin-right:28.3pt;margin-bottom:0cm;margin-left:1.0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            <strong><span style='font-size:19px;font-family:"Footlight MT Light",serif;color:#F07878;'>&iexcl;Es la
                    actividad que m&aacute;s haces a lo largo de tu vida!</span></strong></p>
        <p
            style='margin-top:0cm;margin-right:28.3pt;margin-bottom:0cm;margin-left:1.0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            <strong><span style='font-size:19px;font-family:"Footlight MT Light",serif;color:#F07878;'>Est&aacute;
                    claro,</span></strong><strong><span
                    style='font-size:19px;font-family:"Footlight MT Light",serif;color:#ADD1C5;'>&nbsp;</span></strong><strong><span
                    style='font-size:19px;font-family:"Footlight MT Light",serif;'>ES URGENTE,<span
                        style="color:#F07878;">&nbsp;necesitas dominar este aspecto de tu vida</span></span></strong>
        </p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            &nbsp;</p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            <span style='font-family:"Segoe UI",sans-serif;'>Es la manera que tenemos de relacionarnos con los
                dem&aacute;s, de celebrar, y nuestra fuente de energ&iacute;a para la vida.</span></p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            <strong><span style='font-family:"Segoe UI",sans-serif;'>&iexcl;Sobran motivos para entender la importancia
                    que tiene tanto a nivel f&iacute;sico como mental!</span></strong></p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            <span style='font-family:"Segoe UI",sans-serif;'>Y no encuentro mejor satisfacci&oacute;n para m&iacute; que
                poder contribuir a que esta parte tan importante de tu vida mejore.</span></p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            <span style='font-family:"Segoe UI",sans-serif;'>&nbsp;</span></p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            <span style='font-family:"Segoe UI",sans-serif;'>&nbsp;</span></p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;background:white;'>
            <strong><span style='font-size:29px;font-family:"Bradley Hand ITC";color:#F28C8C;'>&iquest;Qu&eacute;
                    conseguir&aacute;s con este acompa&ntilde;amiento</span></strong><strong><span
                    style='font-size:29px;font-family:"Bradley Hand ITC";color:#F07878;'>?</span></strong></p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;background:white;'>
            <br></p>
        <div
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
            <ul style="margin-bottom:0cm;list-style-type: undefined;">
                <li
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                    <span style='font-family:"Segoe UI",sans-serif;'>Tener un <strong>plan 100% personalizado</strong>.
                        Calculo tus requerimientos energ&eacute;ticos en base a tus objetivos y necesidades&nbsp;</span>
                </li>
                <li
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                    <span style='font-family:"Segoe UI",sans-serif;'>Elaboro un <strong>men&uacute;
                            base&nbsp;</strong>para que conozcas tus necesidades, c&oacute;mo debes estructurar las
                        comidas, qu&eacute; deben incluir, etc.&nbsp;</span></li>
                <li
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                    <span style='font-family:"Segoe UI",sans-serif;'>Elaboro un <strong>men&uacute;</strong> semanal
                        ejemplo respetando tus gustos y preferencias</span></li>
                <li
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                    <span style='font-family:"Segoe UI",sans-serif;'>Te doy alternativas de desayunos y meriendas para
                        tu caso concreto</span></li>
                <li
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                    <span style='font-family:"Segoe UI",sans-serif;'>Te entrego recomendaciones espec&iacute;ficas en
                        caso de tener patolog&iacute;as asociadas</span></li>
                <li
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                    <span style='font-family:"Segoe UI",sans-serif;color:black;font-size:13px;color:black;'>Te entrego
                        <strong>hojas de equivalencias&nbsp;</strong>(y te ense&ntilde;o a usarlas) para que puedas
                        hacer las modificaciones que quieras, y sepas c&oacute;mo combinar y qu&eacute; raciones tomar
                        de los alimentos. Para que no te aburras. <strong>&iexcl;Hay infinidad de
                            combinaciones!</strong></span><span style='font-family:"Segoe UI",sans-serif;'>&nbsp;</span>
                </li>
                <li
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                    <span style='font-family:"Segoe UI",sans-serif;font-size:10.0pt;color:#222222;'>Te
                        <strong>acompa&ntilde;o</strong> en este proceso de cambio. Soy tu gu&iacute;a</span></li>
                <li
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                    <span style='font-family:"Segoe UI",sans-serif;font-size:10.0pt;color:#222222;'>Estamos <strong>en
                            contacto cada semana</strong> para valorar tu proceso</span></li>
                <li
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                    <strong><span style='font-family:"Segoe UI",sans-serif;font-size:10.0pt;color:#222222;'>Resuelvo tus
                            dudas</span></strong><span style='font-family:"Segoe UI",sans-serif;'>&nbsp;e inquietudes en
                        un plazo m&aacute;ximo de 24h mediante Whatsapp o email, estoy contigo</span></li>
                <li
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                    <span style='font-family:"Segoe UI",sans-serif;font-size:10.0pt;color:#222222;'>Te doy herramientas
                        basadas en el Coach Nutricional para que los cambios que hagas sean duraderos en el tiempo.
                        <strong>&iexcl;Ya no m&aacute;s dietas! &iexcl;Esta es la definitiva!</strong></span></li>
                <li
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                    <span style='font-family:"Segoe UI",sans-serif;font-size:10.0pt;color:#222222;'>Te propongo
                        <strong>ejercicios</strong> para que integres el cambio y lo entiendas. &iexcl;Te va a encantar
                        tu nueva mentalidad!&nbsp;</span></li>
            </ul>
        </div>
        <p
            style='margin-top:12.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;line-height:normal;background:white;'>
            <span style='font-family:"Segoe UI",sans-serif;color:#222222;'>&nbsp;</span></p>
        <p
            style='margin-top:12.0pt;margin-right:0cm;margin-bottom:8.0pt;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;line-height:normal;background:white;'>
            <span style='font-family:"Segoe UI",sans-serif;color:#222222;'>&nbsp;</span></p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;background:white;'>
            <strong><span
                    style='font-size:29px;font-family:"Bradley Hand ITC";color:#F07878;'>Imagina&hellip;&nbsp;</span></strong>
        </p>
        <ul style="list-style-type: disc;margin-left:26px;">
            <li><span style='line-height:150%;font-family:"Segoe UI",sans-serif;color:black;'>Imagina mirarte al espejo
                    y estar <strong>a gusto con lo que ves y sientes</strong>. <strong>Sentir tuya tu
                        barriga&nbsp;</strong></span></li>
            <li><span style='line-height:150%;font-family:"Segoe UI",sans-serif;color:black;'>Imagina sentirte con
                    <strong>m&aacute;s energ&iacute;a</strong>, porque es un plan calculado para lo que necesitas</span>
            </li>
            <li><span style='line-height:150%;font-family:"Segoe UI",sans-serif;color:black;'>Imagina conocer las bases
                    de la <strong>alimentaci&oacute;n antiinflamatoria</strong> e <strong>incorporarlas</strong> a tu
                    vida,viviendo un <strong>proceso de coaching</strong></span></li>
            <li><span style='line-height:150%;font-family:"Segoe UI",sans-serif;color:black;'>Imagina no limitarte a
                    hacer una dieta m&aacute;s, esta vez es distinta, imagina <strong>cambiar tu mentalidad para
                        siempre</strong></span></li>
            <li><span style='line-height:150%;font-family:"Segoe UI",sans-serif;color:black;'>Imagina
                    <strong>reconciliarte con tu cuerpo y tus digestiones</strong></span></li>
            <li><span style='line-height:150%;font-family:"Segoe UI",sans-serif;color:black;'>Imagina aumentar tu
                    <strong>autoestima y confianza</strong>, estar contenta porque por fin est&aacute;s haciendo aquello
                    que sabes que te hace sentir bien y por fin te priorizas por encima de los dem&aacute;s</span></li>
            <li><span style='line-height:150%;font-family:"Segoe UI",sans-serif;color:black;'>Imagina poder comer tus
                    alimentos favoritos porque es un plan pensado para ti</span></li>
            <li><span style='line-height:150%;font-family:"Segoe UI",sans-serif;color:black;'>Imagina <strong>vivir en
                        paz</strong> y coherencia con tus acciones y tus valores</span></li>
            <li><span style='line-height:150%;font-family:"Segoe UI",sans-serif;color:black;'>Imagina
                    <strong>dominar</strong> algo que har&aacute;s toda tu vida, varias veces a lo largo del d&iacute;a.
                    <strong>&iexcl;Vivir con la tranquilidad de saber que lo est&aacute;s haciendo
                        bien!&nbsp;</strong></span></li>
        </ul>
        <p
            style='margin-top:12.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:18.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;line-height:11.75pt;background:white;'>
            <br></p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;background:white;'>
            <strong><span style='font-size:29px;font-family:"Bradley Hand ITC";color:#F07878;'>Esto es para ti
                    si&hellip;</span></strong></p>
        <div
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
            <ul style="margin-bottom:0cm;list-style-type: undefined;">
                <li
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                    <span style='font-family:"Segoe UI",sans-serif;color:black;'>Estas <strong>cansada de hacer dietas
                            restrictivas&nbsp;</strong>que te hacen sentir privada, frustrada y de mal humor.
                        &iexcl;Seguramente no est&aacute;n calculadas para ti!</span></li>
                <li
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                    <span style='font-family:"Segoe UI",sans-serif;color:black;'>Sientes que ha llegado el momento de
                        hacer un <strong>cambio distinto</strong>, pero no sabes c&oacute;mo enfocarlo, por d&oacute;nde
                        empezar. Necesitas una persona que te gu&iacute;e</span></li>
                <li
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                    <span style='font-family:"Segoe UI",sans-serif;color:black;'>Te <strong>sientes hinchada, inflamada,
                            sin energ&iacute;a</strong>. El enfoque antiinflamatorio es el que necesitas</span></li>
                <li
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                    <span style='font-family:"Segoe UI",sans-serif;color:black;'>Quieres <strong>dominar tu
                            nutrici&oacute;n</strong> de una vez por todas, ser due&ntilde;a de ti misma</span></li>
                <li
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                    <span style='font-family:"Segoe UI",sans-serif;color:black;'>Estas dispuesta a empezar a
                        <strong>priorizarte</strong>, &iexcl;dejando las excusas a un lado!</span></li>
                <li><span style='font-family:"Segoe UI",sans-serif;color:black;'>&iexcl;Quieres
                        <strong>transformarte</strong> y que esta vez sea la <strong>definitiva</strong>!</span></li>
                <li><span style='font-family:"Segoe UI",sans-serif;'>&nbsp;</span></li>
                <li
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                    <span style='font-family:"Segoe UI",sans-serif;color:black;'>Est&aacute;s buscando perder peso de
                        forma milagrosa</span></li>
                <li
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                    <span style='font-family:"Segoe UI",sans-serif;color:black;'>Quieres perder X peso en X tiempo
                        determinado para luego volver a tus h&aacute;bitos de siempre</span></li>
                <li
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                    <span style='font-family:"Segoe UI",sans-serif;color:black;'>Quieres bajar grasa sin hacer
                        ning&uacute;n cambio</span></li>
            </ul>
        </div>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;background:white;'>
            <strong><span style="font-size:21px;color:#7030A0;">&nbsp;</span></strong></p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;background:white;'>
            <strong><span style='font-size:24px;font-family:"Bradley Hand ITC";color:black;'>&iquest;Lista para empezar
                    tu transformaci&oacute;n?</span></strong></p>



        <div style="text-align: center;">
            <button mat-raised-button style="color: black;background-color: #ADD1C5;" (click)="send()">
                QUIERO EMPEZAR MI TRANSFORMACION
            </button>
        </div>
        <br> <br>

        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            <strong><span style='font-size:27px;font-family:"Bradley Hand ITC";color:#F07878;'>&iquest;En que m&aacute;s
                    te puedo ayudar?</span></strong></p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            <strong><span style='font-size:19px;line-height:107%;font-family:"Segoe UI",sans-serif;'>&iquest;Tienes una
                    patolog&iacute;a digestiva?</span></strong><span
                style='font-size:19px;line-height:107%;font-family:"Segoe UI",sans-serif;'>&nbsp;(SIBO, IMO, H.Pylori,
                Gastritis&hellip;) <strong><span style="color:#F07878;">&iexcl;Este es tu sitio!</span></strong></span>
        </p>

        <br><br>

        <div style="text-align: center;">
            <button mat-raised-button style="color: black;background-color: #ADD1C5;" (click)="send()">
                NECESITO AYUDA CON MI PROBLEMA DIGESTIVO
            </button>
        </div>
    </div>
</div>