<div class="cuerpo row">

    <div class="dialog" *ngIf="modal">
        <mat-dialog-content>
            <p>
                Tienes Tu Guía de ensaladas al email, espero de corazón que te sirva de ayuda!
            </p>
        </mat-dialog-content>
        <button mat-button cdkFocusInitial (click)="modal=false"> Cerrar</button>
    </div>



    <div class="col">

        <h1>
            Soy especialista en hacer que mujeres como tú, con una vida real, que no tienen demasiado tiempo para la
            cocina pero que quieren empezar a cuidarse, reducir inflamación y grasa puedan conseguir sus objetivos de
            forma sencilla
        </h1>
        <h2>
            ¿Cansada de seguir buscando la fórmula mágica que te haga estar a gusto con tu cuerpo?
        </h2>

        <p>
            Es un HECHO, la mayoría de las mujeres se pasan <b> toda la vida intentando lograr el cuerpo que desean sin
                conseguirlo.</b>

        </p>
        <p>
            <b> ¿Por qué? ¡Porque no entienden lo que necesitan! </b> Porque creen que lo lograrán con X cosa mágica.

        </p>
        <p>
            <b>¿Has buscado y buscado información, has probado cientos de productos, y aún sigues creyendo que no
                solucionas el problema porque no has encontrado el que va bien? </b> Déjame decirte que <b> no lo vas a
                encontrar.</b>

        </p>
        <p>
            <b>¡Sabes que ha llegado la hora de probar algo distinto, </b> darle la vuelta y coger realmente las riendas
            de tu
            alimentación, entendiendo qué es lo que necesitas!

        </p>
        <h4 style="text-align: center;">
            Quédate y te explico cómo puedo ayudarte a conseguirlo

        </h4>
        <div style="text-align: center;">
            <button mat-raised-button style="color: black;background-color: #ADD1C5;" (click)="send()">
                QUIERO EMPEZAR MI TRANSFORMACION
            </button>
        </div>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;'>
            Intentas controlar lo que comes, haces grandes esfuerzos, lees trucos, te restringes mucho la comida, pero
            aun as&iacute; no consigues reconciliarte con tu barriga.&nbsp;</p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;'>
            Sabes que algo no va bien, pero no sabes que m&aacute;s hacer.&nbsp;<strong><span
                    style="font-size:19px;color:#2E74B5;">La respuesta es la inflamaci&oacute;n.</span></strong></p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;'>
            A lo largo de mi trayectoria profesional he visto como cientos de mujeres han perdido tiempo, energ&iacute;a
            y dinero enfoc&aacute;ndose en soluciones que nos las llevaba a ning&uacute;n lado.&nbsp;</p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;'>
            Muchas mujeres quieren empezar un <strong>m&eacute;todo antiinflamatorio</strong>, pero no dan el paso
            porqu&eacute; les parece complicado y extremista.&nbsp;</p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;'>
            Tras m&aacute;s de 14 a&ntilde;os de experiencia,&nbsp;<strong><span
                    style="font-size:19px;color:#2E74B5;">te acerco la Nutrici&oacute;n
                    Antiinflamatoria</span></strong><span style="color:#2E74B5;">&nbsp;</span>sin radicalismos, para
            que&nbsp;<strong><span style="font-size:19px;color:#2E74B5;">transformarte te resulte de lo m&aacute;s
                    sencillo</span></strong><span style="font-size:19px;color:#2E74B5;">.</span><span
                style="color:#2E74B5;">&nbsp;</span>Sin f&oacute;rmulas complicadas e imposibles. Para que
            c<strong><span style="color:#2E74B5;">onozcas qu&eacute; es lo que beneficia a tus digestiones y vuelvas a
                    sentir tuya tu barriga.</span></strong>&nbsp;</p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;'>
            Adem&aacute;s, mediante el&nbsp;<strong><span style="font-size:16px;color:#2E74B5;">Coaching
                    Nutricional</span></strong><span style="color:#2E74B5;">&nbsp;</span>trabajamos la mentalidad para
            que tu cambio sea para siempre.</p>
        <p
            style='margin-top:0cm;margin-right:35.35pt;margin-bottom:0cm;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;line-height:11.75pt;background:white;'>
            <em><span style="color:black;">Hace a&ntilde;os, yo tambi&eacute;n pensaba que la nutrici&oacute;n en
                    p&eacute;rdida de grasa era contar calor&iacute;as, consumir productos bajos en grasa y correr.
                    Cuando empec&eacute; mi trayectoria en Nutrici&oacute;n Digestiva y conoc&iacute; los procesos
                    inflamatorios cambi&oacute; mi visi&oacute;n, porqu&eacute; entend&iacute; que la base de cualquier
                    patolog&iacute;a es la inflamaci&oacute;n y que, de la misma manera,&nbsp;</span></em><em><span
                    style="color:black;">la alimentaci&oacute;n antiinflamatoria protege a tu organismo de una
                    inflamaci&oacute;n cr&oacute;nica.</span></em>
            <br>

            <em><span style="color:black;">Y la inflamaci&oacute;n no se basa solamente en consumir omega 3, porque
                    volver&iacute;amos a lo de siempre, estar&iacute;amos usando un truco para intentar cambiar una
                    situaci&oacute;n mucho m&aacute;s compleja, la inflamaci&oacute;n se basa en una estructura, unos
                    h&aacute;bitos y unos alimentos. Pero sobre todo en un cambio de mentalidad.&nbsp;</span></em>
        </p>
        <div style="text-align: center;">
            <button mat-raised-button style="color: black;background-color: #ADD1C5;" (click)="send()">
                QUIERO EMPEZAR MI TRANSFORMACION
            </button>
        </div>

        <br>


        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            No concibo mi vida sin ayudar a otras personas a encontrar su bienestar, tanto f&iacute;sico como mental. A
            ser como quieren ser para vivir en congruencia con sus valores y contribuir en su felicidad.</p>
        <p
            style='margin-top:0cm;margin-right:28.3pt;margin-bottom:0cm;margin-left:1.0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            <strong><span style="font-size:19px;color:#2E74B5;">Te alimentas cada d&iacute;a y varias veces al
                    d&iacute;a, &iexcl;es la actividad que m&aacute;s haces a lo largo de tu vida!</span></strong>
        </p>
        <p
            style='margin-top:0cm;margin-right:28.3pt;margin-bottom:0cm;margin-left:1.0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            <strong><span style="font-size:19px;color:#2E74B5;">Est&aacute; claro, ES URGENTE, necesitas dominar este
                    aspecto de tu vida</span></strong>
        </p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            Es la manera que tenemos de relacionarnos con los dem&aacute;s, de celebrar, y nuestra fuente de
            energ&iacute;a para la vida.</p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            <strong>&iexcl;Sobran motivos para entender la importancia que tiene tanto a nivel f&iacute;sico como
                mental!</strong>&nbsp;
        </p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            Y no encuentro mejor satisfacci&oacute;n para m&iacute; que poder contribuir a que esta parte tan importante
            de tu vida mejore.</p>

        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            <strong><span style="font-size:19px;color:#C45911;">&iquest;Qu&eacute; consiguen las mujeres con mi
                    acompa&ntilde;amiento?</span></strong>
        </p>
        <ul style="list-style-type: undefined;">
            <li><span style="font-family:Calibri;color:black;">Tener un <strong>plan 100% personalizado</strong>.
                    Calculo tus requerimientos energ&eacute;ticos en base a tus objetivos y necesidades&nbsp;</span>
            </li>
            <li><span style="font-family:Calibri;color:black;">Elaboro un <strong>men&uacute; base&nbsp;</strong>para
                    que conozcas tus necesidades, c&oacute;mo debes estructurar las comidas, qu&eacute; deben incluir,
                    etc. Todo en base a tus gustos, horarios, h&aacute;bitos, preferencias, y necesidades
                    seg&uacute;n edad, altura, peso, sexo, etc.&nbsp;</span></li>
            <li><span style="font-family:Calibri;color:black;">Elaboro un <strong>men&uacute;</strong> semanal ejemplo
                    respetando tus gustos y preferencias.&nbsp;</span></li>
            <li><span style="font-family:Calibri;color:black;">Te doy alternativas de desayunos y meriendas para tu caso
                    concreto.</span></li>
            <li><span style="font-family:Calibri;color:black;">Te entrego recomendaciones espec&iacute;ficas en caso de
                    tener patolog&iacute;as asociadas.</span></li>
            <li><span style="color:black;">Te entrego <strong>hojas de equivalencias</strong> (y te ense&ntilde;o a
                    usarlas) para que puedas hacer las modificaciones que quieras, y sepas c&oacute;mo combinar y
                    qu&eacute; raciones tomar de los alimentos. Para que no te aburras. <strong>&iexcl;Hay infinidad de
                        combinaciones!</strong></span><span style="color:#222222;">&nbsp;</span></li>
            <li><span style="font-family:Calibri;color:#222222;">Te <strong>acompa&ntilde;o</strong> en este proceso de
                    cambio. Soy tu gu&iacute;a.&nbsp;</span></li>
            <li><strong><span style="font-family:Calibri;color:#222222;">Resuelvo tus dudas</span></strong><span
                    style="font-family:Calibri;color:#222222;">&nbsp;e inquietudes en un plazo m&aacute;ximo de 24h
                    mediante Whatsapp o email, estoy contigo.&nbsp;</span></li>
            <li><span style="font-family:Calibri;color:#222222;">Te doy herramientas basadas en el Coach Nutricional
                    para que los cambios que hagas sean duraderos en el tiempo. <strong>&iexcl;Ya no m&aacute;s dietas!
                        &iexcl;Esta es la definitiva!</strong></span></li>
            <li><span style="font-family:Calibri;color:#222222;">Te propongo <strong>ejercicios</strong> para que
                    integres el cambio y lo entiendas. &iexcl;Te va a encantar tu nueva mentalidad!&nbsp;</span></li>
        </ul>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;background:white;'>
            <strong><span style="font-size:21px;color:#C45911;">Imagina&hellip;</span></strong>
        </p>
        <ul style="list-style-type: disc;">
            <li><span style="font-family:Calibri;color:black;">Imagina mirarte al espejo y estar <strong>a gusto con lo
                        que ves y sientes</strong>. <strong>Sentir tuya tu barriga</strong></span></li>
            <li><span style="font-family:Calibri;color:black;">Imagina sentirte con <strong>m&aacute;s
                        energ&iacute;a</strong>, porque es un plan calculado para lo que necesitas.</span></li>
            <li><span style="font-family:Calibri;color:black;">Imagina conocer las bases de la
                    <strong>alimentaci&oacute;n antiinflamatoria</strong> e <strong>incorporarlas</strong> a tu vida,
                    viviendo un <strong>proceso de coaching</strong>.</span></li>
            <li><span style="font-family:Calibri;color:black;">Imagina no limitarte a hacer una dieta m&aacute;s, esta
                    vez es distinta, imagina <strong>cambiar tu mentalidad</strong> <strong>para
                        siempre</strong>.</span></li>
            <li><span style="font-family:Calibri;color:black;">Imagina <strong>reconciliarte con tu cuerpo y tus
                        digestiones</strong>.</span></li>
            <li><span style="font-family:Calibri;color:black;">Imagina aumentar tu <strong>autoestima y
                        confianza</strong>, estar contenta porque por fin est&aacute;s haciendo aquello que sabes que te
                    hace sentir bien y por fin te priorizas por encima de los dem&aacute;s.</span></li>
            <li><span style="font-family:Calibri;color:black;">Imagina poder comer tus alimentos favoritos porque es un
                    plan pensado para ti.</span></li>
            <li><span style="font-family:Calibri;color:black;">Imagina <strong>vivir en paz</strong> y coherencia con
                    tus acciones y tus valores.</span></li>
            <li><span style="font-family:Calibri;color:black;">Imagina <strong>dominar</strong> algo que har&aacute;s
                    toda tu vida, varias veces a lo largo del d&iacute;a. <strong>&iexcl;Vivir con la tranquilidad de
                        saber que lo est&aacute;s haciendo bien!&nbsp;</strong></span></li>
        </ul>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;background:white;'>
            <strong><span style="font-size:21px;color:#C45911;">Esto ES PARA TI si&hellip;</span></strong>
        </p>
        <ul style="list-style-type: undefined;">
            <li><span style="font-family:Calibri;color:black;">Estas <strong>cansada de hacer dietas
                        restrictivas&nbsp;</strong>que te hacen sentir privada, frustrada y de mal humor.
                    &iexcl;Seguramente no est&aacute;n calculadas para ti!</span></li>
            <li><span style="font-family:Calibri;color:black;">Sientes que ha llegado el momento de hacer un
                    <strong>cambio distinto</strong>, pero no sabes c&oacute;mo enfocarlo, por d&oacute;nde empezar.
                    Necesitas una persona que te gu&iacute;e.&nbsp;</span></li>
            <li><span style="font-family:Calibri;color:black;">Te <strong>sientes hinchada, inflamada, sin
                        energ&iacute;a</strong>. El enfoque antiinflamatorio es el que necesitas.</span></li>
            <li><span style="font-family:Calibri;color:black;">Quieres <strong>dominar tu nutrici&oacute;n</strong> de
                    una vez por todas, ser due&ntilde;a de ti misma.</span></li>
            <li><span style="font-family:Calibri;color:black;">Estas dispuesta a empezar a <strong>priorizarte</strong>,
                    &iexcl;dejando las excusas a un lado!</span></li>
            <li><span style="font-family:Calibri;color:black;">&iexcl;Quieres <strong>transformarte</strong> y que esta
                    vez sea la <strong>definitiva</strong>!</span></li>
        </ul>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;background:white;'>
            <strong><span style="font-size:21px;color:#C45911;">Esto <u>NO</u> es para ti si:</span></strong>
        </p>
        <ul style="list-style-type: undefined;">
            <li><span style="font-family:Calibri;color:black;">Est&aacute;s buscando perder peso de forma
                    milagrosa.</span></li>
            <li><span style="font-family:Calibri;color:black;">Quieres perder X peso en X tiempo determinado para luego
                    volver a tus h&aacute;bitos de siempre.</span></li>
            <li><span style="font-family:Calibri;color:black;">Quieres bajar grasa sin hacer ning&uacute;n
                    cambio.</span></li>
        </ul>

        <div style="text-align: center;">
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;background:white;'>
                <strong><span style="font-size:21px;color:#538135;">&iquest;Lista para
                        empezar tu transformaci&oacute;n?</span></strong>
            </p>
        </div>
        <div style="text-align: center;">
            <button mat-raised-button style="color: black;background-color: #ADD1C5;" (click)="send()">
                QUIERO EMPEZAR MI TRANSFORMACION
            </button>
        </div>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
            <strong><span style="font-size:21px;line-height:107%;color:#7030A0;">&iquest;En que m&aacute;s te puedo
                    ayudar?</span></strong>
        </p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
            <strong><span style="font-size:19px;line-height:107%;">&iquest;Tienes una patolog&iacute;a
                    digestiva?</span></strong><span style="font-size:19px;line-height:107%;">&nbsp;(SIBO, IMO, H.Pylori,
                Gastritis&hellip;) <strong>&iexcl;Este es tu sitio!</strong></span>
        </p>
        <div style="text-align: center;">
            <button mat-raised-button style="color: black;background-color: #ADD1C5;" (click)="send()">
                NECESITO AYUDA CON MI PROBLEMA DIGESTIVO
            </button>
        </div>
    </div>
</div>