<div style="text-align: -webkit-center;padding: 5%;">
    <div class="login-box" style="text-align-last: center;max-width: 90vw;">
        <h1>
            {{data.msg}}
            <div *ngIf="data.ok">
                <br>
                Usuario de acceso: {{data.name}}
                <br>
                Correo: {{data.email}}
                <br>
                Telefono: {{data.phone}}
                <br>
                <h2>
                    En breve recibirá un correo para establecer su contraseña!
                </h2>
            </div>
        </h1>
    </div>
</div>