<div class="backscreen">
    <img src="assets/v30_178.png" alt class="backimg">
</div>
<div class="body">
    <div class="e2">
        Te regalo la Guía GRATUITA que necesitas para hacer tus ensaladas
        equilibradas, completas y suficientes
        <br>
        ¡Se acabaron las dudas!
    </div>
    <div class="e4">
        <li>
            Llega el buen tiempo y sabes que vas a recurrir más de una vez a las
            ensaladas
        </li>
        <li>
            Deja de preguntarte si tus ensaladas están bien hechas, te descubro
            todo lo que debes saber
        </li>
        <li>
            ¿Qué lleva una ensalada que sirve de acompañamiento? ¿Qué lleva una
            ensalada que es plato único?
        </li>
        <li>
            ¿Una ensalada es buena opción en una alimentación antiinflamatoria?
            Te explico como potenciarlo
        </li>
        <li>
            ¡No te aburras y hazlas variadas! Hay opciones más allá de la
            lechuga y el tomate
        </li>
        <li>
            Combínalas, hay infinitas posibilidades
        </li>
        <li>
            Te dejo un menú semanal a base de ensaladas fáciles y completas
        </li>
        <li>
            Descubre opciones de aliños saludables más allá del aceite y el
            vinagre.
        </li>
        <li>
            Descubre los trucos para que se conserven mejor si te las dejas
            preparadas
        </li>
        <li>
            ¡Resuelve todas tus dudas sobre este plato tan recurrido y
            disfrútalas sabiendo que te lo estás haciendo bien!
        </li>
    </div>
    <div class="e2">
        ¡Recibe tu Guía GRATUITA de ensaladas a tu correo!
        <div>
            <input type="text" placeholder="Tu nombre"
                [(ngModel)]="Name" minlength="1">
        </div>
        <div>
            <input type="email" placeholder="Tu Email"
                [(ngModel)]="Email" minlength="1">
        </div>
        <div>
            <button class="Front" type="button" (click)="sendGuia()">
                QUIERO LA GUÍA GRATUITA
            </button>
        </div>
    </div>
    <div>
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5"
                            id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save
                            changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="e5">
        ¿Sabes cómo puedo ayudarte?
    </div>
    <button class="Front" type="button" onclick="location.href='#compra'">
        CURSOS PARA TI
    </button>
    <br>
    <button class="Front" type="button" onclick="location.href='#patologia'">
        PATOLOGIA DIGESTIVA Y DIETA ANTIINFLAMATORIA PARA OTROS PROCESOS
        ACOMPAÑAMIENTO NUTRICIONAL 1:1
    </button>
    <br>
    <button class="Front" type="button" onclick="location.href='#nutricion'">
        PÉRDIDA DE GRASA ACOMPAÑAMIENTO NUTRICIONAL 1:1
    </button>
</div>
