tr {
  cursor: pointer;
}

tr:hover td {
  background-color: gray;
}

button {
  margin: 10px 20px;
}

table {
  table-layout: fixed;
}

td {
  word-wrap: break-word;
}

.form-container {
  overflow-y: auto;
}

mat-tab-group {
  z-index: -50 !important
}
