<div class="container">
    <mat-tab-group>
        <mat-tab label="Curso">
            <table class="table table-striped" *ngIf="level1&&level2&&video">
                <thead>
                    <tr>
                        <td> Curso </td>
                        <td> Fase </td>
                        <td> item </td>
                        <td> Orden </td>
                        <td> Nombre </td>
                        <td width="50%"> Descripción </td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let i1 of level1.data;index as i">
                        <tr (click)="OpenModal(i1,'curso/level1','update')">
                            <td> {{i+1}} </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> {{i1.Name}} </td>
                            <td width="50%">
                                {{i1.Description}}
                            </td>

                        </tr>
                        <ng-container *ngFor="let i2 of level2.data;index as j">
                            <ng-container *ngIf="i1.id===i2.level1">
                                <tr (click)="OpenModal(i2,'curso/level2','update')">
                                    <td></td>
                                    <td>{{j+1}}</td>
                                    <td>{{i2.depId}}</td>
                                    <td></td>
                                    <td> {{i2.Name}} </td>
                                    <td width="50%">
                                        {{i2.Description}}
                                    </td>

                                </tr>
                                <ng-container *ngFor="let v of video.data;index as k">
                                    <ng-container *ngIf="i2.id===v.level2">
                                        <tr (click)="OpenModal(v,'curso/video','update')">
                                            <td></td>
                                            <td></td>
                                            <td>{{k+1}}</td>
                                            <td> {{v.Orden}} </td>
                                            <td> {{v.Name}} </td>
                                            <td width="50%">
                                                {{v.Description}}
                                            </td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
            <button mat-raised-button color="primary" (click)="OpenModal(level1.data[0],'curso/level1','create')">
                Añadir Grupo
            </button>
            <button mat-raised-button color="primary" (click)="OpenModal(level2.data[0], 'curso/level2','create')">
                Añadir Fase
            </button>
            <button mat-raised-button color="primary" (click)="OpenModal(video.data[0], 'curso/video','create')">
                Añadir Video
            </button>
        </mat-tab>
        <mat-tab label="Usuario">
            <table class="table table-striped" *ngIf="user">
                <thead>
                    <tr>
                        <td> id </td>
                        <td> User </td>
                        <td> Email </td>
                        <td> Telefono </td>
                        <td> Expiración </td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let u of user.data;index as i">
                        <tr (click)="OpenModal(u,'user','update')">
                            <td> {{u.id}} </td>
                            <td> {{u.User}} </td>
                            <td> {{u.Email}} </td>
                            <td> {{u.Phone}} </td>
                            <td> {{u.Expiration}} </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <button mat-raised-button color="primary" (click)="OpenModal(user.data[0],'user','create')">
                Añadir Usuario
            </button>
        </mat-tab>
        <mat-tab label="Curso">
            <table class="table table-striped" *ngIf="curso">
                <thead>
                    <tr>
                        <td> id </td>
                        <td> Curso </td>
                        <td> Usuario </td>
                        <td> Inicio </td>
                        <td> Fin </td>
                        <td> Progreso </td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let u of curso.data;index as i">
                        <tr (click)="OpenModal(u,'curso/curso','update')">
                            <td> {{u.id}} </td>
                            <td> {{u.cursoId}} </td>
                            <td> {{u.userId}} </td>
                            <td> {{u.inicio}} </td>
                            <td> {{u.expiro}} </td>
                            <td> {{u.progreso}} </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <button mat-raised-button color="primary" (click)="OpenModal(curso.data[0],'curso/curso','create')">
                Añadir Curso
            </button>
        </mat-tab>
        <mat-tab label="Comentario">
            <table class="table table-striped" *ngIf="comentario">
                <thead>
                    <tr>
                        <td> id </td>
                        <td> Nombre </td>
                        <td> Descripción </td>
                        <td> Estrella </td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let u of comentario.data;index as i">
                        <tr (click)="OpenModal(u,'comentario','update')">
                            <td> {{u.id}} </td>
                            <td> {{u.Name}} </td>
                            <td> {{u.Description}} </td>
                            <td> {{u.Star}} </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <button mat-raised-button color="primary" (click)="OpenModal(comentario.data[0],'comentario','create')">
                Añadir Comentario
            </button>
        </mat-tab>
        <mat-tab label="Envio de correo">
            <table class="table table-striped" *ngIf="correo">
                <thead>
                    <tr>
                        <td> Nombre </td>
                        <td> Correo </td>
                        <td> Fecha </td>
                        <td> Tipo </td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let u of correo.data;index as i">
                        <tr>
                            <td> {{u.Name}} </td>
                            <td> {{u.Email}} </td>
                            <td> {{u.Date}} </td>
                            <td> {{u.Tipo}} </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </mat-tab>
    </mat-tab-group>
</div>

<section class="modal-form" *ngIf="modal">
    <div class="form-container">
        <div (click)="modal=false" class="close-modal" style="justify-content: center;"> x </div>
        <h2 style="margin: 0;"> {{ sAccion }} {{ sRouter }} </h2>
        <ng-container *ngFor="let item of Key(sData)">
            <ng-container *ngIf="item === 'level1' || item === 'level2'; else elseTemplate">
                <mat-form-field style="width: 100%;">
                    <mat-label> {{item}} </mat-label>
                    <mat-select [(ngModel)]="sData[item]">
                        <mat-option *ngFor="let i of this[item].data" [value]="i.id">
                            {{i.id}} - {{i.Name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>
            <ng-template #elseTemplate>
                <ng-container *ngIf="item === 'Description' || item === 'progreso'; else elseTemplate">
                    <mat-form-field style="width: 100%;">
                        <mat-label> {{item}} </mat-label>
                        <textarea matInput [(ngModel)]="sData[item]" rows="5"></textarea>
                    </mat-form-field>
                </ng-container>
                <ng-template #elseTemplate>
                    <mat-form-field style="width: 100%;">
                        <mat-label> {{item}} </mat-label>
                        <input matInput [(ngModel)]="sData[item]" [disabled]="item==='id'">
                    </mat-form-field>
                </ng-template>
            </ng-template>
        </ng-container>
        <button mat-raised-button color="primary" (click)="Accion(sData,sRouter,sAccion)">
            {{ sAccion }} {{ sRouter }}
        </button>
        <button mat-raised-button color="primary" *ngIf="sAccion==='update'" (click)="Accion(sData,sRouter,'delete')">
            delete {{ sRouter }}
        </button>
    </div>
</section>