<ng-container *ngIf="loading">
	<div
		style="position: fixed;z-index: 100;height: 100vh;width: 100vw;background-color: black;opacity: 0.3;">
		<div class="spinner-border text-success"
			role="status"
			style="width: 100px;height: 100px;">
		</div>
	</div>
</ng-container>
<div class="container">
	<mat-tab-group *ngIf="!loading">
		<mat-tab label="Master">
			<table class="table table-striped">
				<thead>
					<tr>
						<td>Master</td>
						<td>Data</td>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let i1 of data['master'].data;index as i">
						<tr (click)="OpenModal(i1,'master','update')">
							<td>{{i1.master}}</td>
							<td>{{i1.data}}</td>
						</tr>
					</ng-container>
				</tbody>
			</table>
		</mat-tab>
		<mat-tab label="Curso">
			<table class="table table-striped">
				<thead>
					<tr>
						<td>Curso</td>
						<td>Fase</td>
						<td>item</td>
						<td>Orden</td>
						<td width="35%">Nombre</td>
						<td width="35%">Descripción</td>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let i1 of data['curso/level1'].data;index as i">
						<tr (click)="OpenModal(i1,'curso/level1','update')">
							<td style="background-color: green;" colspan="3"> {{i+1}}</td>
							<td>-</td>
							<td>{{i1.Name}}</td>
							<td>{{i1.Description}}</td>
						</tr>
						<ng-container *ngFor="let i2 of data['curso/level2'].data;index as j">
							<ng-container *ngIf="i1.id===i2.level1">
								<tr (click)="OpenModal(i2,'curso/level2','update')">
									<td>-</td>
									<td style="background-color: orange" colspan="2">{{j+1}}</td>
									<td>+{{i2.depId}} día</td>
									<td>{{i2.Name}}</td>
									<td>{{i2.Description}}</td>
								</tr>
								<ng-container *ngFor="let v of data['curso/video'].data;index as k">
									<ng-container *ngIf="i2.id===v.level2">
										<tr (click)="OpenModal(v,'curso/video','update')">
											<td>-</td>
											<td>-</td>
											<td style="background-color: orangered;">{{k+1}}</td>
											<td>{{v.Orden}}</td>
											<td>{{v.Name}}</td>
											<td>
												{{v.Description.slice(0,100)}}{{v.Description.length>100?'...':''}}
											</td>
										</tr>
									</ng-container>
								</ng-container>
							</ng-container>
						</ng-container>
					</ng-container>
				</tbody>
			</table>
			<button
				(click)="OpenModal(data['curso/level1'].data[0],'curso/level1','create')"
				mat-raised-button
				aria-label="Añadir Grupo"
				color="primary">
				Añadir Grupo
			</button>
			<button
				(click)="OpenModal(data['curso/level2'].data[0], 'curso/level2','create')"
				mat-raised-button
				aria-label="Añadir Fase"
				color="primary">
				Añadir Fase
			</button>
			<button
				(click)="OpenModal(data['curso/video'].data[0], 'curso/video','create')"
				mat-raised-button
				aria-label="Añadir Video"
				color="primary">
				Añadir Video
			</button>
		</mat-tab>
		<mat-tab label="Usuario">
			<table class="table table-striped">
				<thead>
					<tr>
						<td>id</td>
						<td>Admin</td>
						<td>User</td>
						<td>Email</td>
						<td>Telefono</td>
						<td>Expiración</td>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let u of data['user'].data;index as i">
						<tr (click)="OpenModal(u,'user','update')">
							<td>{{u.id}}</td>
							<td [style.backgroundColor]="u.Admin===1?'orange':''">{{u.Admin}}</td>
							<td>{{u.User}}</td>
							<td>{{u.Email}}</td>
							<td>{{u.Phone}}</td>
							<td>{{u.Expiration}}</td>
						</tr>
					</ng-container>
				</tbody>
			</table>
			<button (click)="OpenModal(data['user'].data[0],'user','create')"
				mat-raised-button
				color="primary">
				Añadir Usuario
			</button>
		</mat-tab>
		<mat-tab label="Curso">
			<table class="table table-striped">
				<thead>
					<tr>
						<td>id</td>
						<td>Curso</td>
						<td>Usuario</td>
						<td>Inicio</td>
						<td>Fin</td>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let u of data['curso/curso'].data;index as i">
						<tr (click)="OpenModal(u,'curso/curso','update')">
							<td>{{u.id}}</td>
							<td>{{u.cursoId}} - {{getCurso(u.cursoId)}}</td>
							<td>{{u.userId}} - {{getUser(u.userId)}}</td>
							<td>{{u.inicio}}</td>
							<td>{{u.expiro}}</td>
						</tr>
					</ng-container>
				</tbody>
			</table>
			<button
				(click)="OpenModal(data['curso/curso'].data[0],'curso/curso','create')"
				mat-raised-button
				color="primary">
				Añadir Curso
			</button>
		</mat-tab>
		<mat-tab label="Comentario">
			<table class="table table-striped">
				<thead>
					<tr>
						<td>id</td>
						<td>Nombre</td>
						<td>Descripción</td>
						<td>Estrella</td>
						<td>Tipo</td>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let u of data['comentario'].data;index as i">
						<tr (click)="OpenModal(u,'comentario','update')">
							<td>{{u.id}}</td>
							<td>{{u.Name}}</td>
							<td>{{u.Description.slice(0,100)}}{{u.Description.length>100?'...”':''}}</td>
							<td>{{u.Star}}</td>
							<td>{{u.Type}}</td>
						</tr>
					</ng-container>
				</tbody>
			</table>
			<button (click)="OpenModal(data['comentario'].data[0],'comentario','create')"
				mat-raised-button
				color="primary">
				Añadir Comentario
			</button>
		</mat-tab>
		<mat-tab label="Envio de correo">
			<mat-button-toggle-group [(ngModel)]="emailFilter">
				<mat-button-toggle> All </mat-button-toggle>
				<mat-button-toggle
					*ngFor="let type of emailColor" [value]="type.Name"
					[style.backgroundColor]="type.Color">
					{{type.Name}}
				</mat-button-toggle>
			</mat-button-toggle-group>
			<table class="table table-striped">
				<thead>
					<tr>
						<td>Nombre</td>
						<td>Correo</td>
						<td>Fecha</td>
						<td>Tipo</td>
						<td>Msg</td>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let u of data['email'].data;index as i">
						<tr *ngIf="!emailFilter || emailFilter===u.Tipo">
							<td>{{u.Name}}</td>
							<td>{{u.Email}}</td>
							<td>{{u.Date}}</td>
							<td
								[style.backgroundColor]="getColor(u.Tipo)">{{u.Tipo}}</td>
							<td>{{u.msg?.slice(0,100)}}{{u.msg?.length>100?'...”':''}}</td>
						</tr>
					</ng-container>
				</tbody>
			</table>
		</mat-tab>
	</mat-tab-group>
</div>
<section *ngIf="modal"
	class="modal-form">
	<div class="form-container">
		<div (click)="modal=false"
			class="close-modal"
			style="justify-content: center;">
			x
		</div>
		<h2 style="margin: 0;">
			{{ sAccion }} {{ sRouter }}
		</h2>
		<ng-container *ngFor="let item of Key(sData)">
			<ng-container
				*ngIf="item === 'level1' || item === 'level2'; else elseTemplate">
				<mat-form-field style="width: 100%;">
					<mat-label>{{item}}</mat-label>
					<mat-select [(ngModel)]="sData[item]">
						<mat-option
							*ngFor="let i of data[item === 'level1'?'curso/level1':'curso/level2'].data"
							[value]="i.id">
							{{i.Name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</ng-container>
			<ng-template #elseTemplate>
				<ng-container
					*ngIf="item === 'Description' || item === 'progreso'; else elseTemplate">
					<mat-form-field style="width: 100%;">
						<mat-label>{{item}}</mat-label>
						<textarea [(ngModel)]="sData[item]"
							matInput
							rows="5"></textarea>
					</mat-form-field>
				</ng-container>
				<ng-template #elseTemplate>
					<mat-form-field style="width: 100%;">
						<mat-label>{{item}}</mat-label>
						<input [(ngModel)]="sData[item]"
							[disabled]="item==='id'"
							matInput>
					</mat-form-field>
				</ng-template>
			</ng-template>
		</ng-container>
		<button (click)="Accion(sData,sRouter,sAccion)"
			mat-raised-button
			color="primary">
			{{ sAccion }} {{ sRouter }}
		</button>
		<button *ngIf="sAccion==='update'"
			(click)="Accion(sData,sRouter,'delete')"
			mat-raised-button
			color="primary">
			delete {{ sRouter }}
		</button>
	</div>
</section>
