<div class="cuerpo row">
    <div class="row col">
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;line-height:normal;'>
            <span style='font-size:24px;font-family:"Footlight MT Light",serif;'>Te regalo la <strong><span
                        style="color:#F07878;">Gu&iacute;a GRATUITA</span></strong> que necesitas para hacer tus
                <strong>ensaladas equilibradas, completas y suficientes</strong></span>
        </p>
        <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;line-height:150%;'>
            <strong><span
                    style='font-size:24px;line-height:150%;font-family:"Footlight MT Light",serif;color:#F07878;'>&iexcl;Se
                    acabaron las dudas!</span></strong>
        </p>
        <div  style="text-align: -webkit-center;">
            <ul style="list-style-type:disclosure-closed;border: 1px solid pink;padding: 50px;max-width: 1000px;">
                <li><span style='font-family:"Segoe UI",sans-serif;'>Llega el buen tiempo y sabes que vas a recurrir
                        m&aacute;s de una vez a las ensaladas</span></li>
                <li><span style='font-family:"Segoe UI",sans-serif;'>Deja de preguntarte si tus ensaladas est&aacute;n
                        bien
                        hechas, <strong>te descubro todo lo que debes saber</strong></span></li>
                <li><span style='font-family:"Segoe UI",sans-serif;'>&iquest;Qu&eacute; lleva una ensalada que sirve de
                        <strong>acompa&ntilde;amiento</strong>? &iquest;Qu&eacute; lleva una ensalada que es
                        <strong>plato
                            &uacute;nico</strong>?</span></li>
                <li><span style='font-family:"Segoe UI",sans-serif;'>&iquest;Una ensalada es buena opci&oacute;n en una
                        <strong>alimentaci&oacute;n antiinflamatoria</strong>? Te explico como potenciarlo</span></li>
                <li><span style='font-family:"Segoe UI",sans-serif;'>&iexcl;<strong>No te aburras</strong> y hazlas
                        variadas! Hay opciones m&aacute;s all&aacute; de la lechuga y el tomate</span></li>
                <li><strong><span style='font-family:"Segoe UI",sans-serif;'>Comb&iacute;nalas</span></strong><span
                        style='font-family:"Segoe UI",sans-serif;'>, hay infinitas posibilidades&nbsp;</span></li>
                <li><span style='font-family:"Segoe UI",sans-serif;'>Te dejo un <strong>men&uacute; semanal</strong> a
                        base
                        de ensaladas <strong>f&aacute;ciles</strong> y completas</span></li>
                <li><span style='font-family:"Segoe UI",sans-serif;'>Descubre opciones de <strong>ali&ntilde;os
                            saludables</strong> m&aacute;s all&aacute; del aceite y el vinagre.</span></li>
                <li><span style='font-family:"Segoe UI",sans-serif;'>Descubre los <strong>trucos</strong> para que se
                        conserven mejor si te las dejas preparadas</span></li>
                <li><strong><span style='font-family:"Segoe UI",sans-serif;'>&iexcl;Resuelve todas tus
                            dudas</span></strong><span style='font-family:"Segoe UI",sans-serif;'>&nbsp;sobre este plato
                        tan
                        recurrido y disfr&uacute;talas sabiendo que te lo est&aacute;s haciendo bien!</span></li>
            </ul>

        </div>



    </div>
    <div style="text-align: -webkit-center;">
        <div style="border: 5px solid gray; background-color: pink;border-radius: 50px;padding: 20px; width: 500px;">
            <div class="row" style="text-align: center;">
                <h4>
                    ¡Recibe tu Guía GRATUITA de ensaladas a tu correo!
                </h4>
                <br><br><br>
                <div class="col">
                    <mat-form-field style="width: 100%;">
                        <mat-label> Tu Nombre: </mat-label>
                        <input matInput [(ngModel)]="name">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field style="width: 100%;">
                        <mat-label> Tu Correo: </mat-label>
                        <input matInput [(ngModel)]="email">
                    </mat-form-field>
                </div>
            </div>
            <div class="row" style="text-align: center;">
                <div class="col">
                    <button mat-raised-button style="color: black;background-color: #ADD1C5;" (click)="send()">
                        <b> QUIERO LA GUÍA GRATUITA DE ENSALADAS</b>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>