<div class="chat" *ngIf="showChat">
  <div style="height: 40px;
  padding: 0 35px 0 25px;display: flex;justify-content: space-between;
  align-items: center;" (click)="showChat=!showChat" class="header">
    <strong>Chat</strong>
    <i class="bi bi-arrow-down"></i>
  </div>
  <div class="chat-content" id="screen">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"
        *ngFor="let chatMessage of chatMessages">
        <img src="assets/avatar.png" alt class="avatar"
          *ngIf="chatMessage.user==='ClaraFuertes'">
        <strong
          style="font-size: 25px;vertical-align: sub;padding: 0px 2px;">{{chatMessage.user==='ClaraFuertes'?'Clara':chatMessage.user}}:
        </strong>
        <span
          style="font-size: 5pt; color: gray;margin-left: auto;min-width: 34px;vertical-align: sub;">{{chatMessage.data}}</span>
        <br>
        <span>{{chatMessage.message}}</span>
      </li>
    </ul>
  </div>
  <form (submit)="sendMessage()" [formGroup]="chatForm"
    style="padding: 0px 10px;">
    <div class="chat-send row">
      <div class="col-9">
        <input type="text" class="form-control" formControlName="message">
      </div>
      <div class="col-3">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
  </form>
</div>
<div *ngIf="!showChat" class="chat" style="width: 150px;">
  <div style="height: 40px;display: flex;
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;" class="header"
    (click)="showChat=!showChat;scrollDown()">
    <strong>Chat</strong>
    <i class="bi bi-arrow-up"></i>
  </div>
</div>