<div style="position:fixed;top: 0%;height: 800px;z-index: -1;width: 100%;">
    <div class="row" style="position: relative;">
        <img src="assets/perdida/pina.png" alt style="height: 100vh;object-fit: cover;object-position: bottom;">
        <p style="font-family: Rajdhani;
        font-size: 41.67px;
        font-weight: 400;
        line-height: 53.17px;
        text-align: center;color: #4D5C52;position: absolute;top: 40%;background-color: #D9D9D9CF;left: 50%; transform: translate(-50%, -50%);
        width: fit-content;border-radius: 0px 13px;padding: 5px 15px;
        ">
            Pérdida de grasa
        </p>
    </div>
</div>
<div style="height: 70vh;"></div>

<div
    style="text-align-last: center;padding-top: 100px;padding-bottom: 50px;position: relative;background-color: white;border-radius: 15px 15px 0px 0px;text-align: -webkit-center;">
    <div style="position: absolute;background: linear-gradient(360deg, #FFFFFF 0%, #EBB35D 100%) ;
        width: 100%;height: 50px;top: 0%;left: 0%;border-radius: 15px 15px 0px 0px;">
    </div>
    <div>
        <p style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        color: #4D5C52;
        padding: 0px 5vw;
        ">
            ¿Intentas controlar lo que comes, haces grandes esfuerzos, lees trucos, te restringes mucho la comida, pero
            aun así no consigues reconciliarte con tu barriga?
            <br><br>
            Sabes que algo no va bien, pero no sabes que más hacer.
            <br><br>
            <span style="background: linear-gradient(360deg, #FFFFFF 0%, #EBB35D 100%);
            ;padding: 5px 15px;border-radius: 10px;">
                La respuesta es <b> LA INFLAMACIÓN. </b>
            </span>
            <br><br>
            Tras más de 14 años de experiencia,
            <b>
                te acerco a la Nutrición Antiinflamatoria, para que transformarte te
                resulte de lo más sencillo.
            </b>
            <br><br>
            Sin fórmulas complicadas e imposibles. Para que conozcas qué es lo que
            <b>
                beneficia a tus digestiones y vuelvas
                a estar a gusto en tu cuerpo.
            </b>
            <br><br>
            Además, mediante el <b> Coaching Nutricional </b> trabajamos la mentalidad para que tu cambio sea para
            siempre.
        </p>
    </div>
    <br>
    <div style="width: 100%;width: 100%;padding: 25px;background-color: #EBF0EE;">
        <span style="font-family: Poppins;
        font-size: 19px;
        font-weight: 700;
        line-height: 22px;
        text-align: center;
        color: #7DAD9B;">
            ¿CÓMO?
        </span> <br> <br>
        <span style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        color: #4D5C52;
        ">
            A través de un programa personalizado de 14 semanas.
            <br> <br>
            <b> ¡No vas a encontrar ninguno igual! </b>
            <br> <br>
            <b> Este programa tiene lo mejor de un curso y lo mejor del acompañamiento 1:1 </b>
            <br> <br>
            Durante <b> 14 semanas </b> te <b> ENSEÑO </b> a alimentarte mientras te AYUDO a conseguir tu objetivo.
            <br> <br>
            Y me ocupo de que después <b> puedas mantenerlo.</b>
            <br>
        </span>
    </div>
    <br>
    <div>
        <button (click)="openModal()"
            style="height: 70px;width: 200px; background-color: #B4C7C0; border-radius: 15px;">
            <span style="font-family: Reem Kufi Ink;
                font-size: 11px;
                font-weight: 700;
                text-align: center;
                color: #6A6056;">
                QUIERO EMPEZAR <br>
                MI TRANSFORMACIÓN
            </span>
        </button>
    </div>
    <br>
    <div style="border: 5px solid #CDDDD7;max-width: 80vw;border-radius: 5px;width: 890px;padding: 25px;">
        <span style="font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        text-align: center;
        color: #4D5C52;">
            ¿Cansada de seguir buscando la fórmula mágica que resuelva tu malestar? <br><br>
        </span>
        <span style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        text-align: justified;
        color: #4D5C52;">
            Es un HECHO, la mayoría de las mujeres se pasan <b> toda la vida intentando lograr el cuerpo que desean sin
                conseguirlo.<br>
                ¿Por qué? ¡Porque no entienden lo que necesitan! </b> Porque creen que lo lograrán con X cosa mágica.
            <br><br>
            <b> ¿Has buscado y buscado información, has probado cientos de productos, y aún sigues creyendo que no
                solucionas el problema porque no has encontrado el que va bien?</b> Déjame decirte que <b> no lo vas a
                encontrar.</b>
            <br><br>
            <b> ¡Sabes que ha llegado la hora de probar algo distinto!</b> Darle la vuelta y coger realmente las riendas
            de tu
            alimentación, entendiendo qué es lo que necesitas.
        </span><br><br>
        <span style="background: linear-gradient(360deg, #FFFFFF 0%, #EBB35D 100%);
        ;padding: 5px 15px;border-radius: 10px;">
            Quédate y te explico cómo puedo ayudarte a conseguirlo
        </span>
    </div>
    <br>
    <div style="width: 100%;" (click)="openModal()">
        <img src="assets/perdida/grupo.png" alt="" style="width: 100%;cursor: pointer;">
    </div>
    <div>
        <div style="    text-align: left;
        text-align-last: left;
        padding: 0px 5vw;">
            <span style="font-family: Poppins;
            font-size: 15px;
            font-weight: 400;
            line-height: 22px;
            text-align: justified;
            color: #4D5C52;"><br>
                No concibo mi vida sin ayudar a otras personas a encontrar su bienestar, tanto físico como mental. A ser
                como quieren ser para vivir en congruencia con sus valores y contribuir en su felicidad.
            </span>
        </div>
        <br>
        <span style="font-family: Poppins;
        font-size: 15px;
        font-weight: 700;
        line-height: 22px;
        text-align: center;
        color: #7DAD9B;">
            Te alimentas cada día y varias veces al día
            <br><br>
            ¡Es la actividad que más haces a lo largo de tu vida!
            <br><br>
            Está claro, para ser feliz, ¡necesitas dominar este aspecto de tu vida!
        </span><br><br>
        <div style="    text-align: left;
        text-align-last: left;
        padding: 0px 5vw;">
            <span style="font-family: Poppins;
            font-size: 14.58px;
            font-weight: 400;
            line-height: 21.87px;
            text-align: justified;
            color: #4D5C52;">
                Es la manera que tenemos de relacionarnos con los demás, de celebrar, y nuestra fuente de energía para
                la
                vida.
                <br><br>
                <b> ¡Sobran motivos para entender la importancia que tiene tanto a nivel físico como mental!</b>
                <br><br>
                Y no encuentro mejor satisfacción para mí que poder contribuir a que esta parte tan importante de tu
                vida
                mejor.<br><br>
            </span>
        </div>
    </div>
    <div style="border: 5px solid #CDDDD7;max-width: 80vw;border-radius: 5px;width: 890px;padding: 25px;">
        <span style="font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        text-align: center;
        color: #4D5C52;">
            ¿Qué conseguirás con mi acompañamiento de 14 semanas?
        </span> <br><br>
        <div style="   text-align: left;
        text-align-last: left;
        padding: 0px 1vw;">


            <span style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        text-align: justified;
        color: #4D5C52;">
                <b>✔</b> 14 semanas de acompañamiento personalizado 1:1
                <br><br>
                <b>✔</b> Acceso a una plataforma donde encontrarás vídeos y recursos sobre Nutrición Antiinflamatoria y
                coaching.
                <br><br>
                <b>✔</b> Tener un <b>plan 100% personalizado. </b> Calculo tus requerimientos energéticos en base a tus
                objetivos y
                necesidades. Comerás con la tranquilidad de que eso es lo que necesitas para cumplir con tus objetivos.
                <br><br>
                <b>✔</b> Elaboro un <b>menú base</b> para que conozcas tus necesidades, cómo debes estructurar las
                comidas, qué
                deben
                incluir, etc.
                Todo en base a tus gustos, horarios, hábitos, preferencias, y necesidades según edad, altura, peso,
                sexo,
                etc.
                <br><br>
                <b>✔</b> Elaboro un <b> menú</b> semanal ejemplo respetando tus gustos y preferencias
                <br><br>
                <b>✔</b> Te doy alternativas de desayunos y meriendas para tu caso concreto
                <br><br>
                <b>✔</b> Te entrego recomendaciones específicas en caso de tener patologías asociadas
                <br><br>
                <b>✔</b> Te entrego <b>hojas de equivalencias</b> para que puedas hacer las modificaciones que quieras,
                y sepas
                cómo combinar y qué raciones tomar de los alimentos. Para que no te aburras. <br>
                <b> ¡Hay infinidad de combinaciones!</b>
                <br><br>
                <b>✔</b> Te <b>acompaño</b> en este proceso de cambio. Soy tu guía
                <br><br>
                <b>✔</b> Estamos <b>en contacto cada semana</b> para valorar tu proceso y resolver dudas
                <br><br>
                <b>✔</b> Te doy herramientas basadas en el Coach Nutricional para que los cambios que hagas sean
                duraderos en
                el tiempo. <b>¡Ya no más dietas! ¡Esta es la definitiva!</b>
                <br><br>
                <b>✔</b> Te explico y <b>te formo</b> para que entiendas cómo debes comer, ¡ya no más dudas! Más de 5
                horas de
                <b>Vídeos
                    sobre Alimentación Antiinflamatoria.</b>
                <br><br>
                <b>✔</b> Más de 2 horas de <b>Vídeos de Coaching Nutricional</b> con ejercicios para que integres el
                cambio y
                lo
                entiendas. ¡Te va a encantar tu nueva mentalidad!
            </span>
        </div>
    </div>
    <br> <br>
    <div
        style="background-image: url('assets/perdida/RELOJ.png');width: 100%;padding: 50px;background-size: cover;text-align: -webkit-right;background-position: center;">
        <div class="cactus">
            <span style="font-family: Poppins;
            font-size: 15px;
            font-weight: 400;
            line-height: 22px;
            text-align: justified;
            color: #4D5C52;">
                Imagina mirarte al espejo y estar <b>a gusto con lo que ves y sientes.</b>
                <br><br>
                Imagina sentirte con <b>más energía</b>, porque es un plan calculado para lo que necesitas
                <br><br>
                Imagina conocer las bases de la <b>alimentación antiinflamatoria e incorporarlas</b> a tu vida, viviendo
                un
                <b>proceso de coaching</b>
                <br><br>
                Imagina no limitarte a hacer una dieta más, esta vez es distinta, imagina <b>cambiar tu mentalidad para
                    siempre</b>
                <br><br>
                Imagina <b>reconciliarte con tu cuerpo y tus digestiones</b>
                <br><br>
                Imagina aumentar tu <b>autoestima y confianza</b>, estar contenta porque por fin estás haciendo aquello
                que
                sabes que te hace sentir bien y por fin te priorizas por encima de los demás
                <br><br>
                Imagina poder comer tus alimentos favoritos porque es un plan pensado para ti
                <br><br>
                Imagina <b>vivir en paz</b> y coherencia con tus acciones y tus valores
                <br><br>
                Imagina <b>dominar</b> algo que harás toda tu vida, varias veces a lo largo del día.
                <br><br>
                <span style="color: #85958F;font-weight: 700;">
                    ¡Vivir con la tranquilidad de saber que lo estás haciendo bien!
                </span>
            </span>
        </div>
    </div>
    <div style="padding: 30px 20px;">
        <img src="assets/perdida/image.png" style="width: 100%; max-width: 1024px;" alt>
    </div>
    <div>
        <span style="font-family: Handlee;
        font-size: 18.23px;
        font-weight: 400;
        line-height: 24.34px;
        text-align: center;
        color: #4D5C52;">¿Lista para empezar tu transformación?</span>
    </div>
    <br>
    <div>
        <button (click)="openModal()"
            style="height: 70px;width: 200px; background-color: #B4C7C0; border-radius: 15px;">
            <span style="font-family: Reem Kufi Ink;
                font-size: 11px;
                font-weight: 700;
                text-align: center;
                color: #6A6056;">
                QUIERO EMPEZAR <br>
                MI TRANSFORMACIÓN
            </span>
        </button>
    </div>
    <br>
    <div>
        <img src="assets/perdida/Line 1.png" alt="" style="width: 100%;">
    </div>
    <br>
    <div>
        <span style="font-family: Handlee;
        font-size: 19px;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
        color: #4D5C52;">
            ¿No quieres entrar en un programa, porque lo que buscas es una única consulta?
            <br>
            ¡También puedo ayudarte!
        </span> <br>
        <span style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        color: #4D5C52;">
            Haz click en el botón de abajo y descubre cómo te ayudo
        </span>
    </div> <br>
    <div>
        <button (click)="router.navigate(['asesoramiento'])"
            style="height: 60px;width: 250px; background-color: #B4C7C0; border-radius: 15px;">
            <span style="font-family: Reem Kufi Ink;
                font-size: 11px;
                font-weight: 700;
                text-align: center;
                color: #6A6056;">
                OPCIÓN ÚNICO ASESORAMIENTO
            </span>
        </button>
    </div>

    <div style="position: absolute;
bottom: 0;
height: 30vh;
background-color: white;
width: 100%;
transform: translateY(50%);
z-index: -1;">
    </div>
</div>