<div style="position:fixed;top: 0%;height: 800px;z-index: -1;width: 100%;">
    <div class="row" style="position: relative;">
        <img src="assets/perdida/sandiamain.webp"
            alt="Foto fondo Sandia Clara Fuertes Nutrición"
            style="height: 50vh;
        object-fit: cover;
        object-position: top;
        margin-top: 90px;">
        <p style="
        font-family: Handlee;
        font-size: 41.67px;
        font-weight: 400;
        line-height: 55.62px;
        text-align: center;
        color: #4D5C52;position: absolute;top: 50%;background-color: #D9D9D9CF;left: 50%; transform: translate(-50%, -50%);
        width: fit-content;border-radius: 0px 13px;padding: 5px 15px;
        ">
            Pérdida de grasa
        </p>
    </div>
</div>
<div style="height: 45vh;"></div>
<div
    style="padding: 25px 0;position: relative;background-color: white;border-radius: 15px 15px 0px 0px;text-align: -webkit-center;">
    <div
        style="position: absolute; width: 100%;height: 50px;top: 0%;left: 0%;border-radius: 15px 15px 0px 0px;padding: 0px 5vw;">
    </div>
    <h1 style="
    font-family: Handlee;
    font-size: 30px;
    font-weight: 400;
    line-height: 40.05px;
    text-align: center;
    color: #4D5C52;
    padding: 0px 5vw;">
        <p>
            Vuelve a estar
            <span style="
        background-image: url(../../../../assets/listadoEspera/ralla.png);
        background-size: cover;
        background-position-y: bottom;
        background-repeat: no-repeat;
        padding-bottom: 5px;">
                a gusto con tu cuerpo
            </span>
        </p>
    </h1>
    <h3 style="padding: 0px 5vw;">
        <p style="
        font-family: Poppins;
        font-size: 14.58px;
        line-height: 21.87px;
        text-align: justify;
        color: #4D5C52;
        ">
            <b> ¿Has buscado y buscado información, has probado cientos de
                productos, y aún sigues creyendo que no solucionas el problema
                porque no has encontrado el que va bien?</b>
            <br>
            Déjame decirte que <b style="text-decoration-line: underline;">
                no&nbsp;lo&nbsp;vas&nbsp;a&nbsp;encontrar. </b>
        </p>
        <p style="
        font-family: Poppins;
        font-size: 14.58px;
        font-weight: 400;
        line-height: 21.87px;
        text-align: justify;
        color: #7DAD9B;">
            ¡Sabes que ha llegado la hora de probar algo distinto! Darle la
            vuelta y coger realmente las riendas de tu alimentación, entendiendo
            qué es lo que necesitas.
        </p>
    </h3>
    <h3 style="margin-top: 35px;padding: 0px 5vw;">
        <p style=" font-family: Rajdhani;
font-size: 25px;
font-weight: 500;
line-height: 31.9px;
text-align: center;">
            <span style="color: #4D5C52;">
                Mediante un
            </span>
            <span style="color: #E0B167;">
                programa de acompañamiento personalizado
                online&nbsp;de&nbsp;14&nbsp;semanas
            </span>
        </p>
        <p style="font-family: Poppins;
        font-size: 14.58px;
        font-style: italic;
        font-weight: 500;
        line-height: 21.87px;
        text-align: justify;
        color: #7DAD9B;
        ">
            <span>
                Toda mi experiencia de años, definida y organizada en un
                programa
                para que domines tu alimentación y te sientas a gusto con tu
                cuerpo.
            </span>

        </p>
        <p style="font-family: Poppins;
        font-size: 14.58px;
        font-weight: 400;
        line-height: 21.87px;
        text-align: justify;
        color: #4D5C52;
        ">
            Vas siguiendo mis pautas y logrando tus objetivos, mientras aprendes
            sobre alimentación y transformas tu mente, para que puedas mantener
            los cambios a largo plazo.
        </p>
    </h3>
    <div
        style="background-image: url(../../../../assets/perdida/fondo.webp); min-height: 400px;background-size: cover;background-position: center; padding: 75px 5vw;">
        <div>
            <p style="
            background-image: url(../../../../assets/perdida/redondaverde.png);
            background-size: cover;
            background-position-y: bottom;
            background-position-x: center;
            background-repeat: no-repeat;
            padding: 10px 20px;
            width: fit-content;">
                <span style="
            padding:10px;
            font-family: Rajdhani;
            font-size: 25px;
            font-weight: 700;
            line-height: 31.9px;
            text-align: center;
            color: #E0B167;">
                    No encontrarás un acompañamiento igual
                </span>
            </p>
            <p>
                <span style="font-family: Rajdhani;
            font-size: 25px;
            line-height: 31.9px;
            text-align: center;
            color: #4D5C52;
            ">
                    He juntado <b> lo mejor de un curso y lo mejor de un
                        acompañamiento</b>
                </span>
            </p>
            <p>
                <span style="font-family: Poppins;
            font-size: 14.58px;
            line-height: 21.87px;
            text-align: justify;
            ">
                    Porque durante <b style="font-size: 20px;color: #E0B167;">14
                        semanas </b>te <b>ENSEÑO</b> a alimentarte mientras te
                    <b>AYUDO</b>
                    a <b>LOGRAR TU OBJETIVO.</b>

                </span>

            </p>
            <p>
                <span style="font-family: Poppins;
            font-size: 14.58px;
            line-height: 21.87px;
            text-align: justify;
            ">
                    Me ocupo de que <b> despúes</b> <b
                        style="font-size: 20px;color: #E0B167;">
                        puedas&nbsp;mantenerlo.</b>

                </span>
            </p>
        </div>
    </div>
    <div
        style="border-top: black solid 1px; padding: 25px 5vw;">
        <p>
            <span
                style="
            font-family: Handlee;
            font-size: 29px;
            font-weight: 400;
            line-height: 40.05px;
            text-align: center;
            color: #E0B167;
            background-color: #F7EAD6;
            border-radius: 20px;">
                ¿Qué incluye el servicio?
            </span>
        </p>
        <p>
            <span
                style="font-family: Poppins;
            font-size: 18px;
            font-weight: 800;
            line-height: 27px;
            text-align: justify;
            color: #4D5C52;">
                3 meses de acompañamiento personalizado 1:1
            </span>
        </p>
        <div style="font-family: Poppins;
        font-size: 14.58px;
        line-height: 21.87px;
        text-align: justify;
        ">
            <p><b>✔
                    Un programa de 14 semanas para bajar grasa y volver a
                    sentirte a
                    gusto en tu cuerpo.</b></p>
            <p><b>✔</b>
                Entrevista inicial mediante cuestionarios completos y
                <b> elaboración de
                    pauta personalizada.</b> </p>
            <p><b>✔</b>
                Pauta <b> calculada</b> en base a tus objetivos y tus
                necesidades, con
                equivalencias, para que aprendas qué es lo que necesitas TU.
            </p>
            <p><b>✔</b>
                Sabrás la cantidad que debes comer para lograr tu objetivo. </p>
            <p><b>✔</b>
                Menú ejemplo en cada revisión, respetando tus gustos y
                preferencias.
            </p>
            <p><b>✔
                    Revisión de analíticas </b>complementarias si las aportas.
            </p>
            <p><b>✔
                    Revisiones cada 15 días </b>(Un total de 1 primera consulta
                y 6
                revisiones), mediante cuestionario y respuesta personalizada por
                vídeo. </p>
            <p><b>✔
                    Contacto semanal </b>para valorar el proceso y resolver
                dudas,
                mediante
                Whatsapp o email. </p>
            <p><b>✔</b>
                Resolución de <b> dudas</b> por email y WhatsApp de lunes a
                viernes.</p>
            <p style="font-family: Poppins;
            font-size: 18px;
            font-weight: 800;
            line-height: 27px;
            ">
                Acceso a la plataforma donde encuentras. </p>
            <p><b>✔</b>
                + 5 horas de vídeos de formación sobre estilo de vida,<b>
                    nutrición
                    antiinflamatoria y sistema digestivo.</b> Divido en pequeños
                vídeos muy sencillos de consumir. </p>
            <p><b>✔</b>
                + 2h30min de <b>vídeos de coaching nutricional. </b></p>
            <p><b>✔</b>
                + <b>Ejercicios prácticos de coaching </b>para que cambies la
                mentalidad.
            </p>
            <p><b>✔</b>
                + <b>Descargables </b>(opciones de desayunos, checklist, diario
                de
                síntomas, manuales explicativos de cada fase, recursos especias,
                infusiones recomendadas, ebook importancia de la respiración,
                ejercicios prácticos de coaching, ¡y otras más!).</p>
            <p><b>✔</b>
                Te enseño las bases de la alimentación antiinflamatoria para que
                tras este proceso haya un cambio en tu alimentación. </p>
            <p style="font-family: Poppins;
            font-size: 14.58px;
            font-style: italic;
            font-weight: 400;
            line-height: 21.87px;
            color: #7DAD9B;"><b>✔</b>
                Es importante que sepas que no hay contactos vía videollamada.
                Las
                revisiones son mediante cuestionario y mis respuestas mediante
                vídeo
                personalizado.
            </p>
        </div>
    </div>
    <div
        style="border-radius: 60px 60px 0 0;border: #ADD0C2 solid 5px; padding: 15px 5vw 25px 5vw">
        <p style="font-family: Sedan SC;
        font-size: 20px;
        font-weight: 400;
        line-height: 27.7px;
        text-align: center;
        color: #4D5C52;">
            VALORACIÓN&nbsp;INICIAL
            +&nbsp;REVISIONES&nbsp;CADA&nbsp;15&nbsp;DÍAS
            +&nbsp;CONTACTO POR&nbsp;WHATSAPP
            +&nbsp;ACCESO&nbsp;A UNA&nbsp;PLATAFORMA CON&nbsp;FORMACIÓN
            QUE&nbsp;INCLUYE MÁS&nbsp;DE&nbsp;7 HORAS DE&nbsp;VÍDEOS
            DESCARGABLES Y&nbsp;EJERCICIOS.
        </p>
        <p style="font-family: Poppins;
        font-size: 14.58px;
        font-style: italic;
        font-weight: 400;
        line-height: 21.87px;
        text-align: center;
        color: #4D5C52;">
            Y mi apoyo en todo el proceso.
            El paso a paso para conseguir tu objetivo.
        </p>
        <div style="position: absolute;left: calc(50% - 150px);">
            <button (click)="ComprarCurso()"
                style="height: 50px;width: 280px; background-color: #B4C7C0; border-radius: 15px;">
                <span style="font-family: Reem Kufi Ink;
                    font-size: 11px;
                    font-weight: 700;
                    text-align: center;
                    color: #6A6056;">
                    QUIERO EMPEZAR MI TRANSFORMACIÓN
                </span>
            </button>
        </div>
    </div>
    <div
        style="background-image: url('assets/perdida/RELOJ.webp');width: 100%;padding: 25px;background-size: cover;text-align: -webkit-right;background-position: 30%;">
        <div class="cactus" style=" text-align: justify;">
            <span style="font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        text-align: justify;
        color: #4D5C52;">
                <b>·</b> Imagina mirarte al espejo y estar <b>a gusto con lo que
                    ves y sientes.</b>
                <br><br>
                <b>·</b> Imagina sentirte con <b>más&nbsp;energía.</b>
                <br><br>
                <b>·</b> Imagina conocer las bases de la <b>alimentación
                    antiinflamatoria e incorporarlas</b> a tu vida.
                <br><br>
                <b>·</b> Imagina <b> cambiar tu mentalidad para siempre.</b>
                <br><br>
                <b>·</b> Imagina <b>reconciliarte con tu cuerpo y tus
                    digestiones.</b>
                <br><br>
                <b>·</b> Imagina aumentar tu <b>autoestima y confianza.</b>
                <br><br>
                <b>·</b> Imagina <b>vivir en paz</b> y coherencia con tus
                acciones y tus valores.
                <br><br>
                <b>·</b> Imagina <b>dominar</b> algo que harás toda tu vida,
                varias veces a lo largo del día.
                <br><br>
                <span style="color: #85958F;font-weight: 700;">
                    ¡Vivir con la tranquilidad de saber que lo estás haciendo
                    bien!
                </span>
            </span>
        </div>
    </div>
    <div class="row"
        style="padding: 3%;background:url(../../../../assets/perdida/grisfondo.webp);background-size: cover;background-position: bottom;margin-bottom: 50px;">
        <div class="parati">
            <p style="font-family: Sedan SC;
            font-size: 32px;
            font-weight: 400;
            line-height: 48.48px;
            text-align: center;
            color: #4D5C52;
            background-color: white;
            border: #E0B167 solid 1px;
            border-radius: 20px;">
                <span style="color: #E0B167;">
                    ES
                </span>
                PARA TI SI
            </p>
            <br><br>
            <p style="font-family: Poppins;
            font-size: 14.58px;
            font-weight: 400;
            line-height: 21.87px;
            text-align: justify;
            color: #4D5C52;">
                <b>·</b> Estás cansada de hacer dietas que te hacen estar
                frustrada y de
                mal humor, no se ajustan a ti.
                <br><br> <b>·</b> Sientes que tienes que hacer un cambio
                distinto pero no
                sabes
                cómo empezar.
                <br><br> <b>·</b> Te sientes hinchada, inflamada, sin energía.
                <br><br><b>·</b> Quieres dominar tu nutrición y ser dueña de ti
                misma.
                <br><br> <b>·</b> Estás cansada de leer infinidad de consejos
                que no
                sabes
                aplicar.
                <br><br> <b>·</b> Estas dispuesta a priorizarte y dejar las
                excusas a un
                lado.
                Quieres transformarte y que esta vez sea la definitiva.
            </p>
        </div>
        <div class="parati">
            <p style="font-family: Sedan SC;
            font-size: 32px;
            font-weight: 400;
            line-height: 48.48px;
            text-align: center;
            color: #4D5C52;
            background-color: white;
            border: #E0B167 solid 1px;
            border-radius: 20px;">
                <span style="color: #E0B167;">
                    NO ES
                </span>
                PARA TI SI
            </p>
            <br><br>
            <p style="font-family: Poppins;
            font-size: 14.58px;
            font-weight: 400;
            line-height: 21.87px;
            text-align: justify;
            color: #4D5C52;">
                <b>·</b> Buscas perder peso de forma milagrosa.
                <br><br> <b>·</b> Quieres perder X peso en X tiempo para volver
                a tus hábitos de
                siempre.
                <br><br> <b>·</b> Quieres bajar grasa sin hacer ningún cambio.
            </p>
        </div>
        <div>
            <button (click)="ComprarCurso()"
                style="height: 50px;width: 280px; background-color: #B4C7C0; border-radius: 15px;">
                <span style="font-family: Reem Kufi Ink;
                    font-size: 11px;
                    font-weight: 700;
                    text-align: center;
                    color: #6A6056;">
                    SÍ, ¡ES PARA MI!
                </span>
            </button>
        </div>
    </div>

    <app-component-carouselgroup
        *ngIf="comentario"
        [data]="comentario">
    </app-component-carouselgroup>
    <div>
        <button (click)="ComprarCurso()"
            style="height: 50px;width: 280px; background-color: #B4C7C0; border-radius: 15px;">
            <span style="font-family: Reem Kufi Ink;
            font-size: 15px;
            font-weight: 700;
            line-height: 22.5px;
            text-align: center;
            color: #6A6056;">
                ¡QUIERO LOGRAR LO MISMO!
            </span>
        </button>
    </div>
    <div
        style="border-radius: 10px;border: #444444 2px solid;margin: 25px 5vw;padding: 25px 5vw;">
        <span style="font-family: Poppins;
            font-size: 14.77px;
            font-weight: 600;
            line-height: 27.7px;
            letter-spacing: 0.01em;
            text-align: center;
            color: #4D5C52;
            background-color: #F1F1F1;
            padding: 10px;
            border-radius: 10px;">
            VALOR DE CONTENIDO
        </span>
        <br> <br>
        <p style="font-family: Poppins;
        font-size: 14.77px;
        line-height: 24px;
        text-align: left;
        color: #4D5C52;">
            <svg width="23" height="23" viewBox="0 0 23 23" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M11.0781 19.5898C15.6668 19.5898 19.3866 15.8699 19.3866 11.2812C19.3866 6.69252 15.6668 2.97266 11.0781 2.97266C6.4894 2.97266 2.76953 6.69252 2.76953 11.2812C2.76953 15.8699 6.4894 19.5898 11.0781 19.5898ZM10.8641 14.6417L15.48 9.10268L14.0616 7.92068L10.0929 12.6831L8.03816 10.6284L6.7326 11.934L9.50212 14.7035L10.2169 15.4183L10.8641 14.6417Z"
                    fill="#E0B167" />
            </svg>
            <b> Entrevista inicial y elaboración del plan:</b>&nbsp;67€
        </p>
        <p style="font-family: Poppins;
        font-size: 14.77px;
        line-height: 24px;
        text-align: left;
        color: #4D5C52;">
            <svg width="23" height="23" viewBox="0 0 23 23" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M11.0781 19.5898C15.6668 19.5898 19.3866 15.8699 19.3866 11.2812C19.3866 6.69252 15.6668 2.97266 11.0781 2.97266C6.4894 2.97266 2.76953 6.69252 2.76953 11.2812C2.76953 15.8699 6.4894 19.5898 11.0781 19.5898ZM10.8641 14.6417L15.48 9.10268L14.0616 7.92068L10.0929 12.6831L8.03816 10.6284L6.7326 11.934L9.50212 14.7035L10.2169 15.4183L10.8641 14.6417Z"
                    fill="#E0B167" />
            </svg>
            <b> 6 revisiones:</b>&nbsp;240€ (40€&nbsp;por&nbsp;sesión)
        </p>
        <p style="font-family: Poppins;
        font-size: 14.77px;
        line-height: 24px;
        text-align: left;
        color: #4D5C52;">
            <svg width="23" height="23" viewBox="0 0 23 23" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M11.0781 19.5898C15.6668 19.5898 19.3866 15.8699 19.3866 11.2812C19.3866 6.69252 15.6668 2.97266 11.0781 2.97266C6.4894 2.97266 2.76953 6.69252 2.76953 11.2812C2.76953 15.8699 6.4894 19.5898 11.0781 19.5898ZM10.8641 14.6417L15.48 9.10268L14.0616 7.92068L10.0929 12.6831L8.03816 10.6284L6.7326 11.934L9.50212 14.7035L10.2169 15.4183L10.8641 14.6417Z"
                    fill="#E0B167" />
            </svg>
            <b> Resolución de dudas por Whatsapp o e-mail 3 meses y
                medio:</b>&nbsp;100€
        </p>
        <p style="font-family: Poppins;
        font-size: 14.77px;
        line-height: 24px;
        text-align: left;
        color: #4D5C52;">
            <svg width="23" height="23" viewBox="0 0 23 23" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M11.0781 19.5898C15.6668 19.5898 19.3866 15.8699 19.3866 11.2812C19.3866 6.69252 15.6668 2.97266 11.0781 2.97266C6.4894 2.97266 2.76953 6.69252 2.76953 11.2812C2.76953 15.8699 6.4894 19.5898 11.0781 19.5898ZM10.8641 14.6417L15.48 9.10268L14.0616 7.92068L10.0929 12.6831L8.03816 10.6284L6.7326 11.934L9.50212 14.7035L10.2169 15.4183L10.8641 14.6417Z"
                    fill="#E0B167" />
            </svg>
            <b> Formación en cursos:</b> Casi 5horas (267min) de vídeos sobre
            Nutrición:&nbsp;200€
        </p>
        <p style="font-family: Poppins;
        font-size: 14.77px;
        line-height: 24px;
        text-align: left;
        color: #4D5C52;">
            <svg width="23" height="23" viewBox="0 0 23 23" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M11.0781 19.5898C15.6668 19.5898 19.3866 15.8699 19.3866 11.2812C19.3866 6.69252 15.6668 2.97266 11.0781 2.97266C6.4894 2.97266 2.76953 6.69252 2.76953 11.2812C2.76953 15.8699 6.4894 19.5898 11.0781 19.5898ZM10.8641 14.6417L15.48 9.10268L14.0616 7.92068L10.0929 12.6831L8.03816 10.6284L6.7326 11.934L9.50212 14.7035L10.2169 15.4183L10.8641 14.6417Z"
                    fill="#E0B167" />
            </svg>
            <b> Sesiones de Coaching Nutricional, </b>un total de 2h30min de
            vídeos (154min) con ejercicios&nbsp;para&nbsp;aplicar:&nbsp;150€
        </p>
        <p style="font-family: Poppins;
        font-size: 14.77px;
        font-weight: 300;
        line-height: 22.16px;
        text-align: left;
        color: #D88708;
        text-decoration: line-through;
        margin: 0;">
            Total: 757€
        </p>
        <p style="font-family: Poppins;
        font-size: 14.77px;
        font-weight: 300;
        line-height: 22.16px;
        text-align: left;
        color: #D88708;
        text-decoration: line-through;">
            -40% = 454€
        </p>
        <p style="font-family: Poppins;
        font-size: 14.77px;
        line-height: 70px;
        letter-spacing: -0.46158626675605774px;
        text-align: left;
        ">
            Esta vez <b> todo </b> por SOLO: <b style="font-family: Poppins;
            font-size: 66.47px;
            font-weight: 600;
            letter-spacing: -0.46158626675605774px;
            text-align: left;
            color: #8CD2A3;">317€</b>
        </p>
        <p style="font-family: Poppins;
        font-size: 11.5px;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
        color: #D88708;">
            Opción de 3 pagos SIN INTERÉS de 106 €/ mes
        </p>
        <button (click)="ComprarCurso()"
            style="height: 50px;width: 280px; background-color: #B4C7C0; border-radius: 15px;">
            <span style="font-family: Reem Kufi Ink;
                font-size: 15px;
                font-weight: 700;
                line-height: 22.5px;
                text-align: center;
                color: #6A6056;">
                QUIERO ESTAR DENTRO
            </span>
        </button><br><br>
        <div>
            <p style="font-family: Poppins;
            font-size: 13px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color: #444444;">
                407€ es lo que costaría solo el acompañamiento de primera visita
                + revisiones + resolución de dudas.
            </p>
            <p style="font-family: Poppins;
            font-size: 13px;
            font-weight: 700;
            line-height: 24px;
            text-align: left;
            color: #444444;">
                ¡Es decir, te lo llevas mejor de precio y además, toda la
                formación
                gratis!
            </p>
            <p style="font-family: Poppins;
            font-size: 13px;
            line-height: 24px;
            text-align: left;
            color: #444444;">
                <b>317€</b> los 3 meses y medio. O lo que es lo mismo,
                <b>23€/semana.</b>
            </p>
        </div>
    </div>
    <div class="row"
        style="padding: 3% 5%">
        <div class="parati">
            <span style="
            font-family: Handlee;
font-size: 30px;
font-weight: 400;
line-height: 40.05px;
text-align: center;
        color: #4D5C52;">
                <span style="color: #E0B167;">
                    Antes
                </span>
                del acompañamiento
            </span>
            <br><br>
            <p style="font-family: Poppins;
            font-size: 14.58px;
            font-weight: 400;
            line-height: 21.87px;
            text-align: justify;
            color: #4D5C52;">
                <b style="color: #EA7C17;"> ×</b> Te sientes frustrada
                <br><br>
                <b style="color: #EA7C17;"> ×</b> No entiendes por qué por más
                que controlas lo que comes no
                mejoras tu hinchazón<br><br>
                <b style="color: #EA7C17;"> ×</b> Entre semana te controlas y el
                fin de semana no eres capaz de
                controlarte porque la ansiedad te puede<br><br>
                <b style="color: #EA7C17;"> ×</b> Lees trucos, teoría, pides
                información, lo que le ha
                funcionado a alguien a quién conoces… pero a ti no te da
                resultado<br><br>
                <b style="color: #EA7C17;"> ×</b> Te sientes frustrada<br><br>
                <b style="color: #EA7C17;"> ×</b> Crees que sabes qué es lo que
                debes evitar, pero no conoces
                las proporciones de lo que necesitas<br><br>
                <b style="color: #EA7C17;"> ×</b> Sientes que, a pesar de tener
                un exceso de información sobre
                el tema, luego no lo sabes aplicar a tu caso<br><br>
                <b style="color: #EA7C17;"> ×</b> Lees y escuchas información
                que se contradice y no sabes a
                quién creer<br><br>
                <b style="color: #EA7C17;"> ×</b> No sabes qué macronutrientes
                hay, cómo equilibrar tu plato y
                como combinar los alimentos<br><br>
                <b style="color: #EA7C17;"> ×</b> Has escuchado hablar de
                alimentación antiinflamatoria, pero no
                sabes cómo comer para aplicarlo
            </p>
        </div>
        <div class="parati">
            <span style="            
            font-family: Handlee;
            font-size: 30px;
            font-weight: 400;
            line-height: 40.05px;
            text-align: center;
                    color: #4D5C52;">
                <span style="color: #65C5A2;">
                    Después
                </span>
                del acompañamiento
            </span>
            <br><br>
            <p style="font-family: Poppins;
            font-size: 14.58px;
            font-weight: 400;
            line-height: 21.87px;
            text-align: justify;
            color: #4D5C52;">
                <b style="color: #7DAD9B;"> ✓</b> Sabes qué alimentos que comer
                y cuáles evitar<br><br>
                <b style="color: #7DAD9B;"> ✓</b> Sabes qué cantidades son las
                que necesitas para tener un
                déficit calórico moderado que te permita quemar calorías<br><br>
                <b style="color: #7DAD9B;"> ✓</b> Estás contenta porque has
                aprendido a comer, te sientes bien
                contigo misma, con energía, sabes lo que tu cuerpo
                necesita<br><br>
                <b style="color: #7DAD9B;"> ✓</b> Sabes qué es una alimentación
                antiinflamatoria, cómo comer,
                qué comer<br><br>
                <b style="color: #7DAD9B;"> ✓</b> Sabes cómo funciona el sistema
                digestivo y cuáles son los
                puntos clave a los que atender para mejorar las
                digestiones<br><br>
                <b style="color: #7DAD9B;"> ✓</b> Dominas términos y conceptos
                que antes te sonaban a chino y
                eres capaz de entender muchas de las cosas que antes no tenían
                sentido<br><br>
                <b style="color: #7DAD9B;"> ✓</b> Dominas los errores sobre
                inflamación digestiva<br><br>
                <b style="color: #7DAD9B;"> ✓</b> Causas y tips que toda mujer
                debería conocer para mejorar sus
                digestiones<br><br>
                <b style="color: #7DAD9B;"> ✓</b> Has aprovechado esto para dar
                un giro a tu alimentación, es el
                impulso que necesitabas para hacer un cambio de hábitos que va
                durar para siempre, porque tienes otra mentalidad. Piensas
                distinto, sabes mucho más y dominas la alimentación
            </p>
        </div>
    </div>
    <div style="padding: 0px 5vw;">
        <p style="font-family: Handlee;
        font-size: 18.23px;
        font-weight: 400;
        line-height: 24.34px;
        text-align: center;
        color: #4D5C52;">
            ¿Lista para empezar tu transformación?
        </p>
    </div>
    <div>
        <button (click)="ComprarCurso()"
            style="height: 50px;width: 280px; background-color: #B4C7C0; border-radius: 15px;">
            <span style="font-family: Reem Kufi Ink;
            font-size: 15px;
            font-weight: 700;
            line-height: 22.5px;
            text-align: center;
            color: #6A6056;">
                QUIERO EMPEZAR MI TRANSFORMACIÓN
            </span>
        </button>
    </div>
    <div
        style="margin: 50px 0px 20px 0px;padding: 20px 4vw 5px 4vw;min-height: 250px;"
        class="square">
        <img src="assets/perdida/foto hierba.png"
            alt="Foto fondo Hierba Clara Fuertes Nutrición"
            style="max-width: 40%;width: 180px;float: left;margin: 20px 10px 20px 0px;">
        <p style="
            font-family: Poppins;
            font-size: 15px;
            font-weight: 700;
            line-height: 22px;
            text-align: justify;
            color: #4D5C52;">
            <span style="
            background-image: url(../../../../assets/perdida/lineanaranja.png);
            background-size: contain;
            padding: 2px;
            background-position-y: bottom;
            background-position-x: center;
            background-repeat: no-repeat;">
                Soy Clara,
            </span>
            Dietista-Nutricionista Colegiada y cuento con más de
            14
            años de experiencia.
            Estoy especializada en inflamación, patología digestiva y
            pérdida de
            grasa
        </p>
        <p style="font-family: Reem Kufi Ink;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            text-align: center;
            color: #4D5C52;">
            Y mi propósito es muy claro:
        </p>
        <p style="font-family: Handlee;
                font-size: 20px;
                font-weight: 400;
                line-height: 26.7px;
                text-align: center;
                color: #7DAD9B;">
            <span style="
            background-image: url(../../../../assets/perdida/circulonaranja.png);
            background-size: contain;
            background-position-y: bottom;
            background-position-x: center;
            background-repeat: no-repeat;
            padding: 15px 10px">
                Mejorar tu vida
            </span>
            y que te sientas a gusto con tu cuerpo y tus
            digestiones.
        </p>
    </div>
    <br>
    <div style="padding: 0px 5vw;">
        <p style="font-family: Poppins;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        text-align: justify;
        color: #4D5C52;">
            No concibo mi vida sin ayudar a otras personas a encontrar su
            bienestar, tanto físico como mental. A ser como quieren ser para
            vivir en congruencia con sus valores y contribuir en su felicidad
        </p>
        <p style="font-family: Handlee;
        font-size: 18px;
        font-weight: 400;
        line-height: 26.7px;
        text-align: center;
        color: #7DAD9B;">
            Te alimentas cada día y varias veces al día <br>
            ¡Es la actividad que más haces a lo largo de tu vida!<br>
            Está claro, para ser feliz, ¡necesitas dominar este aspecto de tu
            vida!
        </p>
        <p style="font-family: Poppins;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        text-align: justify;
        color: #4D5C52;">
            Es la manera que tenemos de relacionarnos con los demás, de
            celebrar, y nuestra fuente de energía para la vida. <br>
            ¡Sobran motivos para entender la importancia que tiene tanto a nivel
            físico como mental!
        </p>
        <p style="font-family: Handlee;
        font-size: 18px;
        font-weight: 400;
        line-height: 26.7px;
        text-align: center;
        color: #7DAD9B;">
            Y no encuentro mejor satisfacción para mí que poder contribuir a que
            esta parte tan importante de tu vida mejore.
        </p>
    </div>
    <hr>
    <div style="margin: 25px 0px 0px 0px;padding: 0px 5vw;">
        <p style="font-family: Handlee;
        font-size: 20px;
        font-weight: 400;
        line-height: 26.7px;
        text-align: center;
        color: #4D5C52;">
            ¿
            <span style="color: #D88708;">
                No
            </span>
            quieres entrar en un <span style="color: #D88708;">programa</span>,
            porque lo que buscas es
            una única
            consulta? <br>
            <span style="color: #D88708;">
                ¡Tambíen puedo ayudarte!
            </span>
            <br>
            <span style="font-family: Poppins;
            font-size: 14.48px;
            font-style: italic;
            font-weight: 400;
            line-height: 21.72px;
            text-align: center;
            color: #4D5C52;">
                Haz click en el botón de abajo y descubre cómo te ayudo.
            </span>
        </p>
        <div>
            <button (click)="router.navigate(['/asesoramiento/perdida/'])"
                style="height: 50px;width: 280px; background-color: #B4C7C0; border-radius: 15px;">
                <span style="font-family: Reem Kufi Ink;
                font-size: 15px;
                font-weight: 700;
                line-height: 22.5px;
                text-align: center;
                color: #6A6056;">
                    OPCIÓN ÚNICO ASESORAMIENTO
                </span>
            </button>
        </div>
    </div>
    <div style="position: absolute;
bottom: 0;
height: 30vh;
background-color: white;
transform: translateY(50%);
z-index: -1;">
    </div>
</div>