<div style="text-align: -webkit-center; padding: 20px 5px;">
    <div
        style="border: 5px solid #CDDDD7;max-width: 80vw;border-radius: 5px;width: 890px;padding: 25px;">
        <span style="font-family: Allura;
        font-size: 36px;
        font-weight: 400;
        line-height: 52px;
        text-align: center;
        color: #4D5C52;
        padding-bottom: 10px;">
            POLÍTICA DE COOKIES
        </span>
        <br><br>
        <div style="text-align: justify;">
            <span style="font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #4D5C52;">
                <i>
                    Esta Política de cookies fue actualizada por última vez el
                    26/07/2023 y se aplica a los ciudadanos y residentes legales
                    permanentes del Espacio Económico Europeo y Suiza.
                </i>
                <br><br>
                <b>1. Introducción </b><br>
                Nuestra web, https://claranutricion.com/
                (en adelante: «la web») utiliza cookies y otras tecnologías
                relacionadas (para mayor comodidad, todas las tecnologías se
                denominan «cookies»).
                <br>
                Las cookies también son colocadas por
                terceros a los que hemos contratado. En el siguiente documento
                te informamos sobre el uso de cookies en nuestra web.
                <br><br>
                <b>2. ¿Qué son las cookies?</b><br>
                Una cookie es un pequeño archivo que se envía junto con las
                páginas de esta web y que su navegador almacena en el disco duro
                de su ordenador u otro dispositivo. La información almacenada
                puede ser devuelta a nuestros servidores o a los servidores de
                terceros apropiados durante una visita posterior.
                <br><br>
                <b> 3. ¿Qué son los scripts?</b><br>
                Un script es un fragmento de código de programa que se utiliza
                para hacer que nuestra web funcione correctamente y de forma
                interactiva. Este código se ejecuta en nuestro servidor o en su
                dispositivo.
                <br><br>
                <b> 4. ¿Qué es un web beacon?</b><br>
                Una baliza web (o una etiqueta de píxel) es una pequeña e
                invisible pieza de texto o imagen en una web que se utiliza para
                monitorear el tráfico en una web. Para ello, se almacenan varios
                datos sobre usted mediante estas balizas web.
                <br><br>
                <b>5. Cookies</b>
                <br><br>
                <b>5.1 Cookies técnicas o funcionales</b><br>
                Algunas cookies aseguran que ciertas partes de la web funcionen
                correctamente y que tus preferencias de usuario sigan
                recordándose. Al colocar cookies funcionales, te facilitamos la
                visita a nuestra web. De esta manera, no necesitas introducir
                repetidamente la misma información cuando visitas nuestra web y,
                por ejemplo, los artículos permanecen en tu cesta de la compra
                hasta que hayas pagado. Podemos colocar estas cookies sin tu
                consentimiento.
                <br><br>
                <b>5.2 Cookies de estadísticas</b><br>
                Utilizamos cookies estadísticas para optimizar la experiencia de
                la web para nuestros usuarios. Con estas cookies estadísticas
                OBTÉNemos información sobre el uso de nuestra web. Te pedimos tu
                permiso para colocar cookies de estadísticas.
                <br><br>
                <b>5.3 Cookies de Marketing/Seguimiento</b><br>
                Las cookies de marketing/seguimiento son cookies, o cualquier
                otra forma de almacenamiento local, usadas para crear perfiles
                de usuario para mostrar publicidad o para hacer el seguimiento
                del usuario en esta web o en varias webs con fines de marketing
                similares.
                <br><br>
                <b>5.4 Redes sociales</b><br>
                En nuestra web hemos incluido contenido de Instagram para
                promover páginas web (p.ej.: «Me gusta», «Pinear») o compartir
                (p.ej.: «tuitear») en redes sociales como Instagram. Este
                contenido está incrustado con código derivado de Instagram y
                guarda cookies. Este contenido podría procesar cierta
                información para anuncios personalizados.
                <br>
                Por favor lea la política de privacidad de estas redes sociales
                (que puede cambiar frecuentemente) para saber que hacen con sus
                datos (personales) que procesan usando estas cookies. Los datos
                que reciben son anonimizados lo máximo posible. Instagram está
                ubicado en los Estados Unidos.
                <br><br>
                <b>6. Cookies usadas</b> <br>
                Elementor - Estadísticas (anónimas)
                <br>
                Google reCAPTCHA - Marketing/Seguimiento
                <br>
                Google Maps - Marketing/Seguimiento
                <br>
                Instagram - Marketing/Seguimiento
                <br>
                Varios - Propósito pendiente de investigación
                <br><br>
                <b>7. Consentimiento</b><br>
                Cuando visites nuestra web por primera vez, te mostraremos una
                ventana emergente con una explicación sobre las cookies. Tan
                pronto como hagas clic en «Guardar preferencias», aceptas que
                usemos las categorías de cookies y plugins que has seleccionado
                en la ventana emergente, tal y como se describe en esta política
                de cookies. Puedes desactivar el uso de cookies a través de tu
                navegador, pero, por favor, ten en cuenta que nuestra web puede
                dejar de funcionar correctamente.
                <br><br>
                <b>7.1 Gestiona tus ajustes de consentimiento</b><br>
                FuncionalSiempre activo
                <br>
                Estadísticas
                <br>
                Marketing
                <br><br>
                <b>8. Activación/desactivación y eliminación de cookies</b><br>
                Puedes utilizar tu navegador de Internet para eliminar las
                cookies de forma automática o manual. También puedes especificar
                que ciertas cookies no pueden ser colocadas. Otra opción es
                cambiar los ajustes de tu navegador de Internet para que recibas
                un mensaje cada vez que se coloca una cookie. Para OBTÉNer más
                información sobre estas opciones, consulta las instrucciones de
                la sección «Ayuda» de tu navegador.
                <br>
                Ten en cuenta que nuestra web puede no funcionar correctamente
                si todas las cookies están desactivadas. Si borras las cookies
                de tu navegador, se volverán a colocar después de tu
                consentimiento cuando vuelvas a visitar nuestras webs.
                <br><br>
                <b>9. Tus derechos con respecto a los datos personales</b><br>
                Tienes los siguientes derechos con respecto a tus datos
                personales:
                <br>
                · Tiene derecho a saber por qué se necesitan tus datos
                personales, qué sucederá con ellos y durante cuánto tiempo se
                conservarán.
                <br>
                · Derecho de acceso: tienes derecho a acceder a tus datos
                personales que conocemos.
                <br>
                · Derecho de rectificación: tienes derecho a completar,
                rectificar, borrar o bloquear tus datos personales cuando lo
                desees.
                <br>
                · Si nos das tu consentimiento para procesar tus datos, tienes
                derecho a revocar dicho consentimiento y a que se eliminen tus
                datos personales.
                <br>
                · Derecho de cesión de tus datos: tienes derecho a solicitar
                todos tus datos personales al responsable del tratamiento y a
                transferirlos íntegramente a otro responsable del tratamiento.
                <br>
                · Derecho de oposición: puedes oponerte al tratamiento de tus
                datos. Nosotros cumplimos con esto, a menos que existan motivos
                justificados para el procesamiento.
                <br>
                Para ejercer estos derechos, por favor, contacta con nosotros.
                Por favor, consulta los detalles de contacto en la parte
                inferior de esta política de cookies. Si tienes alguna queja
                sobre cómo gestionamos tus datos, nos gustaría que nos la
                hicieras saber, pero también tienes derecho a enviar una queja a
                la autoridad supervisora (la autoridad de protección de datos).
                <br><br>
                <b>10. Datos de contacto</b><br>
                Para preguntas y/o comentarios sobre nuestra política de cookies
                y esta declaración, por favor, contacta con nosotros usando los
                siguientes datos de contacto:
                <br>
                <b>
                    Clara Fuertes Camprubí
                    <br>
                    Passeig de l'espigol, 5 Sitges, 08870
                    <br>
                    España Web: https://claranutricion.com
                    <br>
                    Correo electrónico: info&#64;claranutricion.com
                    <br>
                    Número de teléfono: 678996357
                    <br>
                    Esta política de cookies ha sido sincronizada con
                    cookiedatabase.org el 11/04/2022
                </b>
            </span>
        </div>
    </div>
</div>