<div style="text-align: -webkit-center;">
	<div class="row footer"
		style="align-items:center">
		<div class="col-12 col-md-4">
			<div class="row">
				<a href="/privacidad/"
					class="link"
					title="Política de privacidad">
					Política de Privacidad
				</a>
				<a href="/cookie/"
					class="link"
					title="Política de cookies">
					Política de Cookies
				</a>
				<p class="link">
					Copyright © Clara Fuertes
				</p>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<span class="text">
				Clara Fuertes Colegiada CAT00866
			</span>
			<br>
			<span class="text">
				Especialista en Nutrición.
				<br>
				Coach Nutricional.
			</span>
		</div>
		<div class="col-12  col-md-4">
			<div class="row">
				<a href="/legal/"
					class="link"
					title="Aviso legal">
					Aviso legal
				</a>
				<a href="/condicion/"
					class="link"
					title="Condicion de venta">
					Condición de Venta
				</a>
				<a href="https://hu1a1a.github.io/Ye_Studio/"
					class="link"
					title="El autor de la web">
					Powered by Ye Studio
				</a>
			</div>
		</div>
	</div>
</div>
