<mat-toolbar color="primary">
    <div class="col">
        <a href="./">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Clara Fuertes</span>
        </a>

    </div>
    <div class="col" style="text-align: -webkit-right;">
        <span class="example-spacer"></span>
        <a href="https://www.instagram.com/clara_nutricion/">
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button></a>
        <a href="https://www.instagram.com/clara_nutricion/">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </a>
    </div>
</mat-toolbar>