<div class="login">
	<div style="text-align-last: center;">
		<img src="assets/LogoClaraM.jpg"
			style="width: 100%;max-width: 300px;" alt="Logo Clara Fuertes Nutrición"
			title="Logo Clara Fuertes Nutrición">
	</div>
	<span style="font-family: Rajdhani;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.26px;
    text-align: center;
    color: #4D5C52;">
		Bienvenido al portal de tu curso
		<br>
		¡Nos alegra de volver a verte!
	</span>
	<br>
	<br>
	<form (submit)="login()" *ngIf="Login">
		<input [(ngModel)]="User"
			type="text"
			name="User"
			autocomplete="username"
			class="form-control"
			placeholder="Usuario"
			(input)="Response=undefined">
		<input [(ngModel)]="Pass"
			type="password"
			name="Password"
			autocomplete="current-password"
			class="form-control"
			placeholder="Contraseña"
			(input)="Response=undefined">
		<button
			type="submit">
			<span>INICIAR SESIÓN</span>
		</button>
		<br>
		<br>
		<button (click)="Login=!Login"
			type="button">
			<span>
				RECUPERAR CONTRASEÑA
			</span>
		</button>
		<br>
		<br>
	</form>
	<form (submit)="passwordReset()" *ngIf="!Login">
		<input [(ngModel)]="Email"
			type="email"
			name="Email"
			class="form-control"
			placeholder="Correo electrónico"
			(input)="Response=undefined">
		<button
			type="submit">
			<span>
				RESETEAR TU CONTRASEÑA
			</span>
		</button>
		<br>
		<br>
		<button (click)="Login=!Login"
			type="button">
			<span>INICIAR SESIÓN</span>
		</button>
	</form>

	<div *ngIf="Response?.msg"
		class="row" style="justify-content: center;">
		<div class="alert alert-danger fade show"
			style="margin: 25px 0px;width: 50%;"
			role="alert">
			{{Response.msg}}
		</div>
	</div>
</div>
