<div class="login">
	<div style="text-align-last: center;">
		<img src="assets/LogoClaraM.jpg"
			style="width: 100%;max-width: 300px;">
	</div>
	<span style="font-family: Rajdhani;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.26px;
    text-align: center;
    color: #4D5C52;">
		¡Nos alegra volver a verte!
	</span>
	<br>
	<br>
	<ng-container *ngIf="Login">
		<input [(ngModel)]="User"
			type="text"
			name="User"
			class="form-control"
			placeholder="Usuario"
			(input)="Response=undefined">
		<input [(ngModel)]="Pass"
			type="password"
			name="Password"
			class="form-control"
			placeholder="Contraseña"
			(input)="Response=undefined">
	</ng-container>
	<ng-container *ngIf="!Login">
		<input [(ngModel)]="Email"
			type="email"
			name="Email"
			class="form-control"
			placeholder="Correo electrónico"
			(input)="Response=undefined">
	</ng-container>
	<ng-container *ngIf="Login">
		<button (click)="login()"
			type="button">
			<span>INICIAR SESIÓN</span>
		</button>
		<br>
		<br>
		<button (click)="Login=!Login"
			type="button">
			<span>
				RECUPERAR CONTRASEÑA
			</span>
		</button>
		<br>
		<br>
	</ng-container>
	<ng-container *ngIf="!Login">
		<button (click)="passwordReset()"
			type="button">
			<span>
				RESETEAR TU CONTRASEÑA
			</span>
		</button>
		<br>
		<br>
		<button (click)="Login=!Login"
			type="button">
			<span>INICIAR SESIÓN</span>
		</button>
	</ng-container>
	<div *ngIf="Response?.msg"
		class="row">
		<br>
		<br>
		<div class="alert alert-danger alert-dismissible fade show"
			role="alert">
			{{Response.msg}}
		</div>
	</div>
</div>
