<nav class="navbar navbar-expand-lg">
    <div class="container-fluid" style="padding: 0;">
        <a class="navbar-brand" href="/" style="margin: 0;">
            <img src="assets/LogoC.png" style="width: auto; height: 85px;" alt="Logo Clara Fuertes Nutrición"
                title="Logo Clara Fuertes Nutrición">
        </a>
        <ng-container *ngIf="!router.url.startsWith('/curso/') && !router.url.startsWith('/admin/')">
            <div style="margin: auto;">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <ng-container *ngFor="let item of Menu">
                        <ng-container
                            *ngIf="api.SQL_Master && find(api.SQL_Master.data,'master','Visibilidad - '+item.Name)?.data"
                            ngSkipHydration>
                            <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                                aria-controls="navbarNavDropdown">
                                <a class="nav-link menu" (click)="href(item)" [href]="item.Router"
                                    [ngClass]="router.url==='/'+item.Router?'active':''"
                                    [title]="'Ir al apartado de '+item.Name" >
                                    {{item.Name}}
                                </a>
                            </li>
                        </ng-container>
                    </ng-container>
                </ul>
            </div>
        </ng-container>
        <ng-container *ngIf="router.url.startsWith('/admin/')">
            <button mat-raised-button color="primary" (click)="CerrarSession()" class="sessionClose">
                Cerrar Sessión
            </button>
        </ng-container>
    </div>
</nav>