.footer {
  background-color: black;
  color: white;
  width: 100%;
  text-align: -webkit-center;
  margin-top: 50px;
}
.row {
  padding: 15px 16px;
}
a {
  text-decoration-line: none;
  color: rgb(106, 107, 108);
  i {
    color: white;
  }
}
i {
  padding: 5px;
}
