<div class="footer row">
    <div class="row">
        <div class="col">
            © 2023, classyfunnels, LLC - Todos los Derechos Reservados
            <br>
            651 N Broad St, Suite 201, Middletown, 19709. New Castle County
        </div>
    </div>
    <div class="row">
        <div>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-instagram"></i>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href=""> Términos y Condiciones
            </a>
        </div>
        <div class="col">
            <a href=""> Política de Privacidad

            </a>
        </div>
        <div class="col">
            <a href=""> Descargo de Responsabilidad
            </a>
        </div>
    </div>
</div>