<div style="position:fixed;top: 0%;height: 800px;z-index: -1;width: 100%;">
    <div class="row" style="position: relative;">
        <img src="assets/recursos/turkia.webp" alt="Foto fondo Turkia Clara Fuertes Nutrición"
            style="height: 50vh;
        object-fit: cover;
        object-position: bottom;
        margin-top: 90px;
    ">
        <p style="
        font-family: Handlee;
        font-size: 41.67px;
        font-weight: 400;
        line-height: 55.62px;
        text-align: center;
        color: #4D5C52;
        position: absolute;
        top: 50%;background-color: #D9D9D9CF;
        left: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
        border-radius: 0px 13px;
        padding: 5px 15px;
        ">
            Recursos gratuitos
        </p>
    </div>
</div>
<div style="height: 45vh;"></div>

<div
    style="text-align-last: center;padding: 100px 10px;position: relative;background-color: white;border-radius: 15px 15px 0px 0px;">
    <div
        style="position: absolute;background: linear-gradient(360deg, #FFFFFF 0%, #F5F0EC 16.1%, #C8B39A 58.1%, #A58259 100%);
        width: 100%;height: 50px;top: 0%;left: 0%;border-radius: 15px 15px 0px 0px;">
    </div>
    <div class="btn-group row"
        style="border-radius: 15px;vertical-align: middle;width: 100%;
    align-content: center;">
        <div class="col" style="padding: 15px;">
            <app-component-button
                text1="LA GUÍA INFALIBLE QUE RESUELVE TUS DUDAS"
                ref="ensalada">
            </app-component-button>
        </div>
        <div class="col" style="padding: 15px;">
            <app-component-button text1="PRÓXIMAMENTE" [disabled]="true"
                (click)="openModal()">
            </app-component-button>

        </div>
    </div>
    <div style="position: absolute;
bottom: 0;
height: 30vh;
background-color: white;
width: 99%;
transform: translateY(50%);
z-index: -1;">

    </div>
</div>