<mat-dialog-content style="width: 300px;
height: 250px; max-width: 80vw;
align-content: space-evenly;
border-color: #4D5C52;
overflow: hidden;
padding-top: 50px;
text-align: -webkit-center;
border: 2px solid black;
border-radius: 20px;
background-color: white;
  ">

    <p style="font-family: Rajdhani;
    font-size: 26.04px;
    font-weight: 600;
    line-height: 33.23px;
    text-align: center;color: #4D5C52;
    
        ">
        Próximamente
    </p>
    <img src="assets/recursos/tree.png" alt="arbol">

</mat-dialog-content>