

nav {
  background-color: #dae4e0;
}

li {
  margin: 0px 5px;
}

.dropdown-menu {
  background-color: #dae4e0;
}

.navbar-collapse {
  background-color: #dae4e0;
  padding: 25px;
  border-radius: 0px 0px 10px 10px;
}

.navbar-nav {
  flex-direction: row;
}



a {
  font-size: 25px;
  font-weight: 700;
  font-family: Rajdhani;
  color: #6a6056;
  text-align: center;
  padding: 0;
}

a:hover {
  color: #9baba4;
}

.navbar {
  z-index: 1;
}