<div style="text-align: -webkit-center;">
	<div class="row contact"
		style="border-radius: 25px 25px 0px 0px;">
		<div class="col contacticon">
			<a href="https://api.whatsapp.com/send?phone=34678996357&text=Hola Clara, estoy interesado en tu asesoramiento!"
				class="contaco">
				<img src="assets/whatsapp.png"
					alt>
			</a>

			<a href="mailto:clarafuertes.nutricion@gmail.com"
				class="contaco">
				<img src="assets/correo.png"
					alt>

			</a>

			<a href="https://www.instagram.com/clara_nutricion/"
				class="contaco">
				<img src="assets/instagram.png"
					alt>
			</a>
		</div>
	</div>
	<div class="row footer"
		style="align-items:center">
		<div class="col-4">
			<div class="row">
				<a href="#/privacidad/"
					class="link">
					Política de privacidad
				</a>
				<a href="#/cookie/"
					class="link">
					Política de cookies
				</a>
			</div>
		</div>
		<div class="col-4 foottext">
			Clara Fuertes Colegiada CAT00866
			<br>
			Especialista en Nutrición.
            Coach Nutricional.
		</div>
		<div class="col-4">
			<div class="row">

				<a href="#/legal/"
					class="link">
					Aviso legal
				</a>
				<a href="https://hu1a1a.github.io/YK-Web-Studio/"
					class="link">
					Powered by YK Web Studio
				</a>
			</div>
		</div>
	</div>
</div>
