<div class="row" style="text-align: -webkit-center;">
    <div class="col">
        <h1>
            ¡Hola! Soy <span> Juan Galati </span>el Creador de classyfunnels
        </h1>
        <p>
            Bienvenido a classyfunnels. Estás a punto de activar tus SUPERPODERES para poder construir un GRAN Embudo de
            Ventas para vender en automático tus productos y servicios.
        </p>
    </div>
    <div class="col">
        <img src="assets/ClaraFuertes2.png">
        <button mat-raised-button color="warn">
            Comenzar Curso Gratuito
            <br>
            de Embudos de Ventas >>
        </button>
    </div>
</div>
<div class="row" style="text-align: -webkit-center;">
    <div class="col">
        <video width="320" height="240" controls>
            <source src="assets/Video1.mp4" type="video/mp4">
        </video>
    </div>
</div>
<div class="row">
    <p>
        Incluso es posible que para ti sea el comienzo de algo nuevo...
    </p>
    <p>
        Un nuevo ángulo de negocios. Un enfoque diferente de ventas. La habilidad que separa a los dueños de negocios
        exitosos de aquellos que fracasan.
    </p>
    <p>
        En lugar de probar nuevas y luminosas “tácticas” de marketing, vas a cubrir los conceptos básicos. El trabajo de
        base. Un trabajo que, una vez que hayas invertido tiempo y sudor, te servirá toda la vida.
    </p>
    <p>
        Pero no será difícil porque te guiaré a través de esto.
    </p>
    <p>
        ¡Lo prometo!
    </p>
    <p>
        Estoy constantemente estudiando a los especialistas en marketing de la era dorada y moderna. Tanto figuras
        públicas como expertos en nichos. Desde David Ogilvy, Claude Hopkins, Eugene Schwartz, Dale Carnegie, hasta
        Flint McGlaughlin, Robert Cialdini, Rusell Brunson, Ryan Deiss, Joanna Wiebe, Peep Laja… En pocas palabras:
        todos de los que aprendo.
    </p>
    <p>
        Mi nombre es Juan y soy el fundador de classyfunnels. Creé esta empresa porque estuve donde estás hoy: Luchando
        con la promoción de mis productos y servicios. Luchando con la tecnología y estrategia detrás de los embudos de
        ventas.
    </p>
    <p>
        Me tomaba añares poner todas las piezas en su lugar, el proceso, y el doble de tiempo pulirlo y optimizarlo... Y
        nunca terminaba de sentirme cómodo al lanzar un nuevo embudo. Soy el tipo de personas que simplemente no puede
        dormir si algo no funciona como se esperaba.
    </p>
    <p>
        Me sentía abrumado.
    </p>
    <p>
        De verdad, las cosas no siempre fueron tan fáciles.
    </p>
    <p>
        Entonces continué estudiando, leyendo, investigando, hasta que se convirtió en una segunda naturaleza. Y quiero
        lo mismo para ti. Pero sin leer todos estos libros y blogs, ni ver todos esos cursos y clips con “tips” de
        YouTube.
    </p>
    <p>
        Al igual que lo hice en su momento, seguramente te estarás preguntando:¿Por dónde empiezo?
    </p>
    <p>
        Estoy convencido de que la mejor manera de comenzar es entendiendo la estrategia general de un negocio online.
    </p>
    <p>
        Aprender cuáles son los pasos para crear un Embudo de Ventas Automatizado que trabaje por ti las 24 horas del
        día, puedas vender en automático, y así obtengas tu LIBERTAD.
    </p>
    <p>
        Mi misión es ayudar al mercado hispano a conseguir la calidad de información que necesitaba cuando comencé y no
        podía encontrar, información que me llevó de comer arroz a vivir por mi cuenta.
    </p>
    <p>
        Y, afortunadamente para ti, puedes tomar mi curso gratuito de Embudos de Ventas donde aprenderás cómo atraer una
        Avalancha de Clientes en 30 días o menos.
    </p>
    <p>
        Recuerda. Modelar lo que ya ha funcionado es clave para ahorrar tiempo y dinero. Aprovecha lo que ha funcionado
        para otros, una y otra vez.
    </p>
    <p>
        ¿Qué esperas? ¡Toma el curso gratuito ahora haciendo click aquí, aprende la estrategia, y comienza a vender!
    </p>
    <p>
        Juan Galati - classyfunnels
        🕊️ Vive Libre...
    </p>
</div>