h1 {
  color: rgb(12, 17, 21);
  --tcb-applied-color: rgb(106, 107, 108);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: var(--g-bold-weight, bold);
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0);
  font-style: normal;
  margin: 0;
  padding-top: 0;
  padding-bottom: 24px;
  text-decoration: rgba(10, 10, 10, 0.85);
  text-transform: none;
  border-left: 0 rgba(10, 10, 10, 0.85);
  line-height: 1.3em;
  --tcb-typography-font-family: Arial, Helvetica, sans-serif;
}
span {
  --tcb-applied-color: rgb(186, 45, 11) !important;
  color: rgb(186, 45, 11) !important;
}
p {
  color: rgb(106, 107, 108);
  --tcb-applied-color: rgb(106, 107, 108);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: var(--g-regular-weight, normal);
  font-size: 18px;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 24px;
  margin-bottom: 0;
  --tcb-typography-font-family: Arial, Helvetica, sans-serif;
}
button {
  height: 50px;
}

.row {
  padding: 10px;
}
