<div class="cuerpo row" style="text-align: -webkit-center;">
    <div class="col">
        <div class="row">
            <div class="col">
                <h1>
                    Tienes Tu Guía de ensaladas al email, espero de corazón que te sirva de ayuda
                </h1>
                <p>
                    ¿Quieres conocer cómo trabajo?
                    Mi nombre es Clara y he ayudado a cientos de mujeres a lo largo de mis 14 años de trayectoria a
                    reconciliarse con su cuerpo y su inflamación.
                </p>
            </div>
            <div class="col">
                <img src="assets/ClaraFuertes3.png" style="max-width: 200px;height:fit-content">
            </div>
        </div>
        <h2>
            ¿Cansada de seguir buscando la fórmula mágica que te haga estar a gusto con tu cuerpo?
        </h2>
        <p>
            Es un HECHO, la mayoría de las mujeres se pasan toda la vida intentando lograr el cuerpo que desean sin
            conseguirlo.
            ¿Por qué? ¡Porque no entienden lo que necesitan! Porque creen que lo lograrán con X cosa mágica.
            ¿Has buscado y buscado información, has probado cientos de productos, y aún sigues creyendo que no
            solucionas el problema porque no has encontrado el que va bien? Déjame decirte que no lo vas a encontrar.
            ¿Sabes que ha llegado la hora de probar algo distinto, darle la vuelta y coger realmente las riendas de tu
            alimentación, entendiendo que es lo que necesitas?
            Entonces quédate y te explico cómo puedo ayudarte a conseguirlo.
        </p>
        <button mat-raised-button style="color: white;background-color: green; margin: 10px;" (click)="modal=true">
            Quiero empezar mi transformación!
        </button>
        <p>
            Mi nombre es Clara y soy especialista en hacer que mujeres como tú, con una vida real, que no tienen
            demasiado tiempo para la cocina pero que quieren empezar a cuidarse, reducir inflamación y grasa puedan
            conseguir sus objetivos de forma sencilla.
            ¿Cuántas veces te preguntas que no comes tanto para lo hinchada que te encuentras? Intentas controlar lo que
            comes, haces grandes esfuerzos, lees trucos, te restringes mucho la comida, pero aun así no consigues
            reconciliarte con tu barriga.
            Sabes que algo no va bien, pero no sabes que más hacer. La respuesta es la inflamación.
            A lo largo de mi trayectoria profesional he visto como cientos de mujeres han perdido tiempo, energía y
            dinero enfocándose en soluciones que nos las llevaba a ningún lado.
            Muchas mujeres quieren empezar un método antiinflamatorio, pero no dan el paso porqué les parece complicado
            y extremista. Tras 14 años de experiencia, te acerco la Nutrición Antiinflamatoria sin radicalismos, para
            que transformarte te resulte de lo más sencillo. Sin fórmulas complicadas e imposibles. Para que conozcas
            qué es lo que beneficia a tus digestiones y vuelvas a sentir tuya tu barriga. Además, mediante el Coaching
            Nutricional trabajamos la mentalidad para que tu cambio sea para siempre.
            • Al principio yo también pensaba que la nutrición en pérdida de grasa era contar calorías, consumir
            productos bajos en grasa y correr. Cuando empecé mi trayectoria en Nutrición Digestiva y conocí los procesos
            inflamatorios cambió mi visión, porqué entendí que la base de cualquier patología es la inflamación y que,
            de la misma manera, la alimentación antiinflamatoria protege a tu organismo de una inflamación crónica.
            Y la inflamación no se basa solamente en consumir omega 3, porque volveríamos a lo de siempre, estaríamos
            usando un truco para intentar cambiar una situación mucho más compleja, la inflamación se basa en una
            estructura, unos hábitos y unos alimentos. Pero sobre todo en un cambio de mentalidad.
        </p>
        <button mat-raised-button style="color: white;background-color: green; margin: 10px;" (click)="modal=true">
            Quiero empezar mi transformación!
        </button>
        <p>
            No concibo mi vida sin ayudar a otras personas a encontrar su bienestar, tanto físico como mental. A ser
            como quieren ser para vivir en congruencia con sus valores y contribuir en su felicidad. Nos alimentamos
            cada día y varias veces al día, es la actividad que más hacemos a lo largo de nuestra vida, es la manera que
            tenemos de relacionarnos con los demás, de celebrar, y nuestra fuente de energía para la vida.
            ¡Sobran motivos para entender la importancia que tiene tanto a nivel físico como mental! Y no encuentro
            mejor satisfacción para mí que poder contribuir a que esta parte tan importante de tu vida mejore.
        </p>
        <h2>
            ¿Qué consiguen las mujeres con mi acompañamiento?
        </h2>
        <p>
            &#9658; Tener un plan 100% personalizado. Calculo tus requerimientos energéticos en base a tus objetivos y
            necesidades
            &#9658; Elaboro un menú base para que conozcas tus necesidades, cómo debes estructurar las comidas, qué
            deben
            incluir, etc.
            Todo en base a tus gustos, horarios, hábitos, preferencias, y necesidades según edad, altura, peso, sexo,
            etc.
            &#9658; Elaboro un menú semanal ejemplo respetando tus gustos y preferencias.
            &#9658; Te doy alternativas de desayunos y meriendas para tu caso concreto.
            &#9658; Te entrego recomendaciones específicas en caso de tener patologías asociadas.
            &#9658; Te entrego hojas de equivalencias (y te enseño a usarlas) para que puedas hacer las modificaciones
            que
            quieras, y sepas cómo combinar y qué raciones tomar de los alimentos. Para que no te aburras. ¡Hay infinidad
            de combinaciones!
            &#9658; Te acompaño en este proceso de cambio. Soy tu guía.
            &#9658; Resuelvo tus dudas e inquietudes en un plazo máximo de 24h mediante Whatsapp o email, estoy contigo.
            &#9658; Te doy herramientas basadas en el Coach Nutricional para que los cambios que hagas sean duraderos en
            el
            tiempo. ¡Ya no más dietas! ¡Esta es la definitiva!
            &#9658; Te propongo ejercicios para que integres el cambio y lo entiendas. ¡Te va a encantar tu nueva
            mentalidad!
        </p>
        <h2>
            Imagina…
        </h2>
        <p>
            • Imagina mirarte al espejo y estar a gusto con lo que ves y sientes. Sentir tuya tu barriga
            • Imagina sentirte con más energía, porque es un plan calculado para lo que necesitas.
            • Imagina conocer las bases de la alimentación antiinflamatoria e incorporarlas a tu vida, viviendo un
            proceso de coaching.
            • Imagina no limitarte a hacer una dieta más, esta vez es distinta, imagina cambiar tu mentalidad para
            siempre.
            • Imagina reconciliarte con tu cuerpo y tus digestiones.
            • Imagina aumentar tu autoestima y confianza, estar contenta porque por fin estás haciendo aquello que sabes
            que te hace sentir bien y por fin te priorizas por encima de los demás.
            • Imagina poder comer tus alimentos favoritos porque es un plan pensado para ti.
            • Imagina vivir en paz y coherencia con tus acciones y tus valores.
            • Imagina dominar algo que harás toda tu vida, varias veces a lo largo del día. ¡Vivir con la tranquilidad
            de saber que lo estás haciendo bien!
        </p>
        <h2>
            Esto es para ti si:
        </h2>
        <p>
            &#9658; Estas cansada de hacer dietas restrictivas que te hacen sentir privada, frustrada y de mal humor.
            ¡Seguramente no están calculadas para ti!
            &#9658; Sientes que ha llegado el momento de hacer un cambio distinto, pero no sabes cómo enfocarlo, por
            dónde
            empezar. Necesitas una persona que te guíe.
            &#9658; Te sientes hinchada, inflamada, sin energía. El enfoque antiinflamatorio es el que necesitas.
            &#9658; Quieres dominar tu nutrición de una vez por todas, ser dueña de ti misma.
            &#9658; Estas dispuesta a empezar a priorizarte, ¡dejando las excusas a un lado!
            &#9658; ¡Quieres transformarte y que esta vez sea la definitiva!
        </p>
        <h2>
            Esto no es para ti si:
        </h2>
        <p>
            &#9658; Estás buscando perder peso de forma milagrosa.
            &#9658; Quieres perder X peso en X tiempo determinado para luego volver a tus hábitos de siempre.
            &#9658; Quieres bajar grasa sin hacer ningún cambio.
        </p>
        <h1>
            ¿Lista para empezar tu transformación?
        </h1>
        <button mat-raised-button style="color: white;background-color: green; margin: 10px;" (click)="modal=true">
            QClara, Necesito tu ayuda!
        </button>
        <h2>
            ¿En que más te puedo ayudar?
            ¿Tienes una patología digestiva? (sibo, imo, h.pylori, gastritis…) este es tu sitio!
        </h2>
        <button mat-raised-button style="color: white;background-color: green; margin: 10px;" (click)="patologia()">
            CLICKA AQUI si padeces una patología digestiva
        </button>
    </div>
    <app-patologia-form (modal)="modal=$event" *ngIf="modal"></app-patologia-form>
</div>
<div class="row" style="text-align: -webkit-center;">
    <div class="col">
        <video width="320" height="240" controls>
            <source src="assets/Video1.mp4" type="video/mp4">
        </video>
    </div>
</div>