<div class="cuerpo row">
    <div class="col">
        <div class="row">
            <div class="col" style="text-align: -webkit-center;">
                <a href="#guia">
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;line-height:150%;'>
                        <strong><span
                                style='font-size:21px;line-height:150%;font-family:"Bradley Hand ITC";color:black;'>&iexcl;</span></strong><strong><span
                                style='font-size:35px;line-height:150%;font-family:"Bradley Hand ITC";color:black;'>Hola!
                                Soy Clara&nbsp;</span></strong>
                    </p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;line-height:150%;'>
                        <span style='font-size:19px;line-height:150%;font-family:"Script MT Bold";color:black;'>(Bradley
                            Hand ITC)</span>
                    </p>
                    <p
                        style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                        <span style='font-size:21px;font-family:"Bradley Hand ITC";color:black;'>Dietista-Nutricionista
                            Colegiada,</span>
                    </p>
                </a>
                <p
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                    <span style='font-family:"Segoe UI",sans-serif;color:black;'>Te ayudo a reconciliarte con tu cuerpo
                        y tu inflamaci&oacute;n.&nbsp;</span>
                </p>
                <p
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                    <span style='font-family:"Segoe UI",sans-serif;color:black;'>Te acerco la Nutrici&oacute;n
                        Antiinflamatoria sin radicalismos, para que transformarte te resulte de lo m&aacute;s
                        sencillo.&nbsp;</span>
                </p>
                <p
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                    <span style='font-family:"Segoe UI",sans-serif;color:black;'>Sin f&oacute;rmulas complicadas e
                        imposibles. Para que conozcas qu&eacute; es lo que beneficia a tus digestiones y vuelvas a
                        sentir tuya tu barriga.</span>
                </p>
                <p
                    style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                    <strong><u><span style="text-decoration:none;"></span></u></strong>
                </p>
                <p
                    style='margin-top:0cm;margin-right:28.3pt;margin-bottom:0cm;margin-left:1.0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                    <strong><span style='font-size:16px;line-height:107%;font-family:"Segoe UI",sans-serif;'>Te
                            alimentas cada d&iacute;a y varias veces al d&iacute;a</span></strong>
                </p>
                <p
                    style='margin-top:0cm;margin-right:28.3pt;margin-bottom:0cm;margin-left:1.0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                    <strong><span style='font-size:16px;line-height:107%;font-family:"Segoe UI",sans-serif;'>&iexcl;Es
                            la actividad que m&aacute;s haces a lo largo de tu vida!</span></strong>
                </p>
                <p
                    style='margin-top:0cm;margin-right:28.3pt;margin-bottom:0cm;margin-left:1.0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                    <strong><span style='font-size:16px;line-height:107%;font-family:"Segoe UI",sans-serif;'>Est&aacute;
                            claro, ES URGENTE, necesitas dominar este aspecto de tu vida</span></strong>
                </p>
                <br>
                <div class="col" style="text-align: -webkit-center;">
                    <img src="assets/ClaraFuertes3.png" style="border-radius: 1000px;max-width: 200px;">
                </div>
                <div style="text-align: -webkit-center;">
                    <a href="#guia">
                        <button mat-raised-button
                            style="color: black;background-color: #F5CEC7; margin: 10px;padding: 50px;">
                            <p
                                style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                                <em><span
                                        style='font-size:16px;line-height:107%;font-family:"Segoe UI",sans-serif;'>RECURSO
                                        <strong><u>GRATUITO</u></strong> ENSALADAS</span></em>
                            </p>
                            <p
                                style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;'>
                                <strong><em><span
                                            style='font-size:16px;line-height:107%;font-family:"Segoe UI",sans-serif;'>LA
                                            GU&Iacute;A INFLALIBLE QUE RESUELVE TODAS TUS DUDAS</span></em></strong>
                            </p>
                        </button>
                    </a>
                </div>
                <div style="text-align: -webkit-center;">
                    <a href="#nutricional">
                        <button mat-raised-button style="background-color: #F5CEC7; margin: 10px;padding: 50px;">
                            <p
                                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;line-height:normal;'>
                                <strong><em><span
                                            style='font-size:16px;font-family:"Segoe UI",sans-serif;'>ACOMPA&Ntilde;AMIENTOS
                                            NUTRICIONALES 1:1&nbsp;</span></em></strong>
                            </p>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
                <h4>
                    ¿Quieres conocer cómo trabajo?
                </h4>
                <p>
                    <b> Mi nombre es Clara </b> y he ayudado a cientos de mujeres a lo largo de mis 14 años de
                    trayectoria a
                    reconciliarse con su cuerpo y su inflamación.
                </p>
            </div>

        </div>
        <h2>
            ¿Cansada de seguir buscando la fórmula mágica que te haga estar a gusto con tu cuerpo?
        </h2>
        <p>
            Es un HECHO, la mayoría de las mujeres se pasan toda la vida intentando lograr el cuerpo que desean sin
            conseguirlo.
        </p>
        <p>
            ¿Por qué? ¡Porque no entienden lo que necesitan! Porque creen que lo lograrán con X cosa mágica.
        </p>
        <p>
            ¿Has buscado y buscado información, has probado cientos de productos, y aún sigues creyendo que no
            solucionas el problema porque no has encontrado el que va bien? Déjame decirte que
            <b> no lo vas a encontrar.</b>
        </p>
        <p>
            ¿Sabes que ha llegado la hora de probar algo distinto, darle la vuelta y coger realmente las riendas de tu
            alimentación, entendiendo que es lo que necesitas?
        </p>
        <p>
            Entonces <b> quédate y te explico cómo </b> puedo ayudarte a conseguirlo.
        </p>
        <div style="text-align: -webkit-center;">
            <button mat-raised-button style="color: white;background-color: green; margin: 10px;" (click)="modal=true">
                Quiero empezar mi transformación!
            </button>
        </div>
        <p>
            <b> Mi nombre es Clara </b> y soy especialista en hacer que mujeres como tú, con una vida real, que no
            tienen
            demasiado tiempo para la cocina pero que quieren empezar a cuidarse, reducir inflamación y grasa puedan
            conseguir sus objetivos de forma sencilla.
        </p>
        <p>
            ¿Cuántas veces te preguntas que no comes tanto para lo hinchada que te encuentras? Intentas controlar lo que
            comes, haces grandes esfuerzos, lees trucos, te restringes mucho la comida, pero aun así no consigues
            reconciliarte con tu barriga.
        </p>
        <p>
            Sabes que algo no va bien, pero no sabes que más hacer. <b> La respuesta es la inflamación. </b>
        </p>
        <p>
            A lo largo de mi trayectoria profesional he visto como cientos de mujeres han perdido tiempo, energía y
            dinero enfocándose en soluciones que nos las llevaba a ningún lado.
        </p>
        <p>
            Muchas mujeres quieren empezar un <b> método antiinflamatorio </b>, pero no dan el paso porqué les parece
            complicado y extremista. Tras 14 años de experiencia, te acerco la Nutrición Antiinflamatoria sin
            radicalismos, para que <b> transformarte te resulte de lo más sencillo.</b> Sin fórmulas complicadas e
            imposibles. Para que conozcas qué es lo que beneficia a tus digestiones y vuelvas a sentir tuya tu barriga.
            Además, mediante el Coaching Nutricional trabajamos la mentalidad para que tu cambio sea para siempre.
        </p>
        <p>
            • Al principio yo también pensaba que la nutrición en pérdida de grasa era contar calorías, consumir
            productos bajos en grasa y correr. Cuando empecé mi trayectoria en Nutrición Digestiva y conocí los procesos
            inflamatorios cambió mi visión, porqué entendí que la base de cualquier patología es la inflamación y que,
            de la misma manera, la alimentación antiinflamatoria protege a tu organismo de una inflamación crónica.
            <br>
            Y la inflamación no se basa solamente en consumir omega 3, porque volveríamos a lo de siempre, estaríamos
            usando un truco para intentar cambiar una situación mucho más compleja, la inflamación se basa en una
            estructura, unos hábitos y unos alimentos. Pero sobre todo en un cambio de mentalidad.
        </p>
        <div style="text-align: -webkit-center;">
            <button mat-raised-button style="color: white;background-color: green; margin: 10px;" (click)="modal=true">
                Quiero empezar mi transformación!
            </button>
        </div>
        <p>
            No concibo mi vida sin ayudar a otras personas a encontrar su bienestar, tanto físico como mental. A ser
            como quieren ser para vivir en congruencia con sus valores y contribuir en su felicidad. Nos alimentamos
            cada día y varias veces al día, es la actividad que más hacemos a lo largo de nuestra vida, es la manera que
            tenemos de relacionarnos con los demás, de celebrar, y nuestra fuente de energía para la vida.
        </p>
        <p>
            <b> ¡Sobran motivos para entender la importancia que tiene tanto a nivel físico como mental! </b>
            Y no encuentro mejor satisfacción para mí que poder contribuir a que esta parte tan importante de tu vida
            mejore.
        </p>
        <h2>
            ¿Qué consiguen las mujeres con mi acompañamiento?
        </h2>
        <p>
            &#9658; Tener un <b>plan 100% personalizado.</b> Calculo tus requerimientos energéticos en base a tus
            objetivos y
            necesidades
            <br>&#9658; Elaboro un <b>menú base</b> para que conozcas tus necesidades, cómo debes estructurar las
            comidas,
            qué
            deben
            incluir, etc.
            Todo en base a tus gustos, horarios, hábitos, preferencias, y necesidades según edad, altura, peso, sexo,
            etc.
            <br>&#9658; Elaboro un <b>menú</b> semanal ejemplo respetando tus gustos y preferencias.
            <br>&#9658; Te doy alternativas de desayunos y meriendas para tu caso concreto.
            <br>&#9658; Te entrego recomendaciones específicas en caso de tener patologías asociadas.
            <br>&#9658; Te entrego <b>hojas de equivalencias</b> (y te enseño a usarlas) para que puedas hacer las
            modificaciones que quieras, y sepas cómo combinar y qué raciones tomar de los alimentos. Para que no te
            aburras. <b>¡Hay infinidad de combinaciones!</b>
            <br>&#9658; Te <b>acompaño</b> en este proceso de cambio. Soy tu guía.
            <br>&#9658; <b>Resuelvo tus dudas</b> e inquietudes en un plazo máximo de 24h mediante Whatsapp o email,
            estoy
            contigo.
            <br>&#9658; Te doy herramientas basadas en el Coach Nutricional para que los cambios que hagas sean
            duraderos en
            el tiempo. <b>¡Ya no más dietas! ¡Esta es la definitiva!</b>
            <br>&#9658; Te propongo <b>ejercicios</b> para que integres el cambio y lo entiendas. ¡Te va a encantar tu
            nueva
            mentalidad!
        </p>
        <h3>
            Imagina…
        </h3>
        <p>
            • Imagina mirarte al espejo y estar a gusto con lo que ves y sientes. Sentir tuya tu barriga
            <br>• Imagina sentirte con más energía, porque es un plan calculado para lo que necesitas.
            <br>• Imagina conocer las bases de la alimentación antiinflamatoria e incorporarlas a tu vida, viviendo un
            proceso de coaching.
            <br>• Imagina no limitarte a hacer una dieta más, esta vez es distinta, imagina cambiar tu mentalidad para
            siempre.
            <br>• Imagina reconciliarte con tu cuerpo y tus digestiones.
            <br>• Imagina aumentar tu autoestima y confianza, estar contenta porque por fin estás haciendo aquello que
            sabes
            que te hace sentir bien y por fin te priorizas por encima de los demás.
            <br>• Imagina poder comer tus alimentos favoritos porque es un plan pensado para ti.
            <br>• Imagina vivir en paz y coherencia con tus acciones y tus valores.
            <br>• Imagina dominar algo que harás toda tu vida, varias veces a lo largo del día. ¡Vivir con la
            tranquilidad
            de saber que lo estás haciendo bien!
        </p>
        <h3>
            Esto es para ti si:
        </h3>
        <p>
            &#9658; Estas cansada de hacer dietas restrictivas que te hacen sentir privada, frustrada y de mal humor.
            ¡Seguramente no están calculadas para ti!
            <br>&#9658; Sientes que ha llegado el momento de hacer un cambio distinto, pero no sabes cómo enfocarlo, por
            dónde
            empezar. Necesitas una persona que te guíe.
            <br>&#9658; Te sientes hinchada, inflamada, sin energía. El enfoque antiinflamatorio es el que necesitas.
            <br>&#9658; Quieres dominar tu nutrición de una vez por todas, ser dueña de ti misma.
            <br>&#9658; Estas dispuesta a empezar a priorizarte, ¡dejando las excusas a un lado!
            <br>&#9658; ¡Quieres transformarte y que esta vez sea la definitiva!
        </p>
        <h3>
            Esto no es para ti si:
        </h3>
        <p>
            &#9658; Estás buscando perder peso de forma milagrosa.
            <br>&#9658; Quieres perder X peso en X tiempo determinado para luego volver a tus hábitos de siempre.
            <br>&#9658; Quieres bajar grasa sin hacer ningún cambio.
        </p>
        <h2 style="text-align: -webkit-center;">
            ¿Lista para empezar tu transformación?
        </h2>
        <div style="text-align: -webkit-center;">
            <button mat-raised-button style="color: white;background-color: green; margin: 10px;" (click)="modal=true">
                Clara, Necesito tu ayuda!
            </button>
        </div>

        <h2 style="text-align: -webkit-center;">
            ¿En que más te puedo ayudar? <br>
            ¿Tienes una patología digestiva? <br>
            (sibo, imo, h.pylori, gastritis…) este es tu sitio!
        </h2>
        <div style="text-align: -webkit-center;">
            <button mat-raised-button style="color: white;background-color: green; margin: 10px;" (click)="patologia()">
                CLICKA AQUI si padeces una patología digestiva
            </button>
        </div>


<div class="row" style="text-align: -webkit-center;">
    <div class="col">
        <video width="640" height="480" controls>
            <source src="assets/Video1.mp4" type="video/mp4">
        </video>
    </div>
</div>
-->