<div style="position:absolute;top: 0%;height: 50vh;z-index: -1;width: 100%;"
    ngSkipHydration>
    <div class="row"
        style="position: relative; background-color: #DAE4E0;height: 100%;">
    </div>
</div>
<div class="row" style="padding: 0 10vw;" ngSkipHydration>
    <div class="col-12 col-sm-6"
        style="text-align-last: center; padding: 0 1vw;">
        <img src="assets/listadoEspera/office.webp"
            alt="Foto Listado de espera fondo Office Clara Fuertes Nutrición"
            style="width: 100%; max-width: 350px;"
            title="foto listado de espera">
    </div>
    <div class="col-12 col-sm-6"
        style="text-align-last: center; padding: 0 1vw;">
        <img src="assets/listadoEspera/hoja.png" alt="hoja"
            style="width: 100%; max-width: 350px;" title="hoja">
        <h1 style="font-family: Sedan SC;
        font-size: 30px;
        font-weight: 400;
        line-height: 41.55px;
        text-align: center;
        ">
            Recupera tu vida y tu bienestar
        </h1>
        <p>
            <span style="font-family: Poppins;
            font-size: 18px;
            font-weight: 800;
            line-height: 30px;
            text-align: center;
            color: #7DAD9B;
            background-color: white;
            border-radius: 10px;
            background-size: 110%;
            padding: 0 10px;
            ">
                Mis acompañamientos 1:1
            </span>
            <br>
            <span style="font-family: Poppins;
            font-size: 14.58px;
            font-weight: 800;
            line-height: 21.87px;
            text-align: center;
            color: #D88708;
            ">
                Están llenos actualmente
            </span>
        </p>
        <h2 style="font-family: Poppins;
        font-size: 14.58px;
        font-weight: 400;
        line-height: 21.87px;
        text-align: justify;
        ">
            Si están interesada en ellos, <b> asegúrate de apuntarte aquí</b>,
            que te
            enviaré un email con la información cuando vaya a abrirlos de nuevo,
            para que puedas registrarte y estar dentro antes que nadie.
        </h2>
    </div>
</div>
<div class="row" style="justify-content: center;" ngSkipHydration>
    <p style="font-family: Handlee;
    font-size: 48px;
    font-weight: 400;
    line-height: 66.75px;
    text-align: center;
    color: #4D5C52;">
        ¿Cómo es un
        <span style="
        background-image: url(../../../../assets/listadoEspera/linea.png);
        background-size: cover;
        background-position-y: bottom;
        background-repeat: no-repeat;">
            acompañamiento
        </span>
        conmigo?
    </p>
    <p style="font-family: Poppins;
    font-size: 14.58px;
    font-weight: 400;
    line-height: 21.87px;
    text-align: justify;
    color: #4D5C52;
    max-width: 750px;
    padding: 0 10px;">
        Son <span
            style="background-color: #E0B167; border-radius: 10px;padding: 0 5px;">
            acompañamientos&nbsp;personalizados, </span>
        en los que junto lo mejor de un
        acompañamiento 1:1 y lo mejor de un curso.
        <br><br>
        Un programa definido y estructurado, donde durante 3 meses te enseño a
        alimentarte mientras te ayudo a recuperar tu bienestar, pero me ocupo de
        que después puedas mantenerlo.
        <br><br>
        ✔ Entrevista inicial mediante cuestionario
        <br><br>
        ✔ Revisiones completas cada 15 días
        <br><br>
        ✔ Contacto vía WhatsApp o E-mail durante todo el proceso
        <br><br>
        ✔ Vídeos de formación
        <br><br>
        ✔ Descargables
        <br><br>
        ✔ Y mucho más…
    </p>
    <p style="font-family: Handlee;
    font-size: 42px;
    font-weight: 400;
    line-height: 66.75px;
    text-align: center;    
    color: #4D5C52;">
        Ofrezco
        <span style="
        background-image: url(../../../../assets/listadoEspera/ralla.png);
        background-size: cover;
        background-position-y: bottom;
        background-repeat: no-repeat;
        color: #D88708;">
            2 tipos
        </span>
        de acompañamientos:
    </p>
    <p style="text-align: -webkit-center;">
        <span style="font-family: Poppins;
        font-size: 14.58px;
        font-weight: 600;
        line-height: 21.87px;
        text-align: center;
        color: #D88708;
        background-color: #E0B167;
        border-radius: 10px;
        padding: 0 10px;">
            PERDIDA&nbsp;DE&nbsp;GRASA PATOLOGÍA&nbsp;DIGESTIVA
        </span>
    </p>
    <div style="max-width: 600px;">
        <p style="font-family: Poppins;
        font-size: 14.58px;
        font-weight: 500;
        line-height: 21.87px;
        text-align: justify;
        padding: 0 10px;
        ">
            Uno enfocado a tratar o mejorar una patología o situación digestiva,
            y
            otro enfocado a perder grasa. Ambos con las bases de la
            <span
                style="background-color:#E0B167; border-radius: 10px; padding: 0 10px;">
                alimentación&nbsp;antiinflamatoria.
            </span>
        </p>
        <p style="
        font-family: Poppins;
        font-size: 14.58px;
        font-style: italic;
        font-weight: 300;
        line-height: 21.87px;
        text-align: justify;
        padding: 0 10px;
">
            Si tienes dudas, en mi web tienes toda la información para decidir
            cual
            se adapta más a tu objetivo.
        </p>
    </div>
</div>
<div class="row" style="justify-content: center;padding: 0px 10px;"
    ngSkipHydration>
    <div class="col"
        style="margin: 15px; max-width: 700px;text-align: -webkit-center;">
        <input type="text"
            placeholder="¿Cómo te llamas?" [(ngModel)]="Name">
        <br>
        <input type="text"
            placeholder="¿A que e-mail te escribo?" [(ngModel)]="Email">
        <br>
        <textarea rows="3"
            placeholder="¿Estás interesada en Sanar tus digestiones? ¿O en pérdida de grasa?"
            [(ngModel)]="Msg"></textarea>
        <br>
        <button type="submit" (click)="Send()">
            INFÓRMAME CUANDO ABRAS PLAZAS
        </button>
        <div *ngIf="done">
            Te confirmaremos vía correo si estas en la cola
        </div>
    </div>
</div>
<br><br>