.card {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: wrap;
  opacity: 0.9;
}

p {
  margin: 0;
}

.card-body {
  padding: 1rem 1rem;
}
.star{
  height: 16px;
}