<div class="card" style="max-width: 18rem;width:100%;height: 260px;">
  <img [src]="data.img" class="card-img-top" alt>
  <div class="card-body">
    <p class="card-text"
      style="
    font-family: Public Sans;
    font-size: 15px;
    font-style: italic;
    font-weight: 200;
    line-height: 20px;
    text-align: center;
    color: #1D3F28;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    line-clamp: 7; 
    -webkit-box-orient: vertical;
    "> {{data.Description}}
    </p>
    <br>
    <h5 class="card-title" style="font-family: Sedan SC;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;color: #1D3F28;
    "> {{data.Name}}
    </h5>
    <ng-container *ngFor="let item of [1,2,3,4,5]">
      <ng-container *ngIf="item<=data.Star">
        <img src="assets/starx.png" alt class="star">
      </ng-container>
      <ng-container *ngIf="item>data.Star">
        <img src="assets/star.png" alt class="star">
      </ng-container>
    </ng-container>
  </div>
</div>