button {
  width: 100%;
  min-width: 250px;
  max-width: 500px;
  height: 65px;
  border-radius: 40px;
  background-color: #c1e4d6;
  border-color: transparent;
  box-shadow: 7px 6px 16px 1px #c1e4d6;
  padding: 5px 5px;
}

.disabled {
  background-color: #c2cac7;
  box-shadow: 7px 6px 16px 1px #adb8b4;
}

.bottontext1 {
  font-family: Reem Kufi Ink;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #605e5e;
}

.bottontext2 {
  font-family: Reem Kufi Ink;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: #605e5e;
}

button:hover {
  background: linear-gradient(130deg, #c1e4d6, #ffffff, #40e0a0, #ffffff, #c1e4d6);
  background-size: 500% 500%;
  animation: buttonn 2000ms infinite;
}

button:hover.disabled {
  background-color: #939795;
  animation: buttodd 2000ms infinite;
}

@keyframes buttonn {

  0% {
    background-position: 0% 10%
  }


  100% {
    background-position: 100% 10%
  }
}

@keyframes buttodd {

  0% {
    background-position: 0% 10%
  }


  100% {
    background-position: 100% 10%
  }
}

.novedad {
  position: absolute;
  right: -20px;
  top: -50%;
  width: 64px;
  height: 64px;

  @media only screen and (max-width: 670px) {
    right: -10px;
  }

}

button {
  position: relative;
}