button {
  width: 100%;
  min-width: 350px;
  height: 66.71px;
  border-radius: 40px;
  background-color: #c1e4d6;
  border-color: transparent;
  box-shadow: 7px 6px 16px 1px #c1e4d6;
  padding: 5px 15px;
}
.disabled {
  background-color: #c2cac7;
  box-shadow: 7px 6px 16px 1px #adb8b4;
}
.bottontext1 {
  font-family: Reem Kufi Ink;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #605e5e;
}
.bottontext2 {
  font-family: Reem Kufi Ink;
  font-size: 11px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #605e5e;
}

button:hover {
  background-color: #8cd2a3;
  animation: buttonn 500ms;
}

button:hover.disabled {
  background-color: #939795;
  animation: buttodd 500ms;
}
@keyframes buttonn {
  0% {
    background-color: #c1e4d6;
  }
  100% {
    background-color: #8cd2a3;
  }
}

@keyframes buttodd {
  0% {
    background-color: #c2cac7;
  }
  100% {
    background-color: #939795;
  }
}
