<div class="body">
    <div class="e0">
        ¡Hola! Soy Clara
    </div>
    <div class="e1">
        Dietista-Nutricionista Colegiada,
    </div>
    <div class="e2">
        Especializada en inflamación, patología digestiva y pérdida de grasa
    </div>
    <br>
    <div class="e3">
        Estoy aquí para ayudarte a reconciliarte con tus digestiones y tu
        cuerpo, y que recuperes tu bienestar mediante una alimentación
        antiinflamatoria personalizada.
        <br>
        Mi objetivo es que domines tu alimentación, que por fin la entiendas, y
        que te sientas feliz y agusto en tu cuerpo. Me encantaría acompañarte
        para que estos cambios los integres para siempre.
    </div>
    <br>
    <div class="e4">
        Te alimentas cada día y varias veces al día
        <br>
        ¡Es la actividad que más haces a lo largo de tu vida!
        <br>
        Está claro, para ser feliz necesitas dominar este aspecto de tu vida.
        <br>
        ¡Y yo estoy aquí para que lo logres!
    </div>
    <img src="assets/Foto Clara OK 1.png">
    <br><br>
    <button class="Front"type="button" onclick="location.href='#ensalada'">
        RECURSO GRATUITO ENSALADAS
        <br>
        LA GUÍA INFALIBLE QUE RESUELVE TODAS TUS DUDAS
    </button>
    <br>
    <button class="Front"type="button" onclick="location.href='#compra'">
        CURSOS PARA TI
    </button>
    <br>
    <button class="Front"type="button" onclick="location.href='#patologia'">
        PATOLOGIA DIGESTIVA Y DIETA ANTIINFLAMATORIA PARA OTROS PROCESOS
        ACOMPAÑAMIENTO NUTRICIONAL 1:1
    </button>
    <br>
    <button class="Front"type="button" onclick="location.href='#nutricion'">
        PÉRDIDA DE GRASA ACOMPAÑAMIENTO NUTRICIONAL 1:1
    </button>
</div>
