<div style="text-align: -webkit-center;padding: 100px;">
    <div class="login-box" style="text-align-last: center;max-width: 500px;">
        <div class="login-logo">
            <img src="https://elvestidordesofia.es/wp-content/uploads/elementor/thumbs/logo-removebg-preview-qgwv3dqmwbn962gna0v0k3ugvodqwg6yakj3b4pu5k.png"
                class="ancho_total_60 margin_top_10 margin_bottom_10">
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Pon tus credenciales para iniciar sesi칩n</p>
                <form action="/curso/login" method="POST">
                    <div class="input-group mb-3">
                        <input type="text" name="User" class="form-control" placeholder="Correo electr칩nico/username">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="Password" class="form-control" placeholder="Contrase침a">
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Iniciar sesi칩n</button>
                        </div>
                    </div>
                    <% messages.forEach(element=> { %>
                        <br>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <%= element %>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                        <% }) %>
                </form>
            </div>
        </div>
    </div>
</div>