.carousel-inner {
  width: 90%;

  @media only screen and (max-width: 670px) {
    width: 70%;
  }
}

.carousel {
  text-align: -webkit-center;
  margin: 15px 0px;
  overflow: hidden;
}

button {
  width: 5%;


  @media only screen and (max-width: 670px) {
    width: 15%;
  }

  img {
    width: 100%;
  }
}

.carousel-control-prev {
  padding-left: 10px;


}

.carousel-control-next {
  padding-right: 10px;

}